.day90 {
    &_banner {
        padding-left: 60px;
        @media screen and (max-width: 575px) {
            padding-left: 20px;
        }
    }
    &_pain {
        padding: 0 20px;
        img {
            max-width: 1100px;
            width: 100%;
            margin: 50px auto 100px;
        }
        @media screen and (max-width: 575px) {
            img {
                margin: 50px auto;
            }
        }
    }
    &_charm {
        background: linear-gradient(-126deg, #b2a4bb 0%, #e9dee2 100%);
        &_inner {
            padding: 75px 20px 130px;
            background-image: url(../images/days90/90days_charm_bg.png);
            background-size: 32%;
            background-position: right -5%;
            background-repeat: no-repeat;
        }
        &_title {
            display: block;
            max-width: 500px;
            width: 100%;
            margin: 0 auto 30px;
        }
        &_content {
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            .row {
                margin-left: -10px;
                margin-right: -10px;
                >div {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        &_item {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            margin-bottom: 20px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover {
                .day90_charm {
                    &_mask {
                        background-color: rgba(60, 31,68, 0.8);
                        &::after {
                            opacity: 1;
                        }
                    }
                    &_text {
                        bottom: 50%;
                        transform: translateY(50%);
                        h3 {
                            font-size: 32px;
                        }
                    }
                }
            }
        }
        &_mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            transition: 0.5s;
            &::after {
                position: absolute;
                content: "";
                width: calc(100% - 26px);
                height: calc(100% - 26px);
                border: 1px solid #eba7f3;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: 0.5s;
            }
        }
        &_text {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            bottom: 30px;
            transition: 0.5s;
            h3 {
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                margin-bottom: 5px;
                letter-spacing: 0.05em;
                transition: 0.5s;
            }
            p {
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                color: #fff;
                letter-spacing: 0.05em;
            }
        }
        @media screen and (max-width: 767px) {
            &_inner {
                background-size: 50%;
                background-position: -30% 110%;
            }
            &_title {
                max-width: 300px;
            }
        }
        @media screen and (max-width: 575px) {
            &_text {
                bottom: 15px;
            }
            &_content {
                .row {
                    margin-left: -7px;
                    margin-right: -7px;
                    >div {
                        margin: 0;
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
            }
        }
        @media screen and (max-width: 370px) {
            &_content {
                .row {
                    >div {
                        width: 100%;
                    }
                }
            }
        }
    }
    &_flow {
        padding: 70px 10px 120px;
        background-image: url(../images/days90/90days_flow_bg.png);
        background-size: 27%;
        background-position: 0 calc(100% - 6vw);
        background-repeat: no-repeat;
        &_title {
            max-width: 440px;
            width: 100%;
            display: block;
            margin: 0 auto 35px;
        }
        &_item {
            width: 313px;
            height: 66px;
            background-image: url(../images/days90/90days_flow_item.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 55px;
            position: relative;
            span {
                font-size: 30px;
                color: #fff;
                font-weight: 500;
            }
            &:not(.reserve) {
                &::before {
                    position: absolute;
                    content: "";
                    width: 30px;
                    height: 22px;
                    background-image: url(../images/days90/90days_flow_arrow.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    left: 50%;
                    top: -40px;
                    transform: translateX(-50%);
                }
            }
            .remark {
                position: absolute;
                border-radius: 100px;
                background-color: #eba7f3;
                color: #4d0e5f;
                font-size: 16px;
                font-weight: 600;
                padding: 2px 10px;
                left: 25px;
                top: 0;
                transform: translateY(-50%);
            }
            &.fight {
                background-image: url(../images/days90/90days_flow_item-pink.png);
                margin-top: 10px;
                .remark {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &::before {
                    top: -50px;
                }
            }
        }
        @media screen and (max-width: 767px) {
            background-image: none;
            &_item {
                width: 220px;
                height: 46px;
                span {
                    font-size: 22px;
                }
                .remark {
                    font-size: 13px;
                }
            }
        }
        @media screen and (max-width: 450px) {
            &_item {
                width: 180px;
                height: 38px;
                span {
                    font-size: 18px;
                }
                .remark {
                    font-size: 12px;
                }
                &::before {
                    width: 20px;
                    height: 15px;
                }
            }
        }
        @media screen and (max-width: 350px) {
            &_item {
                span {
                    font-size: 16px;
                }
            }
        }
    }
    &_case {
        padding: 115px 20px 150px;
        background-color: #b2a4bb;
        background-image: url(../images/days90/90days_case_wave-top.png), url(../images/days90/90days_case_wave-bottom.png), url(../images/days90/90days_case_bg-1.png), url(../images/days90/90days_case_bg-2.png);
        background-size: 100%, 100%, 11.14%, 18.28%;
        background-repeat: no-repeat;
        background-position: 0 -2px, 0 bottom, 0 8.13vw, right 9.27vw;
        &_title {
            max-width: 450px;
            width: 100%;
            display: block;
            margin: 0 auto 10px;
        }
        &_ch {
            max-width: 200px;
            width: 100%;
            display: block;
            margin: 0 auto 10px;
        }
        &_content {
            padding: 0 85px;
            max-width: 1035px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            .swiper-button-next, .swiper-button-prev {
                position: absolute;
                width: 50px;
                height: 50px;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
                &::after {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .swiper-button-next {
                right: 0;
            }
            .swiper-button-prev {
                left: 0;
            }
        }
        &_slider {
            overflow: hidden;
            width: 100%;
            padding-bottom: 3px;
            .swiper-slide {
                background-color: transparent;
            }
        }
        &_outer {
            width: 100%;
            padding-bottom: 140%;
            position: relative;
        }
        &_item {
            position: absolute;
            width: 100%;
            height: calc(100% - 5px);
            top: 0;
            left: 0;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0 5px 0 #dfb6ff;
            >img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_before, &_after {
            position: absolute;
        }
        &_before {
            width: 30%;
            left: -40px;
            bottom: -55px;
            z-index: 1;
        }
        &_after {
            width: 26%;
            right: -20px;
            bottom: -55px;
            z-index: 1;
        }
        @media screen and (max-width: 767px) {
            background-size: 200vw, 200vw, 25%, 25%;
            background-position: center 0, center bottom, -10vw 50vw, right 11vw;
            &_before {
                width: 25%;
                left: 18%;
                bottom: -30px;
            }
            &_after {
                width: 23%;
                right: 19%;
                bottom: -38px;
            }
            &_content {
                padding: 0 35px;
                .swiper-button-prev, .swiper-button-next {
                    width: 35px;
                    height: 35px;
                }
            }
            &_title {
                max-width: 350px;
            }
            &_ch {
                max-width: 150px;
            }
            &_slider {
                .row {
                    margin-left: -7px;
                    margin-right: -7px;
                    >div {
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
            }
            &_item {
                border-radius: 20px;
            }
        }
        @media screen and (max-width: 575px) {
            padding: 60px 10px 75px;
            &_before {
                bottom: -10px;
            }
            &_after {
                bottom: -10px;
            }
        }
    }
    &_qa {
        padding: 35px 20px 80px;
        background-image: url(../images/days90/90days_qa_bg.png);
        background-size: 18vw;
        background-repeat: no-repeat;
        background-position: right 4vw;
        &_title {
            max-width: 148px;
            width: 100%;
            margin: 0 auto 40px;
            display: block;
        }
        &_q {
            display: flex;
            align-items: center;
            padding: 5px 10px;
            border: 1px solid #000;
            cursor: pointer;
            &_title {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color: #8a6bbe;
                span {
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                    transform: translateY(-2px);
                }
            }
            &_text {
                width: calc(100% - 40px - 33px);
                padding: 0 20px;
                font-size: 18px;
                font-weight: 600;
                color: #000;
            }
            &_icon {
                width: 20px;
                height: 20px;
                position: relative;
                .bar {
                    background-color: #8a6bbe;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s;
                    &.hori {
                        width: 100%;
                        height: 5px;
                    }
                    &.vert {
                        width: 5px;
                        height: 100%;
                    }
                }
            }
            &.active {
                .day90_qa_q_icon {
                    .bar {
                        &.vert {
                            transform: translate(-50%, -50%) rotate(90deg);
                        }
                    }
                }
            }
        }
        &_content {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        &_a {
            margin-top: 10px;
            background-color: #e1d9ef;
            display: flex;
            display: none;
            padding: 5px 10px;
            &_title {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color: #f34fac;
                span {
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                    transform: translateY(-2px);
                }
            }
            &_text {
                width: calc(100% - 40px);
                padding: 5px 20px;
                font-size: 18px;
                font-weight: 600;
                color: #000;
            }
        }
        &_item {
            margin-bottom: 10px;
        }
        @media screen and (max-width: 991px) {
            background-image: none;
        }
        @media screen and (max-width: 575px) {
            &_q {
                &_title {
                    width: 35px;
                    height: 35px;
                }
                &_text {
                    width: calc(100% - 35px - 20px);
                    padding: 0 10px;
                    font-size: 16px;
                }
            }
            &_a {
                &_title {
                    width: 35px;
                    height: 35px;
                }
                &_text {
                    width: calc(100% - 35px);
                    padding: 3px 10px;
                    font-size: 16px;
                }
            }
        }
    }
    &_teacher {
        padding: 50px 20px;
        background-color: #ece7ee; 
        &_title {
            max-width: 380px;
            width: 100%;
            display: block;
            margin: 0 auto 25px;
        }
        &_content {
            max-width: 1500px;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            padding: 0 100px;
            position: relative;
            .swiper-button-next, .swiper-button-prev {
                width: 60px;
                height: 60px;
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                img {
                    width: 100%;
                    height: 100%;
                }
                &::after {
                    display: none;
                }
            }
            .swiper-button-next {
                right: 0;
            }
            .swiper-button-prev {
                left: 0;
            }
        }
        &_slider {
            overflow: hidden;
            .swiper-slide {
                background-color: transparent;
            }
        }
        &_pic {
            width: 100%;
            padding-bottom: 114%;
            position: relative;
            margin-bottom: 15px;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                mask-image: url('../images/days90/teacher-style.svg');
                -webkit-mask-image: url('../images/days90/teacher-style.svg');
                mask-repeat: no-repeat;
                -webkit-mask-repeat: no-repeat;
                mask-size: contain;
                -webkit-mask-size: contain;
            }
        }
        &_item {
            width: 100%;
        }
        &_text {
            h3 {
                color: #db4d6d;
                font-size: 30px;
                font-weight: 500;
            }
            p {
                color: #000;
                font-weight: 500;
            }
        }
        @media screen and (max-width: 991px) {
            &_title {
                max-width: 300px;
            }
            &_content {
                padding: 0 60px;
                .swiper-button-next, .swiper-button-prev {
                    width: 40px;
                    height: 40px;
                }
            }
            &_text {
                h3 {
                    font-size: 24px;
                }
            }
        }
        @media screen and (max-width: 550px) {
            padding-left: 0;
            padding-right: 0;
            &_title {
                max-width: 250px;
            }
            &_content {
                padding: 0 50px;
                .swiper-button-next, .swiper-button-prev {
                    width: 30px;
                    height: 30px;
                }
                .swiper-button-next {
                    right: 10px;
                }
                .swiper-button-prev {
                    left: 10px;
                }
            }
            &_text {
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    &_video {
        padding: 55px 20px 75px;
        background-image: url(../images/days90/90days_video_bg.png);
        background-size: 41.82vw;
        background-repeat: no-repeat;
        background-position: calc(100% - 110px) bottom;
        &_title {
            max-width: 262px;
            width: 100%;
            margin: 0 auto;
            display: block;
        }
        &_content {
            max-width: 915px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            &_bg {
                width: 100%;
            }
            &_inner {
                width: 88%;
                padding-bottom: calc(88% * 0.5625);
                position: absolute;
                top: 8.2%;
                left: 6.7%;
                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
        @media screen and (max-width: 767px) {
            background-image: none;
            padding-left: 10px;
            padding-right: 10px;
            &_title {
                max-width: 200px;
            }
        }
    }
    &_reserve {
        padding-right: 110px;
        position: relative;
        margin-bottom: 40px;
        &_inner {
            border-radius: 0 30px 30px 0;
            background: linear-gradient(-126deg, #b2a4bb 0%, #e9dee2 100%);
        }
        &_innerr {
            background-image: url(../images/days90/90days_reserve_bg.png);
            background-size: 25vw;
            background-position: -2% 0;
            background-repeat: no-repeat;
            padding: 50px 0 40px 110px;
        }
        &_title {
            max-width: 495px;
            width: 100%;
            display: block;
            margin: 0 auto 35px;
        }
        &_form {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            .btn_send {
                display: block;
                width: fit-content;
                margin: 0 auto;
                width: 300px;
                padding: 0;
                border: 0;
                background-color: transparent;
                img {
                    width: 100%;
                }
            }
        }
        &_item {
            display: flex;
            // align-items: center;
            margin-bottom: 20px;
            label {
                display: block;
                width: 140px;
                margin-top: 6px;
                span {
                    font-size: 22px;
                    font-weight: 600;
                    color: #000;
                    &.highlight {
                        color: #ec358c;
                    }
                }
            }
        }
        &_input {
            width: calc(100% - 140px);
            input {
                width: 100%;
                height: 45px;
                border: 1px solid #000;
                padding: 5px 10px;
                font-size: 22px;
                outline: none;
                &::placeholder {
                    color: #3e3e3e;
                }
            }
            .btn-certify {
                background-color: #ec358c;
                color: #fff;
                font-size: 22px;
                border-radius: 10px;
                padding: 3px 10px; 
                border: 0;
                margin-top: 10px;
            }
        }
        &_gender {
            display: flex;
            align-items: center;
            &_item {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 50px;
                span {
                    font-size: 22px;
                    color: #3e3e3e;
                }
                &.active {
                    .day90_reserve_gender_check {
                        border-color: #ec358c;
                        .circle {
                            background-color: #ec358c;
                        }
                    }
                }
            }
            &_check {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid #636262;
                padding: 4px;
                transition: 0.3s;
                margin-right: 5px;
                background-color: #fff;
                .circle {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #636262;
                    transition: 0.3s;
                }
            }
        }
        &_slogan {
            width: 30%;
            position: absolute;
            left: 3%;
            bottom: 5%;
        }
        @media screen and (max-width: 991px) {
            padding-right: 50px;
            &_innerr {
                background-image: url(../images/days90/90days_reserve_title-m.png);
                background-size: auto 100%;
                padding-left: 50px;
            }
        }
        @media screen and (max-width: 767px) {
            padding-right: 20px;
            &_innerr {
                padding-left: 40px;
                padding-right: 20px;
            }
            &_title {
                max-width: 350px;
            }
            &_item {
                label {
                    width: 110px;
                    span {
                        font-size: 20px;
                    }
                }
            }
            &_input {
                width: calc(100% - 110px);
            }
            &_form {
                .btn_send {
                    width: 200px;
                }
            }
            &_gender {
                &_item {
                    margin-right: 20px;
                }
            }
            &_slogan {
                width: 60vw;
                bottom: 100%;
                left: inherit;
                right: 0;
            }
        }
        @media screen and (max-width: 400px) {
            &_item {
                label {
                    width: 90px;
                    margin-top: 10px;
                    span {
                        font-size: 16px;
                    }
                }
            }
            &_input {
                width: calc(100% - 90px);
            }
        }
    }
}