.day90_banner {
  padding-left: 60px;
}

@media screen and (max-width: 575px) {
  .day90_banner {
    padding-left: 20px;
  }
}

.day90_pain {
  padding: 0 20px;
}

.day90_pain img {
  max-width: 1100px;
  width: 100%;
  margin: 50px auto 100px;
}

@media screen and (max-width: 575px) {
  .day90_pain img {
    margin: 50px auto;
  }
}

.day90_charm {
  background: linear-gradient(-126deg, #b2a4bb 0%, #e9dee2 100%);
}

.day90_charm_inner {
  padding: 75px 20px 130px;
  background-image: url(../images/days90/90days_charm_bg.png);
  background-size: 32%;
  background-position: right -5%;
  background-repeat: no-repeat;
}

.day90_charm_title {
  display: block;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 30px;
}

.day90_charm_content {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.day90_charm_content .row {
  margin-left: -10px;
  margin-right: -10px;
}

.day90_charm_content .row > div {
  padding-left: 10px;
  padding-right: 10px;
}

.day90_charm_item {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 20px;
}

.day90_charm_item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.day90_charm_item:hover .day90_charm_mask {
  background-color: rgba(60, 31, 68, 0.8);
}

.day90_charm_item:hover .day90_charm_mask::after {
  opacity: 1;
}

.day90_charm_item:hover .day90_charm_text {
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.day90_charm_item:hover .day90_charm_text h3 {
  font-size: 32px;
}

.day90_charm_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.day90_charm_mask::after {
  position: absolute;
  content: "";
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  border: 1px solid #eba7f3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.day90_charm_text {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.day90_charm_text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.day90_charm_text p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .day90_charm_inner {
    background-size: 50%;
    background-position: -30% 110%;
  }
  .day90_charm_title {
    max-width: 300px;
  }
}

@media screen and (max-width: 575px) {
  .day90_charm_text {
    bottom: 15px;
  }
  .day90_charm_content .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .day90_charm_content .row > div {
    margin: 0;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media screen and (max-width: 370px) {
  .day90_charm_content .row > div {
    width: 100%;
  }
}

.day90_flow {
  padding: 70px 10px 120px;
  background-image: url(../images/days90/90days_flow_bg.png);
  background-size: 27%;
  background-position: 0 calc(100% - 6vw);
  background-repeat: no-repeat;
}

.day90_flow_title {
  max-width: 440px;
  width: 100%;
  display: block;
  margin: 0 auto 35px;
}

.day90_flow_item {
  width: 313px;
  height: 66px;
  background-image: url(../images/days90/90days_flow_item.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 55px;
  position: relative;
}

.day90_flow_item span {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}

.day90_flow_item:not(.reserve)::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 22px;
  background-image: url(../images/days90/90days_flow_arrow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  top: -40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.day90_flow_item .remark {
  position: absolute;
  border-radius: 100px;
  background-color: #eba7f3;
  color: #4d0e5f;
  font-size: 16px;
  font-weight: 600;
  padding: 2px 10px;
  left: 25px;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.day90_flow_item.fight {
  background-image: url(../images/days90/90days_flow_item-pink.png);
  margin-top: 10px;
}

.day90_flow_item.fight .remark {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.day90_flow_item.fight::before {
  top: -50px;
}

@media screen and (max-width: 767px) {
  .day90_flow {
    background-image: none;
  }
  .day90_flow_item {
    width: 220px;
    height: 46px;
  }
  .day90_flow_item span {
    font-size: 22px;
  }
  .day90_flow_item .remark {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  .day90_flow_item {
    width: 180px;
    height: 38px;
  }
  .day90_flow_item span {
    font-size: 18px;
  }
  .day90_flow_item .remark {
    font-size: 12px;
  }
  .day90_flow_item::before {
    width: 20px;
    height: 15px;
  }
}

@media screen and (max-width: 350px) {
  .day90_flow_item span {
    font-size: 16px;
  }
}

.day90_case {
  padding: 115px 20px 150px;
  background-color: #b2a4bb;
  background-image: url(../images/days90/90days_case_wave-top.png), url(../images/days90/90days_case_wave-bottom.png), url(../images/days90/90days_case_bg-1.png), url(../images/days90/90days_case_bg-2.png);
  background-size: 100%, 100%, 11.14%, 18.28%;
  background-repeat: no-repeat;
  background-position: 0 -2px, 0 bottom, 0 8.13vw, right 9.27vw;
}

.day90_case_title {
  max-width: 450px;
  width: 100%;
  display: block;
  margin: 0 auto 10px;
}

.day90_case_ch {
  max-width: 200px;
  width: 100%;
  display: block;
  margin: 0 auto 10px;
}

.day90_case_content {
  padding: 0 85px;
  max-width: 1035px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.day90_case_content .swiper-button-next, .day90_case_content .swiper-button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
}

.day90_case_content .swiper-button-next::after, .day90_case_content .swiper-button-prev::after {
  display: none;
}

.day90_case_content .swiper-button-next img, .day90_case_content .swiper-button-prev img {
  width: 100%;
  height: 100%;
}

.day90_case_content .swiper-button-next {
  right: 0;
}

.day90_case_content .swiper-button-prev {
  left: 0;
}

.day90_case_slider {
  overflow: hidden;
  width: 100%;
  padding-bottom: 3px;
}

.day90_case_slider .swiper-slide {
  background-color: transparent;
}

.day90_case_outer {
  width: 100%;
  padding-bottom: 140%;
  position: relative;
}

.day90_case_item {
  position: absolute;
  width: 100%;
  height: calc(100% - 5px);
  top: 0;
  left: 0;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 0 #dfb6ff;
          box-shadow: 0 5px 0 #dfb6ff;
}

.day90_case_item > img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.day90_case_before, .day90_case_after {
  position: absolute;
}

.day90_case_before {
  width: 30%;
  left: -40px;
  bottom: -55px;
  z-index: 1;
}

.day90_case_after {
  width: 26%;
  right: -20px;
  bottom: -55px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .day90_case {
    background-size: 200vw, 200vw, 25%, 25%;
    background-position: center 0, center bottom, -10vw 50vw, right 11vw;
  }
  .day90_case_before {
    width: 25%;
    left: 18%;
    bottom: -30px;
  }
  .day90_case_after {
    width: 23%;
    right: 19%;
    bottom: -38px;
  }
  .day90_case_content {
    padding: 0 35px;
  }
  .day90_case_content .swiper-button-prev, .day90_case_content .swiper-button-next {
    width: 35px;
    height: 35px;
  }
  .day90_case_title {
    max-width: 350px;
  }
  .day90_case_ch {
    max-width: 150px;
  }
  .day90_case_slider .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .day90_case_slider .row > div {
    padding-left: 7px;
    padding-right: 7px;
  }
  .day90_case_item {
    border-radius: 20px;
  }
}

@media screen and (max-width: 575px) {
  .day90_case {
    padding: 60px 10px 75px;
  }
  .day90_case_before {
    bottom: -10px;
  }
  .day90_case_after {
    bottom: -10px;
  }
}

.day90_qa {
  padding: 35px 20px 80px;
  background-image: url(../images/days90/90days_qa_bg.png);
  background-size: 18vw;
  background-repeat: no-repeat;
  background-position: right 4vw;
}

.day90_qa_title {
  max-width: 148px;
  width: 100%;
  margin: 0 auto 40px;
  display: block;
}

.day90_qa_q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border: 1px solid #000;
  cursor: pointer;
}

.day90_qa_q_title {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background-color: #8a6bbe;
}

.day90_qa_q_title span {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.day90_qa_q_text {
  width: calc(100% - 40px - 33px);
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.day90_qa_q_icon {
  width: 20px;
  height: 20px;
  position: relative;
}

.day90_qa_q_icon .bar {
  background-color: #8a6bbe;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.day90_qa_q_icon .bar.hori {
  width: 100%;
  height: 5px;
}

.day90_qa_q_icon .bar.vert {
  width: 5px;
  height: 100%;
}

.day90_qa_q.active .day90_qa_q_icon .bar.vert {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.day90_qa_content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.day90_qa_a {
  margin-top: 10px;
  background-color: #e1d9ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding: 5px 10px;
}

.day90_qa_a_title {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background-color: #f34fac;
}

.day90_qa_a_title span {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.day90_qa_a_text {
  width: calc(100% - 40px);
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.day90_qa_item {
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .day90_qa {
    background-image: none;
  }
}

@media screen and (max-width: 575px) {
  .day90_qa_q_title {
    width: 35px;
    height: 35px;
  }
  .day90_qa_q_text {
    width: calc(100% - 35px - 20px);
    padding: 0 10px;
    font-size: 16px;
  }
  .day90_qa_a_title {
    width: 35px;
    height: 35px;
  }
  .day90_qa_a_text {
    width: calc(100% - 35px);
    padding: 3px 10px;
    font-size: 16px;
  }
}

.day90_teacher {
  padding: 50px 20px;
  background-color: #ece7ee;
}

.day90_teacher_title {
  max-width: 380px;
  width: 100%;
  display: block;
  margin: 0 auto 25px;
}

.day90_teacher_content {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 100px;
  position: relative;
}

.day90_teacher_content .swiper-button-next, .day90_teacher_content .swiper-button-prev {
  width: 60px;
  height: 60px;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.day90_teacher_content .swiper-button-next img, .day90_teacher_content .swiper-button-prev img {
  width: 100%;
  height: 100%;
}

.day90_teacher_content .swiper-button-next::after, .day90_teacher_content .swiper-button-prev::after {
  display: none;
}

.day90_teacher_content .swiper-button-next {
  right: 0;
}

.day90_teacher_content .swiper-button-prev {
  left: 0;
}

.day90_teacher_slider {
  overflow: hidden;
}

.day90_teacher_slider .swiper-slide {
  background-color: transparent;
}

.day90_teacher_pic {
  width: 100%;
  padding-bottom: 114%;
  position: relative;
  margin-bottom: 15px;
}

.day90_teacher_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  mask-image: url("../images/days90/teacher-style.svg");
  -webkit-mask-image: url("../images/days90/teacher-style.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.day90_teacher_item {
  width: 100%;
}

.day90_teacher_text h3 {
  color: #db4d6d;
  font-size: 30px;
  font-weight: 500;
}

.day90_teacher_text p {
  color: #000;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .day90_teacher_title {
    max-width: 300px;
  }
  .day90_teacher_content {
    padding: 0 60px;
  }
  .day90_teacher_content .swiper-button-next, .day90_teacher_content .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
  .day90_teacher_text h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .day90_teacher {
    padding-left: 0;
    padding-right: 0;
  }
  .day90_teacher_title {
    max-width: 250px;
  }
  .day90_teacher_content {
    padding: 0 50px;
  }
  .day90_teacher_content .swiper-button-next, .day90_teacher_content .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
  .day90_teacher_content .swiper-button-next {
    right: 10px;
  }
  .day90_teacher_content .swiper-button-prev {
    left: 10px;
  }
  .day90_teacher_text h3 {
    font-size: 20px;
  }
  .day90_teacher_text p {
    font-size: 14px;
  }
}

.day90_video {
  padding: 55px 20px 75px;
  background-image: url(../images/days90/90days_video_bg.png);
  background-size: 41.82vw;
  background-repeat: no-repeat;
  background-position: calc(100% - 110px) bottom;
}

.day90_video_title {
  max-width: 262px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.day90_video_content {
  max-width: 915px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.day90_video_content_bg {
  width: 100%;
}

.day90_video_content_inner {
  width: 88%;
  padding-bottom: calc(88% * 0.5625);
  position: absolute;
  top: 8.2%;
  left: 6.7%;
}

.day90_video_content_inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .day90_video {
    background-image: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .day90_video_title {
    max-width: 200px;
  }
}

.day90_reserve {
  padding-right: 110px;
  position: relative;
  margin-bottom: 40px;
}

.day90_reserve_inner {
  border-radius: 0 30px 30px 0;
  background: linear-gradient(-126deg, #b2a4bb 0%, #e9dee2 100%);
}

.day90_reserve_innerr {
  background-image: url(../images/days90/90days_reserve_bg.png);
  background-size: 25vw;
  background-position: -2% 0;
  background-repeat: no-repeat;
  padding: 50px 0 40px 110px;
}

.day90_reserve_title {
  max-width: 495px;
  width: 100%;
  display: block;
  margin: 0 auto 35px;
}

.day90_reserve_form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.day90_reserve_form .btn_send {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  width: 300px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.day90_reserve_form .btn_send img {
  width: 100%;
}

.day90_reserve_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.day90_reserve_item label {
  display: block;
  width: 140px;
  margin-top: 6px;
}

.day90_reserve_item label span {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.day90_reserve_item label span.highlight {
  color: #ec358c;
}

.day90_reserve_input {
  width: calc(100% - 140px);
}

.day90_reserve_input input {
  width: 100%;
  height: 45px;
  border: 1px solid #000;
  padding: 5px 10px;
  font-size: 22px;
  outline: none;
}



.day90_reserve_input input::-webkit-input-placeholder {
  color: #a8a8a8;
}

.day90_reserve_input input:-ms-input-placeholder {
  color: #a8a8a8;
}

.day90_reserve_input input::-ms-input-placeholder {
  color: #a8a8a8;
}

.day90_reserve_input input::placeholder {
  color: #a8a8a8;
}

.day90_reserve_input .btn-certify {
  background-color: #ec358c;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  padding: 3px 10px;
  border: 0;
  margin-top: 10px;
}

.day90_reserve_gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.day90_reserve_gender_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 50px;
}

.day90_reserve_gender_item span {
  font-size: 22px;
  color: #3e3e3e;
}

.day90_reserve_gender_item.active .day90_reserve_gender_check {
  border-color: #ec358c;
}

.day90_reserve_gender_item.active .day90_reserve_gender_check .circle {
  background-color: #ec358c;
}

.day90_reserve_gender_check {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #636262;
  padding: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 5px;
  background-color: #fff;
}

.day90_reserve_gender_check .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #636262;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.day90_reserve_slogan {
  width: 30%;
  position: absolute;
  left: 3%;
  bottom: 5%;
}

@media screen and (max-width: 991px) {
  .day90_reserve {
    padding-right: 50px;
  }
  .day90_reserve_innerr {
    background-image: url(../images/days90/90days_reserve_title-m.png);
    background-size: auto 100%;
    padding-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .day90_reserve {
    padding-right: 20px;
  }
  .day90_reserve_innerr {
    padding-left: 40px;
    padding-right: 20px;
  }
  .day90_reserve_title {
    max-width: 350px;
  }
  .day90_reserve_item label {
    width: 110px;
  }
  .day90_reserve_item label span {
    font-size: 20px;
  }
  .day90_reserve_input {
    width: calc(100% - 110px);
  }
  .day90_reserve_form .btn_send {
    width: 200px;
  }
  .day90_reserve_gender_item {
    margin-right: 20px;
  }
  .day90_reserve_slogan {
    width: 60vw;
    bottom: 100%;
    left: inherit;
    right: 0;
  }
}

@media screen and (max-width: 400px) {
  .day90_reserve_item label {
    width: 90px;
    margin-top: 10px;
  }
  .day90_reserve_item label span {
    font-size: 16px;
  }
  .day90_reserve_input {
    width: calc(100% - 90px);
  }
}
/*# sourceMappingURL=90days.css.map */