.case {
    &_swiper {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        .swiper-slide {
            padding-top: 70px;
            background-color: transparent;
        }
    }
    &_pic {
        width: 200px !important;
        display: block;
        margin: -70px auto 25px;
        mask-image: url('../images/date/case-style.svg');
        -webkit-mask-image: url('../images/date/case-style.svg');
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    }
    &_item {
        padding: 0 30px 100px;
        h4 {
            font-size: 32px;
            margin-bottom: 25px;
        }
        p {
            color: #534652;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            letter-spacing: 0.05em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
    @media screen and (max-width: 991px) {
        &_pic {
            width: 130px !important;
            margin-top: -60px;
        }
        &_item {
            padding: 0 20px 60px;
            h4 {
                font-size: 28px;
                margin-bottom: 15px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

.btn-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #ec358c;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 35px;
    bottom: 130px;
    cursor: pointer;
    img {
        width: 50%;
    }
    &.bg-green {
        background-color: #13dcae;
    }
}