.input_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
}

.input_check_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.input_check_item:not(:last-child) {
  margin-right: 30px;
}

.input_check_item span {
  font-size: 18px;
  margin-top: -1px;
}

.input_check_item.active .input_check_box img {
  opacity: 1;
}

.input_check_box {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #F6EBFF;
  margin-right: 10px;
}

.input_check_box img {
  width: 100%;
  position: absolute;
  top: 2px;
  left: 5px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formBg {
  background-image: url(../images/form_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-common .btn-close {
  top: 20px;
  margin: 0;
}

.modal-common .modal-content {
  padding-top: 50px;
}

.modal-common .modal-header {
  position: static;
}

.modal_check_small img {
  width: 40px;
  margin-right: 10px;
}

.modal_check_small h3 {
  color: #896BA5;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.modal_badge {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #F6EBFF;
  color: #896BA5;
}

.modal_line {
  padding: 5px 55px;
  background-color: #66D059;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.modal_line img {
  width: 25px;
  margin-right: 10px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.modal_line span {
  font-size: 28px;
  color: #fff;
}

.modal_follow {
  padding-top: 25px;
  border-top: 1px solid #dfdfdf;
}

.modal_follow .link-singleNews {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.modal_follow .link-singleNews img {
  width: 100%;
}

.modal_date .modal-body {
  padding-bottom: 222px;
  background-image: url(../images/date_model_bg.png);
  background-size: 100%;
  background-position: 0 bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
  .modal_date .modal-body {
    padding-bottom: 150px;
  }
}

.page_banner {
  width: 100%;
  padding-bottom: 22.76%;
  position: relative;
}

.page_banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.page_banner h1 {
  letter-spacing: 0.05em;
  color: #fff;
  font-size: 62px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

@media screen and (max-width: 991px) {
  .page_banner {
    padding-bottom: 60.63%;
  }
  .page_banner h1 {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .page_banner h1 {
    font-size: 38px;
  }
}
/*# sourceMappingURL=common.css.map */