@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
.date_title {
  text-align: center;
  margin-bottom: 35px;
}

.date_title h2 {
  font-size: 68px;
  font-weight: bold;
  color: #525050;
  margin: 0 0 20px;
}

.date_title h2 .highlight {
  color: #f15775;
}

.date_title h3 {
  margin: 0 auto;
  width: 275px;
  height: 37px;
  background-image: url(../images/date/date_subTitle.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .date_title h2 {
    font-size: 56px;
  }
  .date_title h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .date_title h2 {
    font-size: 48px;
  }
  .date_title h3 {
    font-size: 16px;
    height: 30px;
    width: 223px;
  }
}

@media screen and (max-width: 575px) {
  .date_title h2 {
    font-size: 40px;
  }
  .date_title h3 {
    font-size: 16px;
    height: 30px;
    width: 223px;
  }
}

@media screen and (max-width: 450px) {
  .date_title h2 {
    font-size: 34px;
  }
  .date_title h3 {
    font-size: 14px;
    height: 25px;
    width: 186px;
  }
}

.date_banner {
  position: relative;
}

.date_banner_scroll {
  width: 25px;
  cursor: pointer;
  position: absolute;
  right: 100px;
  bottom: -50px;
}

.date_banner_scroll img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .date_banner_scroll {
    right: 20px;
    width: 20px;
  }
}

.date_path {
  background-image: url(../images/date/FUTURELOVE.png);
  background-size: 5vw;
  background-position: 0 50px;
  background-repeat: no-repeat;
  background-color: #fff;
}

.date_path_text {
  padding: 10vw 20px;
  background-image: url(../images/date/date_biround.png), url(../images/date/date_round.png);
  background-size: 21.3vw, 18.1vw;
  background-position: 12.55vw 2.66vw, calc(100vw - 33.75vw) calc(100% - 4.17vw);
  background-repeat: no-repeat;
}

.date_path_text p {
  font-family: 'Noto Serif TC', serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 3.2;
  letter-spacing: 0.5em;
  color: #2f2f2f;
  margin: 0;
}

.date_path_text p .highlight {
  color: #fc5c6c;
}

.date_path_main {
  padding-left: calc((100vw - 1320px) / 2);
}

.date_path_main .inner {
  background: linear-gradient(-145deg, #ede1eb 0%, #f1f1fa 50%, #eef0f9 100%);
}

.date_path_main .inner .bg {
  background-image: url(../images/date/date_donut.png);
  background-size: 39vw;
  background-position: 95% 113%;
  background-repeat: no-repeat;
  padding: 6.8vw calc((100vw - 1320px) / 2) 6.8vw 0;
}

@media screen and (max-width: 991px) {
  .date_path {
    background-image: none;
  }
  .date_path_main .inner .bg {
    padding: 125px 20px;
    background-size: 67.5vw;
    background-position: 200% 126%;
  }
  .date_path_text {
    background-size: 42.6vw, 26.46vw;
    background-position: -4.6vw 5vw, 86vw calc(100% - 2.2vw);
  }
  .date_path_text p {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .date_path_text p {
    font-size: 20px;
  }
}

.date_compare_item {
  padding: 100px 20px 60px;
  border-radius: 30px;
  width: 485px;
  background-repeat: no-repeat;
}

.date_compare_item.other {
  border: 1px solid #e3d4e8;
  background-color: #fff;
  background-image: url(../images/date/date_cross.png);
  background-size: 75%;
  background-position: 175% 175%;
  margin-right: 50px;
}

.date_compare_item.other h4 {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#2f97d0), to(#30679d));
  background-image: linear-gradient(to right, #2f97d0 0%, #30679d 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.date_compare_item.other h4::after {
  background-color: #cfcfcf;
}

.date_compare_item.other ul li .highlight {
  color: #4a9fff;
}

.date_compare_item.futurelove {
  border: 1px solid #ffcec9;
  background-color: #ffecea;
  background-image: url(../images/date/date_donut2.png);
  background-size: 124%;
  background-position: -60% -150%;
  margin-left: 50px;
  position: relative;
}

.date_compare_item.futurelove h4 {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#de3242), to(#bd3a70));
  background-image: linear-gradient(to right, #de3242 0%, #bd3a70 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.date_compare_item.futurelove h4::after {
  background-color: #e4d3d3;
}

.date_compare_item.futurelove ul li .highlight {
  color: #ff226d;
}

.date_compare_item h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.date_compare_item h4::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 1px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.date_compare_item ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.date_compare_item ul li {
  font-size: 22px;
  color: #515151;
  line-height: 1.8;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.date_compare_item .win {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ed5954), to(#e91a50));
  background: linear-gradient(0deg, #ed5954 0%, #e91a50 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
  color: #fff;
  top: -25px;
  right: -25px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.date_compare_item .win span {
  margin: 0 5px;
  text-align: center;
  display: block;
}

@media screen and (max-width: 1199px) {
  .date_compare_item {
    width: 400px;
  }
}

@media screen and (max-width: 991px) {
  .date_compare_item {
    padding: 80px 10px 30px;
  }
  .date_compare_item.other {
    margin-right: 10px;
  }
  .date_compare_item.futurelove {
    margin-left: 10px;
  }
  .date_compare_item h4 {
    font-size: 24px;
  }
  .date_compare_item ul li {
    font-size: 16px;
  }
  .date_compare_item .win {
    width: 80px;
    height: 80px;
    font-size: 22px;
    right: 25px;
  }
}

@media screen and (max-width: 450px) {
  .date_compare_item {
    width: 100%;
  }
}

.date_service {
  padding: 125px 20px;
  background-image: url(../images/date/date-setvice_bg-1.png), url(../images/date/date-setvice_bg-2.png);
  background-size: 14.27vw, 12.81vw;
  background-position: right 49px, 0 calc(100% - 140px);
  background-repeat: no-repeat;
}

.date_service_content {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.date_service_item {
  margin-bottom: 50px;
}

.date_service_item img {
  width: 160px;
  display: block;
  margin: 0 auto 25px;
}

.date_service_item h4 {
  text-align: center;
  font-size: 24px;
  color: #f05875;
  margin: 0 0 5px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.date_service_item p {
  text-align: center;
  color: #392938;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.date_service_slogan {
  text-align: center;
  font-size: 44px;
  color: #f05875;
  font-weight: 500;
  font-style: italic;
}

.date_service_slogan .highlight {
  font-size: 76px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .date_service {
    background-image: none;
  }
  .date_service_slogan {
    font-size: 30px;
  }
  .date_service_slogan .highlight {
    font-size: 60px;
  }
}

@media screen and (max-width: 575px) {
  .date_service {
    padding: 65px 20px;
  }
  .date_service_item img {
    width: 120px;
  }
  .date_service_item h4 {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .date_service_slogan {
    font-size: 24px;
  }
  .date_service_slogan .highlight {
    font-size: 52px;
  }
}

.date_feedback {
  background: linear-gradient(-145deg, #ede1eb 0%, #f1f1fa 50%, #eef0f9 100%);
}

.date_feedback .inner {
  padding: 125px 0;
  background-image: url(../images/date/date_feedback_bg1.png), url(../images/date/date_feedback_bg2.png);
  background-size: 25.89vw,35.36vw;
  background-repeat: no-repeat;
  background-position: 0 -90%, right 125%;
}

.date_feedback_swiper {
  max-width: 1030px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
  position: relative;
}

.date_feedback_swiper .swiper-slide {
  background-color: transparent;
}

.date_feedback_swiper .swiper-pagination {
  bottom: 0;
}

.date_feedback_swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: #434548;
}

.date_feedback_swiper .swiper-pagination-bullet-active {
  background-color: #9a7abb;
}

.date_feedback_item {
  position: relative;
  width: 100%;
  padding-bottom: 202.65%;
}

.date_feedback_item img {
  position: absolute;
}

.date_feedback_item img.date_feedback_pic {
  width: 93.38%;
  width: 50%;
}

.date_feedback_item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}

.date_feedback_pic {
  position: absolute;
  width: 89.38%;
  padding-bottom: calc(89.38% * 2.19);
  top: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 36px;
  overflow: hidden;
}

.date_feedback_pic > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  .date_feedback_pic {
    border-radius: 3.3vw;
  }
}

@media screen and (max-width: 767px) {
  .date_feedback .inner {
    background-size: 60vw,100vw;
    background-position: -51% -73%, 53vw 125%;
  }
}

.date_assurance {
  padding: 125px 20px;
  background-image: url(../images/date/date_assurance_bg1.png), url(../images/date/date_assurance_bg2.png);
  background-size: 20.31vw, 19.64vw;
  background-position: 0 3.49vw, right calc(100% - 10px);
  background-repeat: no-repeat;
}

.date_assurance_intro {
  color: #525050;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

.date_assurance_table {
  max-width: 1135px;
  width: 100%;
  margin: 0 auto;
}

.date_assurance_table td {
  padding: 15px 30px;
}

.date_assurance_table tr:nth-child(odd) {
  background-color: #f0f1fa;
}

.date_assurance_item {
  font-size: 24px;
  font-weight: 500;
  color: #525050;
  letter-spacing: 0.05em;
  padding-left: 55px;
  position: relative;
}

.date_assurance_item .highlight {
  color: #f15775;
}

.date_assurance_item::before {
  position: absolute;
  content: "";
  width: 39px;
  height: 39px;
  background-image: url(../images/date/date_assurance_icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 991px) {
  .date_assurance {
    background-image: none;
  }
  .date_assurance_table td {
    display: block;
    padding: 15px;
  }
  .date_assurance_table td:nth-child(odd) {
    background-color: #f0f1fa;
  }
  .date_assurance_table tr {
    background-color: #fff !important;
  }
  .date_assurance_item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .date_assurance_item {
    font-size: 20px;
    padding-left: 45px;
  }
  .date_assurance_item::before {
    width: 30px;
    height: 30px;
  }
}

.date_pic {
  position: relative;
}

.date_pic .row {
  margin: 0;
}

.date_pic .row > div {
  padding: 0;
  margin: 0;
}

.date_pic_brand {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .date_pic_brand {
    width: 34%;
  }
}

.date_case {
  padding: 125px 0;
}

.date_case_inner {
  padding: 0 50px;
  background-image: url(../images/date/date_case_bg.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50px calc(138.59px - 18.5px);
  z-index: 0;
}

.date_case_swiper {
  position: relative;
  padding-bottom: 60px;
}

.date_case_swiper .case_item {
  background-color: #f0f1fa;
}

.date_case_swiper .case_item h4 {
  color: #f15775;
}

.date_case_swiper .swiper-pagination {
  bottom: 0;
}

.date_case_swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: #434548;
}

.date_case_swiper .swiper-pagination-bullet-active {
  background-color: #9a7abb;
}

@media screen and (max-width: 991px) {
  .date_case_inner {
    background-position: 0 calc(138.59px - 18.5px);
    background-size: 100%;
  }
}

@media screen and (max-width: 767px) {
  .date_case_inner {
    background-position: 0 calc(124.19px - 18.5px);
  }
}

@media screen and (max-width: 575px) {
  .date_case_inner {
    background-position: 0 calc(98px - 15px);
    background-size: 150%;
  }
}

@media screen and (max-width: 450px) {
  .date_case {
    padding: 60px 0;
  }
  .date_case_inner {
    background-position: 0 calc(85.8px - 12.5px);
  }
}

.date_join {
  padding: 125px 20px;
  background-image: url(../images/date/date_reserve_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.date_join_form {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  border: 10px solid #fdd0d3;
  background-color: #fff;
  padding: 100px 60px;
}

.date_join_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 20px;
  border-bottom: 2px solid #fdd0d3;
}

.date_join_item label {
  width: 20%;
  font-size: 24px;
  font-weight: 500;
  color: #2b2a2a;
}

.date_join_item .require {
  width: 20%;
}

.date_join_item .require_tag {
  padding: 3px 10px;
  background-color: #ffb2b7;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.date_join_item .check_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.date_join_item .check_item_square {
  width: 40px;
  height: 40px;
  border: 1px solid #ffb2b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date_join_item .check_item_square img {
  width: 80%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.date_join_item .check_item span {
  font-size: 20px;
  margin-left: 10px;
}

.date_join_item .check_item.active .check_item_square img {
  opacity: 1;
}

.date_join_input {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.date_join_input input, .date_join_input select {
  width: calc(100% - 250px);
  border: 1px solid #ffb2b7;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  outline: none;
}

.date_join_input input::-webkit-input-placeholder, .date_join_input select::-webkit-input-placeholder {
  color: #ffb2b7;
}

.date_join_input input:-ms-input-placeholder, .date_join_input select:-ms-input-placeholder {
  color: #ffb2b7;
}

.date_join_input input::-ms-input-placeholder, .date_join_input select::-ms-input-placeholder {
  color: #ffb2b7;
}

.date_join_input input::placeholder, .date_join_input select::placeholder {
  color: #ffb2b7;
}

.date_join_input select {
  background-color: #ffb2b7;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/date/date_select_arrow.png);
  background-size: 20px;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.date_join_input button {
  width: 200px;
  border-radius: 10px;
  background-color: #f15775;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 0;
  outline: none;
  height: 45px;
}

.date_join_btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 65px auto 0;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background-color: #f15775;
  color: #fff;
  border: 0;
  font-size: 40px;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 1100px) {
  .date_join_form {
    padding: 75px 30px;
  }
}

@media screen and (max-width: 991px) {
  .date_join_item {
    padding: 15px 0;
  }
  .date_join_item label {
    width: 50%;
  }
  .date_join_item .require {
    width: 50%;
  }
  .date_join_item .require_tag {
    margin-left: auto;
  }
  .date_join_input {
    width: 100%;
    margin-top: 15px;
  }
  .date_join_input input, .date_join_input select {
    width: 100%;
  }
  .date_join_input button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 575px) {
  .date_join {
    background-image: url(../images/date/date_reserve_bg-m.png);
  }
  .date_join_form {
    padding: 30px 20px;
  }
  .date_join_btn {
    margin-top: 30px;
    padding: 10px 30px;
    width: auto;
    height: auto;
    font-size: 32px;
  }
  .date_join_item label {
    font-size: 18px;
  }
  .date_join_item .require_tag {
    font-size: 18px;
  }
  .date_join_input input, .date_join_input select {
    font-size: 18px;
  }
}

.date_ad {
  display: block;
  margin: 0 auto 185px;
  max-width: 1000px;
  width: calc(100% - 40px);
}

@media screen and (max-width: 450px) {
  .date_ad {
    margin-bottom: 60px;
  }
}

.wedding_list {
  padding: 150px 0;
}

.wedding_list_pic {
  width: 100%;
  padding-bottom: 74.88%;
  position: relative;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}

.wedding_list_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.wedding_list_name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #DD96B4;
  padding: 3px 25px;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .wedding_list {
    padding: 75px 0;
  }
}

.wedding_item {
  margin-bottom: 70px;
  display: block;
}

.wedding_item p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.wedding_item:hover .wedding_list_name {
  background-color: #BE95CF;
}

@media screen and (max-width: 767px) {
  .wedding_item {
    margin-bottom: 40px;
  }
}

.wedding_detail .row {
  margin: 0;
}

.wedding_detail .row > div {
  padding: 0;
}

.wedding_detail_pic {
  width: 100%;
  height: calc(100vh - 115px - 169.31px);
  position: relative;
}

.wedding_detail_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.wedding_detail_mask {
  position: absolute;
  width: 90%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#FBF7FF), to(rgba(251, 247, 255, 0)));
  background: linear-gradient(270deg, #FBF7FF 0%, rgba(251, 247, 255, 0) 100%);
  top: 0;
  right: 0;
}

.wedding_detail_back {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #F6EBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  top: 35px;
  left: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wedding_detail_back svg {
  width: 30%;
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}

.wedding_detail_back svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wedding_detail_back:hover {
  background-color: #E074AA;
}

.wedding_detail_back:hover svg path {
  stroke: #fff;
}

.wedding_detail_text {
  height: calc(100vh - 115px - 169.31px);
  overflow-y: auto;
  padding: 65px;
}

.wedding_detail_text h1 {
  position: relative;
  z-index: 0;
  margin-bottom: 0;
}

.wedding_detail_text h1 .text {
  color: #896BA5;
  font-size: 56px;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 13px;
  background-color: #FBF7FF;
}

.wedding_detail_text h1 .line {
  width: 100%;
  height: 1px;
  background-color: #BE95CF;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.wedding_detail_text h2 {
  color: #896BA5;
  font-size: 18px;
  margin: 10px 0 45px;
  font-weight: normal;
  letter-spacing: 0.05em;
}

.wedding_detail_content p {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin: 0 0 45px;
}

.wedding_detail_content img {
  width: 100%;
  margin-bottom: 45px;
}

@media screen and (max-width: 991px) {
  .wedding_detail_pic {
    height: 0;
    padding-bottom: 75%;
  }
  .wedding_detail_mask {
    height: 90%;
    width: 100%;
    top: inherit;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#FBF7FF), to(rgba(251, 247, 255, 0)));
    background: linear-gradient(0deg, #FBF7FF 0%, rgba(251, 247, 255, 0) 100%);
  }
  .wedding_detail_text {
    height: auto;
    overflow-y: inherit;
  }
}

@media screen and (max-width: 767px) {
  .wedding_detail_text {
    padding: 40px 20px;
  }
  .wedding_detail_text h1 .text {
    font-size: 42px;
  }
  .wedding_detail_text h2 {
    font-size: 16px;
  }
  .wedding_detail_content p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=date.css.map */



.date_video {
  display: block;
  position: relative;
  padding: 55px 20px 75px;
  background-size: 41.82vw;
  background-repeat: no-repeat;
  background-position: calc(100% - 110px) bottom;
}

.date_video_title {
  max-width: 524px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.date_video_content {
  max-width: 915px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.date_video_content_bg {
  width: 100%;
}

.date_video_content_inner {
  width: 88%;
  padding-bottom: calc(88% * 0.5625);
  position: absolute;
  top: 8.2%;
  left: 6.7%;
}

.date_video_content_inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .date_video {
    background-image: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .date_video_title {
    max-width: 200px;
  }
}