/*--↓faq_star↓--*/
.LV5_faq {
	position: relative;
	width: 100%;
	height: auto;
    padding: 0;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0);
    /*顏色標記*/
    display: flex;
    flex-direction: column;
}

.FAQ_main_box {
	position: relative;
    width: 90%;
    max-width: 1400px;
    height: auto;
    margin: auto;
	background-color: rgba(241, 78, 214, 0);
	/*顏色標記*/
	z-index: 0;
}

.FAQ_big_title {
	position: relative;
	width: 100%;
	height: auto;
    margin-bottom: 5%;
	font-size: 4.5vw;
	text-align: center;
	font-weight: 900;
	color: #444;
}

.FAQ_content_zone {
	position: relative;
	width: 100%;
	height: auto;
	top: 0;
	background-color: #4be75300;
	/*顏色標記*/
	z-index: 71;
	padding-bottom: 100px;
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

/*大標*/
.accordion-title{
  display: flex;
  align-items: center;
}
.accordion button {
	border: 1px solid #ccc;
	margin-top: 20px;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 2.5rem 5rem;
  font-size: 28px;
  font-weight: 700;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color:  #000;
}
.accordion button[aria-expanded='true']{
  border: 1px solid #78c312;
}
.accordion button:hover {
  cursor: pointer;
  border: 1px solid #78cc31;
}

/*左邊的icon*/
.accordion button .fa-question-circle{
  color: #ccc;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  transition: .3s;
}
.accordion button:hover .fa-question-circle{
  cursor: pointer;
  color: #78cc31;
  margin-right: 3rem;
  transition: .3s;
}
.accordion button[aria-expanded='true'] .fa-question-circle {
  color: #78cc31;
  width: 25px;
  height: 25px;
}

/*右邊的icon*/
.accordion button .icon {
  color: #ccc;
  width: 25px;
  height: 25px;
  transition: .3s;
}
.accordion button:hover .icon{
  cursor: pointer;
  color: #78cc31;
  transition: .3s;
}
.accordion button[aria-expanded='true'] .icon {
  color: #78cc31;
  width: 25px;
  height: 25px;
  transform: rotate(-90deg);
  transition: .3s;
}

/*展開的faq*/
.accordion button[aria-expanded='true'] + .accordion-content {
	padding: 1rem 5rem 3rem 5rem;
	opacity: 1;
	max-height: 50rem;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}
/*關閉的的faq*/
.accordion .accordion-content {
	padding: 1rem 5rem 0 5rem;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}

/*faq內容-題目*/
.accordion-content-tittle{
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  margin-top: 2rem;
  letter-spacing: 1px;
}
/*faq內容-內文*/
.accordion-content-inside{
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
}

/*使用者合約*/
.contract_popup{
  display: flex;
  align-items: center;
  justify-content: start;
}
.contract{
  width: 25%;
  height: 60px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  margin: 30px 20px 0 0;
  border: 1px solid #78cc31;
  border-radius: 10px;
  overflow: hidden;
}
.contract:hover{
color: #fff;
background-color: rgba(119, 204, 49, 0.7);
transition: .3s; 
}

@media (max-width:768px) {
	
/*大標*/
  .accordion button {
	  border: 1px solid #ccc;
	  margin-top: 20px;
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 1.5rem 3rem;
	font-size: 21px;
	font-weight: 700;
	background: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	color:  #000;
  }
    
  /*展開的faq*/
  .accordion button[aria-expanded='true'] + .accordion-content {
	  padding: 1rem 3rem 2rem 3rem;
	  opacity: 1;
	  max-height: 50rem;
	  -webkit-transition: all .5s linear;
	  transition: all .5s linear;
  }
  /*關閉的的faq*/
  .accordion .accordion-content {
	  padding: 1rem 3rem 0 3rem;
	  opacity: 0;
	  max-height: 0;
	  overflow: hidden;
	  -webkit-transition: all .5s linear;
	  transition: all .5s linear;
  }
  
  /*faq內容-題目*/
  .accordion-content-tittle{
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	margin-top: 2rem;
	letter-spacing: 1px;
  }
  /*faq內容-內文*/
  .accordion-content-inside{
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	letter-spacing: 1px;
  }
  
/*左邊的icon*/
.accordion button .fa-question-circle{
	color: #ccc;
	width: 21px;
	height: 21px;
	margin-right: 1rem;
	transition: .3s;
  }
  .accordion button:hover .fa-question-circle{
	cursor: pointer;
	color: #78cc31;
	margin-right: 3rem;
	transition: .3s;
  }
  .accordion button[aria-expanded='true'] .fa-question-circle {
	color: #78cc31;
	width: 21px;
	height: 21px;
  }
  
  /*右邊的icon*/
  .accordion button .icon {
	color: #ccc;
	width: 21px;
	height: 21px;
	transition: .3s;
  }
  .accordion button:hover .icon{
	cursor: pointer;
	color: #78cc31;
	transition: .3s;
  }
  .accordion button[aria-expanded='true'] .icon {
	color: #78cc31;
	width: 21px;
	height: 21px;
	transform: rotate(-90deg);
	transition: .3s;
  }
  /*使用者合約*/
  .contract_popup{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .contract{
	width: 40%;
	height: 50px;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 1px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 15px;
	margin: 30px 10px 0 0;
	border: 1px solid #78cc31;
	border-radius: 10px;
	overflow: hidden;
  }
  .contract:hover{
  color: #fff;
  background-color: rgba(119, 204, 49, 0.7);
  transition: .3s; 
  }
  
}

@media (max-width:600px) {
	
.FAQ_big_title {
	position: relative;
	width: 100%;
	height: auto;
    margin-bottom: 5%;
	font-size: 4.5vh;
	line-height: 4.5vh;
	text-align: center;
	font-weight: 900;
	color: #444;
}
	/*大標*/
	  .accordion button {
		  border: 1px solid #ccc;
		position: relative;
		display: block;
		text-align: left;
		width: 100%;
		padding: 1rem 1rem;
		font-size: 18px;
		font-weight: 700;
		background: none;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 10px;
		color:  #000;
	  }
		
	  /*展開的faq*/
	  .accordion button[aria-expanded='true'] + .accordion-content {
		  padding: 0rem 2rem;
		  opacity: 1;
		  max-height: 50rem;
		  -webkit-transition: all .5s linear;
		  transition: all .5s linear;
	  }
	  /*關閉的的faq*/
	  .accordion .accordion-content {
		padding: 0rem 2rem;
		opacity: 0;
		  max-height: 0;
		  overflow: hidden;
		  -webkit-transition: all .5s linear;
		  transition: all .5s linear;
	  }
	  
	  /*faq內容-題目*/
	  .accordion-content-tittle{
		font-size: 18px;
		line-height: 21px;
		font-weight: 500;
		margin-top: 1rem;
		letter-spacing: 1px;
	  }
	  /*faq內容-內文*/
	  .accordion-content-inside{
		font-size: 14px;
		line-height: 21px;
		font-weight: 300;
		letter-spacing: 1px;
	  }
	  
	  /*使用者合約*/
	  .contract_popup{
		display: flex;
		align-items: center;
		justify-content: center;
	  }
	  .contract{
		width: 45%;
		height: 40px;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 1px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2px 5px;
		margin: 20px 10px 0 0;
		border: 1px solid #78cc31;
		border-radius: 10px;
		overflow: hidden;
	  }
	  .contract:hover{
	  color: #fff;
	  background-color: rgba(119, 204, 49, 0.7);
	  transition: .3s; 
	  }
	  
	}
/*--↑faq_end↑--*/