@charset "utf-8";

.close-flyout {
	font-weight: bold;
	font-size: 40px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	right: 15px;
	color: #000;
	line-height: 15px;
	transition: all .3s;
	opacity: .3;
}
.close-flyout:hover {
	text-decoration: none;
	opacity: 1;
	color: #000;
}
#flyout-form-container {
	width: 800px;
	position: fixed;
	top: 100px;
    right: -560px;
    z-index: 80;
    transition: all .5s;
}

#flyout-form-container.out {
	right: 0;
}
.form-tab {
    width: 100px;
    padding-top: 5%;
	position: absolute;
	top: 0;
	left: 140px; /*設定標籤位置*/
    color: #000;
    background-color: aquamarine;
}

.form-tab:hover, .form-tab:active, .form-tab:focus {
	text-decoration: none;
	color: #000;
}

.form-tab-copy {
	text-align: center;
	background: #E2EC57;
	width: 100px;
	float: right;
	padding: 10px 10px 10px 0;
}

.form-body {
	position: absolute;
	top: 0;
	right: 0;
	width: 500px;
	padding: 30px;
	background: #E2EC57;
}