/* * {
    font-family: Arial, Helvetica, 微軟正黑體, Microsoft JhengHei, sans-serif;
}
 */
html,
body {
    padding: 0;
    margin: 0;
}

#topBar {
    position: fixed;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 24px;
    background-color: #00000000;
    color: #fff;
    z-index: 300;
}

.logo {
    width: auto;
    height: 60%;
    vertical-align: middle;
}

.icon-link {
    display: inline-block;
    height: 100%;
    float: right;
}

.icon-link>a {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 8px;
    opacity: 0.8;
    transition: 0.5s ease;
    text-decoration: none;
    color: #fff;
}

.icon-link>a:hover {
    opacity: 1.0;
}

.icon-link>a>span {
    display: none;
}

.hamburger {
    display: none;
}

@media (max-width:768px) {
    #topBar {
        padding: 0;
        position: fixed;
        height: 45px;
        background-color: #171717;
    }
    .logo {
        margin-left: 5%;
        height: 22px;
    }
    .icon-link {
        width: 100%;
        height: 0;
        padding: 0;
        opacity: 0;
        background-color: #171717;
        transition: 0.5s ease;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
    }
    .icon-link.click {
        height: auto;
        opacity: 1.0;
        top: 44px;
    }
    .icon-link>a {
        width: 100%;
        padding: 1% 0;
        text-align: center;
        margin-left: 0;
        font-size: 22px;
        float: left;
    }
    .icon-link>a>span {
        display: inline-block;
        margin-left: 5px;
    }
    .icon-link>a:hover {
        background-color: #333;
    }
    .hamburger {
        display: block;
        position: relative;
        text-align: center;
        float: right;
        width: 45px;
        height: 99%;
        background-color: #171717;
        font-size: 0;
    }
    .hamburger>div {
        display: block;
        position: absolute;
        width: 70%;
        margin-left: 15%;
        height: 3px;
        background-color: rgb(190, 190, 190);
        transition: 0.5s ease;
    }
    .hamburger>div:nth-child(1) {
        top: 10px;
    }
    .hamburger>div:nth-child(2) {
        top: 20px;
    }
    .hamburger>div:nth-child(3) {
        top: 31px;
    }
    .hamburger.click>div:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: left top;
        margin-left: 30%;
    }
    .hamburger.click>div:nth-child(2) {
        top: 26px;
        transform: scale(0.0);
        transform-origin: center center;
    }
    .hamburger.click>div:nth-child(3) {
        top: 33px;
        transform: rotate(-45deg);
        transform-origin: left bottom;
        margin-left: 30%;
    }
}