/*--↓NEWS_star↓--*/
.LV2_zone {
	position: relative;
	width: 100%;
	height: auto;
}

.NEWS_main_box {
	position: relative;
	width: 87%;
	height: auto;
	background-color: rgba(241, 78, 214, 0);
	/*顏色標記*/
	z-index: 71;

	margin:0 auto;

}
.news_con{
	display:column;
	overflow:hidden;
	max-width: 100%;
}

.NEWS_big_title {
    position: relative;
    width: 30.65%;
    height: auto;
    top: 0%;
    left: 4.5%;
    z-index: 71;
}

.NEWS_big_title_line {
	position: relative;
	width: 90.5%;
	height: 1px;
	top: 11%;
	left: 4.5%;
	background-color: #4c4948;
	/*顏色標記*/
	z-index: 71;
}

/*more*/
.NEWS_big_title_more {
	position: absolute;
	width: 10%;
	height: auto;
	padding-bottom: 1%;
	top: 20%;
	right: 2%;
	background-color: #50dbb800;
	/*顏色標記*/
	z-index: 71;
}

.NEWS_big_title_more p {
	text-align: center;
	color: #4c4948;
	font-size: 1.2rem;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.NEWS_content_zone {
	position: relative;
	display:block;
	width: 94%;
	height: auto;
	/*顏色標記*/
	z-index: 71;
	margin:5% auto 3%;
	overflow:hidden;
	z-index:5;
}


@media (max-width:1024px) {
	.NEWS_big_title_more {
		width: 10%;
		top: 15%;
		right: 2%;

	}
}

@media (max-width:968px) {
	.NEWS_big_title_more {
		width: 8%;
		top: 12%;
		right: 5%;

	}
}



.news_box {
	display:block;
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 0%;
	margin-right: 1.5%;
	margin-left: 1.7%;
	background-color: #fafafa;
	/*顏色標記*/
}


.move_1 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
	--animate-duration: 0.8s;
}

.move_2 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	--animate-duration: 0.8s;
}

.move_3 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
	--animate-duration: 0.8s;
}

/*NEWS照片區*/
.news_img_box {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	/*顏色標記*/
	overflow: hidden;
}

.news_img_box img {
	transform: scale(1, 1);
	transition: all 0.6s ease-out;
}

.news_img_box img:hover {
	transform: scale(1.1, 1.1);
}

/*NEWS時間bar*/
.news_time {
	width: 100%;
	height: auto;
	background: #9a7cb6;
	/* Old browsers */
	background: -moz-linear-gradient(left, #fff21d 100%, #9a7cb6 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fff21d 0%, #9a7cb6 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fff21d 0%, #9a7cb6 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff21d', endColorstr='#9a7cb6', GradientType=1);
	/* IE6-9 */
}

.news_time p {
	color: #ffffff;
	text-align: right;
	font-weight: 500;
	font-size: 0.8vw;
	line-height: 1.5vw;
	margin-right: 4%;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

/*NEWS_標題字*/
.NEWS_title_word {
	width: 100%;
	height: auto;
	padding-top: 1%;
	padding-bottom: 2%;
	background-color: #f7f7f7;
	/*顏色標記*/
}

.NEWS_title_word p {
	color: #000000;
	text-align: left;
	font-weight: 500;
	font-size: 1vw;
	line-height: 1.5vw;
	margin-right: 4%;
	margin-left: 4%;
	margin-block-start: 0em;
	margin-block-end: 0em;

	/*字多...*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

/*NEWS_小字*/
.NEWS_msg {
	width: 100%;
	height: auto;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #f7f7f7;
	/*顏色標記*/
}

.NEWS_msg p {
	color: #000000;
	text-align: left;
	font-weight: 400;
	font-size: 0.8vw;
	line-height: 1.5vw;
	margin-left: 4%;
	font-family: 'Noto Sans TC', sans-serif;
	margin-block-start: 0em;
	margin-block-end: 0em;

	/*字多...*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: normal;
}

/*--向下箭頭--*/
.LV2_Down_arrow {
	position: absolute;
	width: 5.20%;
	height: auto;
	top: 105%;
	left: 50.5%;
	transform: translate(-50%, -50%);
	background-color: #28aecf00;
	/*顏色標記*/
	z-index: 59;
}

@media (max-width:1440px) {
	.NEWS_content_zone {
		width: 94%;
	}

	.NEWS_title_word p {
		font-size: 1.2vw;
	}

	.NEWS_msg p {
		font-size: 1vw;
	}
}

@media (max-width:800px) {


	.NEWS_main_box {
		width:96%;
	}

	.news_time p {
		line-height: 2.3vw;
	}

	.NEWS_title_word p {
		line-height: 1.9vw;
	}

	.NEWS_msg p {
		line-height: 2.5vw;
	}
}

@media (max-width:768px) {
	.LV2_zone {
		position: relative;
		width: 100%;
		height: auto;
		background-color: rgba(231, 22, 22, 0);
		/*顏色標記*/

	}

	.NEWS_main_box {
		position: relative;
		width:100%;
		height: auto;
		z-index: 59;

	}

	.NEWS_big_title {
		width: 35%;
		height: auto;
		top: 0%;
		left: 5%;
	}

	.NEWS_big_title_line {
		position: relative;
		width: 90.5%;
		height: 1px;
		top: 11%;
		left: 4.5%;
		background-color: #9b6fb7;
	}

	/*more*/
	.NEWS_big_title_more {
		position: absolute;
		width: 30%;
		height: auto;
		padding-bottom: 1%;
		top: 11%;
		right: 5%;
		background-color: #50dbb800;
	}

	.NEWS_big_title_more p {
		text-align: right;
		color: #9b6fb7;
		font-size: 1.2rem;

	}

	.NEWS_content_zone {
		position: relative;
		width: 74%;
		height: auto;

	}

	.news_box {
		width: 90%;
		height: auto;
		margin-left:4.5%;
	}

	/*NEWS時間bar*/
	.news_time p {
		text-align: right;
		font-weight: 500;
		font-size: 2vw;
		padding-top: 2%;
		padding-bottom: 2%;
	}

	/*NEWS_標題字*/
	.NEWS_title_word p {
		color: #000000;
		text-align: left;
		font-weight: 700;
		font-size: 1.6vw;
		line-height: 2.5vw;
	}

	/*NEWS_小字*/
	.NEWS_msg {
		padding-top: 2%;
		padding-bottom: 3%;
	}

	.NEWS_msg p {
		font-size: 1.4vw;
		line-height: 2.5vw;
	}

	/*--向下箭頭--*/
	.LV2_Down_arrow {
		position: absolute;
		width: 10.2%;
		top: 97%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width:716px) {
	.NEWS_content_zone {
		width: 98%;
		height: auto;
		
	}

	.NEWS_main_box {
		width:100%;
	}
}

@media (max-width:600px) {
	.NEWS_title_word p {
		line-height: 2.5vw;
	}
}

@media (max-width:500px) {


	.NEWS_title_word p {
		line-height: 3.5vw;
	}


	.NEWS_big_title_more {
		top: 4%;
		right: 5%;
	}



	.news_box {
		width: 84%;
		height: auto;
		float: left;
		padding-bottom: 0%;
		margin-right: 1.5%;
		margin-left: 8.7%;
		margin-bottom: 7%;
		background-color: #fafafa;
		/*顏色標記*/
	}

	.news_img_box {
		width: 100%;
		background-color: #ffffff;
		overflow: hidden;
	}

	.news_img_box img {
		height: auto;
	}

	/*NEWS時間bar*/
	.news_time p {
		text-align: right;
		font-weight: 500;
		font-size: 3vw;
		padding-top: 3%;
		padding-bottom: 3%;
	}

	/*NEWS_標題字*/
	.NEWS_title_word {
		padding-top: 3%;
		padding-bottom: 3%;
	}

	.NEWS_title_word p {
		color: #000000;
		text-align: left;
		font-weight: 700;
		font-size: 3vw;
		line-height: 4.5vw;
	}

	/*NEWS_小字*/
	.NEWS_msg {
		padding-top: 1%;
		padding-bottom: 2%;
	}

	.NEWS_msg p {
		font-size: 3vw;
		line-height: 3.5vw;
	}

	/*--向下箭頭--*/
	.LV2_Down_arrow {
		position: absolute;
		width: 20%;
		top: 100%;
		transform: translate(-50%, -50%);
	}
}



/*--↑NEWS_end↑--*/


/*--↓品牌概要_star↓--*/
.LV3_zone {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 3%;
	padding-top: 0px;
	margin-top: 0px;
	background-color: rgba(243, 122, 122, 0);
	/*顏色標記*/
	overflow: hidden;
	margin-bottom: 5vh;

}

.Ltd_info_box {
	position: absolute;
	width: 34.06%;
	height: auto;
	padding-bottom: 2%;
	top: 56.5%;
	left: 11.3%;
	background: #fff21d ;
	z-index: 59;
	opacity: 0.85;
}

.Ltd_info_box ul {
	width: 90%;
	height: auto;
	background-color: #4c494800;
	/*顏色標記*/
	margin: 0 auto;
	padding-inline-start: 0%;
}

.info_big_title {
	width: 100%;
	height: auto;
	color: #352f2d;
	font-size: 2.2vw;
	font-weight: 600;
	margin-top: 8%;
	padding-bottom: 5%;
	background-color: #35b65500;
	/*顏色標記*/

	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	--animate-duration: 0.8s;
}

.info_sec_title {
	width: 100%;
	height: auto;
	color: #352f2d;
	font-size: 1.3vw;
	font-weight: 600;
	padding-bottom: 2%;
	background-color: #c5f02a00;
	/*顏色標記*/

	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	--animate-duration: 0.8s;
}

.info_s_word {
	width: 100%;
	height: auto;
	color: #352f2d;
	font-size: 0.82vw;
	font-weight: 400;
	line-height: 166%;
	background-color: #35b65500;
	/*顏色標記*/

	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
	--animate-duration: 0.8s;
}



/*--向下箭頭--*/
.LV3_Down_arrow {
	position: absolute;
	width: 5.20%;
	height: auto;
	top: 96%;
	left: 50.5%;
	transform: translate(-50%, -50%);
	background-color: #28aecf00;
	/*顏色標記*/
	z-index: 59;
}

.clash-card2__image {
	position: relative;
	/*height: auto;*/
	padding-bottom: 34.5%;
	margin-bottom: 0px;
	background-size: 100%;
	background-repeat: no-repeat;
}

@media (max-width:1500px) {
	.info_sec_title {
		font-size: 1.5vw;
	}

	.info_s_word {
		font-size: 1.1vw;
	}
}

@media (max-width:768px) {
	.LV3_zone {
		position: relative;
		width: 100%;
		height: auto;
		padding-bottom: 9%;
		padding-top: 0px;
		margin-top: 0px;
		background-color: rgba(204, 38, 38, 0);
		/*顏色標記*/
		overflow: hidden;
	}

	.Ltd_info_box {
		position: absolute;
		width: 58.06%;
		height: auto;
		padding-bottom: 4%;
		top: 68%;
		left: 21.3%;
	}

	.info_big_title {
		font-size: 4.2vw;
	}

	.info_sec_title {
		font-size: 3vw;
	}

	.info_s_word {
		font-size: 2vw;
	}

	.bn_wrapper2 {
		padding-top: 14.3%;
		padding-bottom: 7%;
		background-color: #7fd62e00;
		/*顏色標記*/
	}

	.clash-card2 {
		width: 200%;
		display: inline-block;
		margin: auto;
		position: relative;
		box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, 0);
		/*陰影*/
		z-index: 9999;
	}

	.clash-card2__image {
		position: relative;
		height: auto;
		padding-bottom: 106.5%;
		margin-bottom: 0px;
	}

	/*BN_02*/
	.clash-card2__image_02 {
		background-image: url(../images/banner2_01.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.clash-card2__image_02 img {
		width: 55.2%;
		height: auto;
		position: absolute;
		top: -16%;
		left: 3%;
	}

	.slick-dots_02 {
		position: absolute;
		/* bottom: -25px; */
		bottom: -1%;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
	}

	/*--向下箭頭--*/
	.LV3_Down_arrow {
		position: absolute;
		width: 20%;
		top: 96%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width:500px) {
	.clash-card2__image {
		padding-bottom: 120%;

	}

	.LV3_zone {
		padding-bottom: 25%;
	}

	.Ltd_info_box {
		position: absolute;
		width: 70%;
		height: auto;
		padding-bottom: 2%;
		top: 60%;
		left: 13%;
		opacity: 0.9;
	}

	.info_big_title {
		width: 100%;
		height: auto;
		color: #352f2d;
		font-size: 1rem;
		font-weight: 600;
		margin-top: 8%;
		padding-bottom: 5%;
	}

	.info_sec_title {
		width: 100%;
		height: auto;
		color: #352f2d;
		font-size: 0.8rem;;
		font-weight: 600;
		padding-bottom: 3%;
	}

	.info_s_word {
		width: 100%;
		height: auto;
		color: #352f2d;
		font-size: 0.6rem;
		font-weight: 400;
		line-height: 166%;
	}

	.slick-dots_02 {
		position: absolute;
		bottom: -14%;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
	}
}

@media (max-width:414px) {
	.LV3_zone {
		position: relative;
		width: 100%;
		height: auto;
		padding-bottom: 30%;
		padding-top: 20px;
		margin-top: 0px;
		overflow:visible;
	}

	.Ltd_info_box {
		position: absolute;
		width: 81%;
		height: auto;
		padding-bottom: 2%;
		top: 60%;
		left: 9.3%;
		opacity: 0.9;
	}

	.info_big_title {
		width: 100%;
		height: auto;
		color: #352f2d;
		font-size: 1rem;
		font-weight: 600;
		margin-top: 8%;
		padding-bottom: 5%;
	}

	.info_sec_title {
		width: 100%;
		height: auto;
		color: #352f2d;
		font-size: 0.8rem;;
		font-weight: 600;
		padding-bottom: 3%;
	}

	.info_s_word {
		width: 100%;
		height: auto;
		color: #352f2d;
		font-size: 0.6rem;
		font-weight: 400;
		line-height: 166%;
	}

	.slick-dots_02 {
		position: absolute;
		bottom: -21%;
	}
}
@media (max-width:350px) {
	.LV3_Down_arrow {
		width: 25%;
		top: 95%;
	}
}
/*--↑品牌概要_end↑--*/


/*--↓公司概述_star↓--*/
.LV4_zone {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 40%;
	padding-top: 0px;
	margin-top: 0px;
	background-image: url(../images/company_bg.jpg);
    background-size: cover;
	/*顏色標記*/
	overflow: hidden;
}

.LV4_ltd_info_left {
	position: absolute;
	width: 49.73%;
	height: auto;
	padding-bottom: 0%;
	top: 10%;
	left: 11.2%;
	background-color: #28aecf00;
	/*顏色標記*/
	z-index: 59;
	overflow: hidden;
	display: block;
}

.LV4_ltd_info_left img {
	transform: scale(1, 1);
	transition: all 0.6s ease-out;
}

.LV4_ltd_info_left img:hover {
	transform: scale(1.1, 1.1);
}

.LV4_ltd_info_sp_left {
	display: none;
}

.LV4_ltd_info_right {
	position: absolute;
	width: 24.68%;
	height: auto;
	padding-bottom: 5%;
	top: 24.3%;
	left: 64.9%;
	background-color: #28aecf00;
	z-index: 59;
}

.LV4_ltd_info_right ul {
	width: 100%;
	height: auto;
	background-color: #d15c3500;
	/*顏色標記*/
	margin: 0 auto;
	padding-inline-start: 0%;
}

.LV4_info_big_title {
	width: 100%;
	height: auto;
	color: #352f2d;
	font-size: 2.2vw;
	font-weight: 600;
	margin-top: 0%;
	padding-bottom: 8%;
	font-family: 'Noto Sans TC', sans-serif;
	background-color: #35b65500;
	/*顏色標記*/

	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	--animate-duration: 0.8s;
}

.LV4_info_sec_title {
	width: 100%;
	height: auto;
	color: #000000;
	font-size: 1.3vw;
	font-weight: 600;
	padding-bottom: 3%;
	font-family: 'Noto Sans TC', sans-serif;
	background-color: #c5f02a00;
	/*顏色標記*/

	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	--animate-duration: 0.8s;
}

.LV4_info_s_title {
	width: 100%;
	height: auto;
	color: #000000;
	font-size: 1rem;
	font-weight: 400;
	line-height: 166%;
	font-family: 'Noto Sans TC', sans-serif;
	background-color: #35b65500;
	/*顏色標記*/

	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
	--animate-duration: 0.8s;
}

@media (max-width:1500px) {
	.LV4_info_big_title {
		font-size: 2.2vw;
		padding-bottom: 6%;
	}

	.LV4_info_sec_title {
		font-size: 1.5vw;
	}

	.LV4_info_s_title {
		font-size: 1.1vw;
	}
}

@media (max-width:970px) {
	.LV4_ltd_info_right {
		top: 14.3%;
		left: 64.9%;
	}
}

@media (max-width:768px) {

	.LV4_zone {
		position: relative;
		width: 100%;
		height: auto;
		padding-bottom: 135%;
		padding-top: 0px;
		margin-top: 0px;
		background-color: rgba(204, 38, 38, 0);
		background-image: url(../images/company_bgmob.jpg);
		background-position: right;
		/*顏色標記*/
		overflow: hidden;
	}

	.LV4_ltd_info_left {
		display: none;
	}

	.LV4_ltd_info_sp_left {
		position: absolute;
		width: 100%;
		height: auto;
		padding-bottom: 0%;
		top: 0;
		left: 0;
		background-color: #28aecf00;
		/*顏色標記*/
		z-index: 59;
		overflow: hidden;
		display: block;
	}

	.LV4_ltd_info_right {
		position: absolute;
		width: 80%;
		height: auto;
		top: 70%;
		left: 9%;
		background-color: #28aecf00;
		z-index: 59;
	}

	.LV4_info_big_title {
		text-align:center;
		padding-bottom: 5%;
		font-size: 4.2vw;
	}

	.LV4_info_sec_title {
		font-size: 3vw;
	}

	.LV4_info_s_title {
		font-size: 2vw;
	}
}

@media (max-width:511px) {
	.LV4_zone {
		padding-bottom: 160%;
	}

	.LV4_ltd_info_sp_left {
		position: absolute;
		width: 100%;
		height: auto;
		padding-bottom: 0%;
		top: 0;
		left: 0;
	}

	.LV4_ltd_info_right {
		position: absolute;
		width: 88%;
		height: auto;
		padding-bottom: 5%;
		top: 56%;
		left: 6.9%;
	}

	.LV4_info_big_title {
		width: 100%;
		height: auto;
		font-size: 6vw;
		font-weight: 600;
		margin-top: 5%;
	}

	.LV4_info_sec_title {
		width: 100%;
		height: auto;
		font-size: 4.3vw;
	}

	.LV4_info_s_title {
		width: 100%;
		height: auto;
		font-size: 3vw;
	}
}

@media (max-width:414px) {
	.LV4_zone {
		padding-bottom: 170%;
	}

	.LV4_ltd_info_sp_left {
		position: absolute;
		width: 100%;
		height: auto;
		padding-bottom: 0%;
		top: 0;
		left: 0;
	}

	.LV4_ltd_info_right {
		position: absolute;
		width: 90%;
		height: auto;
		padding-bottom: 5%;
		top: 56%;
		left: 5%;
	}

	.LV4_info_big_title {
		width: 100%;
		height: auto;
		font-size: 6vw;
		font-weight: 600;
		margin-top: 5%;
	}

	.LV4_info_sec_title {
		width: 100%;
		height: auto;
		font-size: 1.4rem;
	}

	.LV4_info_s_title {
		width: 100%;
		height: auto;
		font-size: 0.8rem;
		line-height:1.6rem;
	}

}

@media (max-width:340px) {
	.LV4_zone {
		padding-bottom: 200%;
	}

	.LV4_ltd_info_right {
		top: 46%;
		left: 6.9%;
	}
}

@media (max-width:280px) {
	.LV4_zone {
		padding-bottom: 300%;
	}

	.LV4_ltd_info_right {
		top: 35%;
	}

}

/*--↑公司概述_end↑--*/



/**--裝飾--*/
.cir1{
	position: absolute;
	width: 6.5%;
	height: auto;

	top: -10%;
	left: 0;
	z-index: 100;
	display: block;
}

.cir2{
	position: absolute;
	width: 40%;
	height: auto;
	top: -50%;
	left: 0%;
	z-index: 0;
	display: block;
}

.cir3{
	position: absolute;
	width: 20%;
	height: auto;
	top: 10%;
	right: 0;
	z-index: 0;
	display: block;
}

.cir1 img,.cir2 img,.cir3 img{
	max-width: 100%;
	height:auto
}

.mobshow{
	display:none !important;
 }

@media (max-width:768px) {
	.cir1,.cir2{
		display:none;
	}
	.pchide{
	   display:none !important;
	}
	.mobshow{
		display:block !important;
	 }
}


.slide-containernews {
	display:block;
    margin: auto;
    width: 100%;
	height:auto;
	margin-top:2%;
}



@media (max-width:768px) {
	.slide-containernews {
		margin-bottom:15%;
	}
	
	.ART_big_title {
		position: relative;
		width: 30.65%;
		height: auto;
		top: 0%;
		left: 4.5%;
	}

	.ART_big_title_line {
		position: relative;
		width: 90.5%;
		height: 1px;
		top: 11%;
		left: 4.5%;
		background-color: #9b6fb7;
		/*顏色標記*/

	}

	.ART_big_title_more {
		position: absolute;
		width: 30%;
		height: auto;
		padding-bottom: 1%;
		top: 60%;
		right: 5%;
		background-color: #50dbb800;
		}
		.ART_big_title_more p{
			text-align: right;
			color:#9b6fb7;
			font-size:1.2rem;
		}	
}

@media (max-width:320px) {
	.NEWS_big_title_more {
		padding-bottom: 0;
		top: 3%;
		right: 5%;

	}
	.NEWS_big_title_more p{
		font-size: 0.8rem;
	}

	.ART_big_title_more p {
		font-size: 0.8rem;
	}

}


@media (max-width:500px) {

	.ART_big_title_more {
		padding-bottom: 0;
		top: 45%;
		}
}

@media (max-width:420px) {

	.ART_big_title_more {

		padding-bottom: 0;
		top: 30%;
		right: 5%;
		}


}

@media (max-width:300px) {

	.ART_big_title_more {

		padding-bottom: 0;
		top: 30%;
		right: 5%;
		}

		.ART_big_title_more p{
			font-size:0.8rem;
		}		
}