@charset "utf-8";
/* CSS Document */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.txt {
	position: relative;
	width: 100%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	padding: 114px 20px 0px;
}
.t_1 {
	background-image: url(../images/tit1.png);
}
.t_2 {
	background-image: url(../images/tit2.png);
}
.t_3 {
	background-image: url(../images/tit3.png);
}
.t_4 {
	background-image: url(../images/tit4.png);
}

.phx2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	top: 0;
	left: 0;

	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;

	animation: pham 7s ease;
	animation-fill-mode: forwards;
	-webkit-animation: pham 7s ease;
	-webkit-animation-fill-mode: forwards;
}

.ph2_4_1 {
	background-image: url(../images/swiper/ph2-6.jpg);
}
.ph2_4_2 {
	background-image: url(../images/swiper/ph2-7.jpg);
}
.ph2_4_3 {
	background-image: url(../images/swiper/ph2-8.jpg);
}
.ph2_4_4 {
	background-image: url(../images/swiper/ph2-9.jpg);
}
.ph2_4_5 {
	background-image: url(../images/swiper/ph2-10.jpg);
}
.ph2_4_6 {
	background-image: url(../images/swiper/ph2-11.jpg);
}
.ph2_4_7 {
	background-image: url(../images/swiper/ph2-12.jpg);
}
.ph2_4_8 {
	background-image: url(../images/swiper/ph2-13.jpg);
}
.ph2_4_9 {
	background-image: url(../images/swiper/ph2-14.jpg);
}
.ph2_4_10 {
	background-image: url(../images/swiper/ph2-15.jpg);
}

.ph1 {
	background-image: url(../images/swiper/ph3-1.jpg);
}
.ph2 {
	background-image: url(../images/swiper/ph3-2.jpg);
}
.ph3 {
	background-image: url(../images/swiper/ph3-3.jpg);
}
.ph4 {
	background-image: url(../images/swiper/ph3-4.jpg);
}
.ph5 {
	background-image: url(../images/swiper/ph3-5.jpg);
}
.ph6 {
	background-image: url(../images/swiper/ph3-6.jpg);
}
.ph7 {
	background-image: url(../images/swiper/ph3-7.jpg);
}

.ph2-1 {
	background-image: url(../images/swiper/ph2-1.jpg);
}
.ph2-2 {
	background-image: url(../images/swiper/ph2-2.jpg);
}
.ph2-3 {
	background-image: url(../images/swiper/ph2-3.jpg);
}
.ph2-4 {
	background-image: url(../images/swiper/ph2-4.jpg);
}
.ph2-5 {
	background-image: url(../images/swiper/ph2-5.jpg);
}

.ptbx {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.ptbx > .ptimg,
.ptbx > .ptimg2 {
	position: relative;
	text-align: right;
}
.ptbx > .ptimg img,
.ptbx > .ptimg2 img {
	display: inline;
}
.ptbx > .ptcon {
	position: relative;
	width: 100%;
	padding: 2% 3%;
	color: #fff;
	font-size: 14px;
	text-indent: 2em;
	line-height: 2rem;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.7);
}
.ptbx > .ptcon span {
	margin-left: 2em;
}

#imubx {
	position: relative;
	width: 1200px;
	text-align: center;
	margin: 35px auto;
}
#imubx a,
#imubx2 a.mu2_0 {
	position: relative;
	width: 230px;
	padding-bottom: 56px;
	display: inline-block;
	cursor: pointer;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	margin: 5px 3px;
}
#imubx.imbubx_4_1 a {
	padding-bottom: 65px;
}
#imubx2 {
	position: relative;
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}
#imubx2 a {
	position: relative;
	width: 210px;
	padding-bottom: 56px;
	display: inline-block;
	cursor: pointer;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	margin: 5px 3px;
}

#imubx a span,
#imubx2 a span {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	opacity: 0;
	top: 0;
	left: 0;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#imubx a:hover span,
#imubx2 a:hover span {
	opacity: 1;
}

.mu2_1 {
	background-image: url(../images/smu2-1.png);
}
.mu2_1 > span {
	background-image: url(../images/smu2-1a.png);
}
.mu2_2 {
	background-image: url(../images/smu2-2.png);
}
.mu2_2 > span {
	background-image: url(../images/smu2-2a.png);
}
.mu2_3 {
	background-image: url(../images/smu2-3.png);
}
.mu2_3 > span {
	background-image: url(../images/smu2-3a.png);
}
.mu2_4 {
	background-image: url(../images/smu2-4.png);
}
.mu2_4 > span {
	background-image: url(../images/smu2-4a.png);
}

.mu2_0 {
	background-image: url(../images/smu1.png);
}
.mu2_0 > span {
	background-image: url(../images/smu1a.png);
}
.mu2_1_1 {
	background-image: url(../images/smu2.png);
}
.mu2_1_1 > span {
	background-image: url(../images/smu2a.png);
}
.mu2_1_2 {
	background-image: url(../images/smu3.png);
}
.mu2_1_2 > span {
	background-image: url(../images/smu3a.png);
}
.mu2_1_3 {
	background-image: url(../images/smu4.png);
}
.mu2_1_3 > span {
	background-image: url(../images/smu4a.png);
}
.mu2_1_4 {
	background-image: url(../images/mu2_1_4.png);
}
.mu2_1_4 > span {
	background-image: url(../images/mu2_1_4a.png);
}
/*2*/
.mu2_2_1 {
	background-image: url(../images/mu2_2_1.png);
}
.mu2_2_1 > span {
	background-image: url(../images/mu2_2_1a.png);
}
.mu2_2_2 {
	background-image: url(../images/mu2_2_2.png);
}
.mu2_2_2 > span {
	background-image: url(../images/mu2_2_2a.png);
}
.mu2_2_3 {
	background-image: url(../images/mu2_2_3.png);
}
.mu2_2_3 > span {
	background-image: url(../images/mu2_2_3a.png);
}
.mu2_2_4 {
	background-image: url(../images/mu2_2_4.png);
}
.mu2_2_4 > span {
	background-image: url(../images/mu2_2_4a.png);
}
.mu2_2_5 {
	background-image: url(../images/mu2_2_5.png);
}
.mu2_2_5 > span {
	background-image: url(../images/mu2_2_5a.png);
}
.mu2_2_6 {
	background-image: url(../images/mu2_2_6.png);
}
.mu2_2_6 > span {
	background-image: url(../images/mu2_2_6a.png);
}
.mu2_2_7 {
	background-image: url(../images/mu2_2_7.png);
}
.mu2_2_7 > span {
	background-image: url(../images/mu2_2_7a.png);
}
.mu2_2_8 {
	background-image: url(../images/mu2_2_8.png);
}
.mu2_2_8 > span {
	background-image: url(../images/mu2_2_8a.png);
}
.mu2_2_9 {
	background-image: url(../images/mu2_2_9.png);
}
.mu2_2_9 > span {
	background-image: url(../images/mu2_2_9a.png);
}
/*mu3*/
.mu3_1 {
	background-image: url(../images/smu3-1.png);
}
.mu3_1 > span {
	background-image: url(../images/smu3-1a.png);
}
.mu3_2 {
	background-image: url(../images/smu3-2.png);
}
.mu3_2 > span {
	background-image: url(../images/smu3-2a.png);
}
.mu3_3 {
	background-image: url(../images/smu3-3.png);
}
.mu3_3 > span {
	background-image: url(../images/smu3-3a.png);
}
.mu3_4 {
	background-image: url(../images/smu3-4.png);
}
.mu3_4 > span {
	background-image: url(../images/smu3-4a.png);
}
.mu3_5 {
	background-image: url(../images/smu3-5.png);
}
.mu3_5 > span {
	background-image: url(../images/smu3-5a.png);
}
.mu3_6 {
	background-image: url(../images/smu3-6.png);
}
.mu3_6 > span {
	background-image: url(../images/smu3-6a.png);
}
.mu3_7 {
	background-image: url(../images/smu3-7.png);
}
.mu3_7 > span {
	background-image: url(../images/smu3-7a.png);
}
/*mu4*/
.mu4_1 {
	background-image: url(../images/smu4-1.png);
}
.mu4_1 > span {
	background-image: url(../images/smu4-1a.png);
}
.mu4_2 {
	background-image: url(../images/smu4-2.png);
}
.mu4_2 > span {
	background-image: url(../images/smu4-2a.png);
}
.mu4_3 {
	background-image: url(../images/smu4-3.png);
}
.mu4_3 > span {
	background-image: url(../images/smu4-3a.png);
}
.mu4_4 {
	background-image: url(../images/smu4-4.png);
}
.mu4_4 > span {
	background-image: url(../images/smu4-4a.png);
}
.mu4_5 {
	background-image: url(../images/smu4-5.png);
}
.mu4_5 > span {
	background-image: url(../images/smu4-5a.png);
}
.mu4_6 {
	background-image: url(../images/smu4-6.png);
}
.mu4_6 > span {
	background-image: url(../images/smu4-6a.png);
}
.mu4_7 {
	background-image: url(../images/smu4-7.png);
}
.mu4_7 > span {
	background-image: url(../images/smu4-7a.png);
}
.mu4_8 {
	background-image: url(../images/smu4-8.png);
}
.mu4_8 > span {
	background-image: url(../images/smu4-8a.png);
}
.mu4_9 {
	background-image: url(../images/smu4-9.png);
}
.mu4_9 > span {
	background-image: url(../images/smu4-9a.png);
}
.mu4_10 {
	background-image: url(../images/smu4-10.png);
}
.mu4_10 > span {
	background-image: url(../images/smu4-10a.png);
}

#kmubx,
#kmubx2 {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	/*padding-bottom:3%;*/
}
#kmubx a {
	position: relative;
	width: 89px;
	padding-bottom: 90px;
	display: inline-block;
	cursor: pointer;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: 0 3px;
}
#kmubx a:hover,
.kactive {
	background-position: 50% 100%;
}
.kmu1_1 {
	background-image: url(../images/kmu1_1.png);
}
.kmu1_2 {
	background-image: url(../images/kmu1_2.png);
}
.kmu1_3 {
	background-image: url(../images/kmu1_3.png);
}
.kmu1_4 {
	background-image: url(../images/kmu1_4.png);
}
.kmu1_5 {
	background-image: url(../images/kmu1_5.png);
}
.kmu2_4_1 {
	background-image: url(../images/kmu1_6.png);
}
.kmu2_4_2 {
	background-image: url(../images/kmu1_7.png);
}
.kmu2_4_3 {
	background-image: url(../images/kmu1_8.png);
}
.kmu2_4_4 {
	background-image: url(../images/kmu1_9.png);
}
.kmu2_4_5 {
	background-image: url(../images/kmu1_10.png);
}
.kmu2_4_6 {
	background-image: url(../images/kmu1_11.png);
}
.kmu2_4_7 {
	background-image: url(../images/kmu1_12.png);
}
.kmu2_4_8 {
	background-image: url(../images/kmu1_13.png);
}
.kmu2_4_9 {
	background-image: url(../images/kmu1_14.png);
}
.kmu2_4_10 {
	background-image: url(../images/kmu1_15.png);
}

.kmu3_1 {
	background-image: url(../images/kmu3_1.png);
}
.kmu3_2 {
	background-image: url(../images/kmu3_2.png);
}
.kmu4_1 {
	background-image: url(../images/kmu4_1.png);
}
.kmu4_2 {
	background-image: url(../images/kmu4_2.png);
}
.kmu4_3 {
	background-image: url(../images/kmu4_3.png);
}
#kmubx2 {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 25px auto 15px;
}
#kmubx2 a {
	position: relative;
	padding-bottom: 58px;
	display: inline-block;
	cursor: pointer;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: 0 3px;
}
#kmubx2 a:hover,
.k2active {
	background-position: 50% 100%;
}
.k2mu_1 {
	background-image: url(../images/stt2-1.png);
	width: 199px;
}
.k2mu_2 {
	background-image: url(../images/stt2-2.png);
	width: 199px;
}
.k2mu_3 {
	background-image: url(../images/stt2-3.png);
	width: 132px;
}
.k2mu_4 {
	background-image: url(../images/stt2-4.png);
	width: 166px;
}

.playbt {
	position: absolute;
	width: 13%;
	padding-bottom: 13%;
	display: block;
	cursor: pointer;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	background-image: url(../images/play2.png);
	opacity: 0.7;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	left: 50%;
	margin-left: -6.5%;
	top: 50%;
	margin-top: -7%;
	z-index: 10;
}
.playbt:hover {
	opacity: 1;
}

.dwbx {
	position: relative;
	width: 100%;
	padding-bottom: 50px;
	margin: 0 auto;
}
.stcon {
	position: relative;
	width: 1000px;
	max-width: 100%;
	padding: 4vw 20px;
	font-size: 1.333rem;
	line-height: 2rem;
	color: #f1e0bf;
	text-align: left;
	margin: 0 auto 25px;
	background-attachment: scroll;
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 0%, 50% 100%;
	background-image: url(../images/st.png), url(../images/st.png);
}
.stcon2 {
	position: relative;
	width: 1200px;
	padding: 5rem 0;
	font-size: 1.333rem;
	line-height: 2rem;
	color: #f1e0bf;
	text-align: left;
	margin: 0 auto 25px;
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 0%, 50% 100%;
	background-image: url(../images/st.png), url(../images/st.png);
	background-size: 75% auto;
}

.swiper-slide.rc .pname img {
	width: auto;
	margin: auto;
}
.pname {
	font-size: 1.8rem;
	line-height: 3rem;
	color: #f5ecd9;
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 25px 0;
}
.rc {
	position: relative;
	width: 100%;
	text-align: left;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 0.9vw;
	line-height: 22px;
	color: #f1e0bf;
}
.rc1,
.rc2,
.rc3,
.rc4,
.rc5 {
	position: relative;
	width: 100%;
	text-align: left;
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 0.9vw;
	line-height: 22px;
}

.rctxt {
	width: 75%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	line-height: 22px;
	margin: 1% auto 5%;
}

.at1 {
	position: relative;
	font-size: 1.6rem;
	line-height: 2.5rem;
	padding: 13px 0 8px 29px;
	color: #ffd776;
	font-weight: bold;
	display: inline-block;
}
.at1::before {
	position: absolute;
	content: url(../images/icn2.png);
	left: 0;
	top: 13.5px;
}
.tf {
	position: relative;
	display: inline-block;
}
.tf2 {
	margin-left: 2.5rem;
}
.acph {
	position: relative;
	display: block;
	margin: 4rem auto 2rem;
	max-width: 100%;
}
.acb1 {
	border: 1px solid #a89c7b;
	border-radius: 10px;
	overflow: hidden;
}
.actbx {
	position: relative;
	text-align: center;
	padding: 20px 0 10px;
	width: 1200px;
	margin: auto;
	max-width: 100%;
}
.actbx img {
	position: relative;
	display: inline-block;
}
.tf ul {
	position: relative;
	padding: 5px 0 10px 25px;
}
.tf ul li {
	position: relative;
	list-style-type: decimal;
}
.im {
	position: relative;
	padding: 20px 0 15px;
	text-align: center;
	color: #ff3939;
}
.daybg {
	font-size: 1.25rem;
	line-height: 1.8rem;
	color: #1c1401;
	padding: 6px 0;
	background-color: #4ad1cf;
}
.tbbg {
	font-size: 1.2rem;
	line-height: 1.8rem;
	padding: 8px 3px;
	color: #fff9eb;
	background-color: #022327;
}


@media only screen and (max-width: 1200px) {
	#imubx,
	#imubx2 {
		width: 100%;
	}

	.stcon2 {
		width: 100%;
		padding: 7vw 10px;
		background-size: 100% auto;
	}
	.pname {
		padding: 40px 0 20px;
	}
}
@media only screen and (max-width: 900px) {
	.rw1 {
		width: 98%;
	}
	.pname {
		padding: 14% 0 3%;
	}
}

@media only screen and (max-width: 800px) {
	.pname {
		padding: 3% 0;
	}

	.txt {
		position: relative;
		width: 100%;
		padding-bottom: 11.4%;
		background-size: 100% auto;
	}
	#imubx {
		margin: 35px auto 10px;
	}
	.ptbx > .ptimg img {
		width: 62.8%;
	}
	.ptbx > .ptimg2 img {
		width: 62.8%;
	}

	.stcon {
		width: 100%;
		padding: 11vw 10px;
		font-size: 1.25rem;
		line-height: 1.8rem;
		background-position: 46% 0%, 46% 100%;
	}
	.swiper-slide.rc .pname img {
		width: 70%;
	}

	.rolebx {
		position: relative;
		/*width:98%;*/
		margin: 0 auto;
	}
	.rcobx {
		width: 95%;
		padding: 13% 10px 0;
		font-size: 1.25rem;
		line-height: 1.8rem;
	}
	.acph {
		width: 100%;
	}
	.acph2 {
		width: 50%;
		margin: 0 auto 2rem;
	}
	.rctxt {
		width: 100%;
	}
	.tf2 {
		margin-left: 0;
	}

	.txt {
		padding: 7% 0;
		margin: 15px auto 0;
		width: 80%;
	}

	.phx2 {
		background-size: auto 100%;
		animation: pham2 5s ease;
		animation-fill-mode: forwards;
		-webkit-animation: pham2 5s ease;
		-webkit-animation-fill-mode: forwards;
	}

	.ptbx > .ptimg img {
		width: 95%;
	}
	.ptbx > .ptimg2 img {
		width: 100%;
	}
	.ptbx > .ptcon {
		padding: 2% 3%;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.ph2_4 {
		background-image: url(../images/ph2_4m.jpg);
	}
	.ph2_5 {
		background-image: url(../images/ph2_5m.jpg);
	}
	.ph2_6 {
		background-image: url(../images/ph2_6m.jpg);
	}
	.ph2_7 {
		background-image: url(../images/ph2_7m.jpg);
	}
	.ph2_8 {
		background-image: url(../images/ph2_8m.jpg);
	}
	.ph2_9 {
		background-image: url(../images/ph2_9m.jpg);
	}

	.playbt {
		width: 24%;
		padding-bottom: 24%;
		margin-left: -12%;
		margin-top: -13%;
	}
}

@media only screen and (max-width: 560px) {
	#imubx a,
	#imubx2 a.mu2_0 {
		width: 31%; /*40*/
		padding-bottom: 10.45783%; /*13.4939*/
		margin: 1% 0.3%;
	}
	#imubx.imbubx_4_1 a {
		width: 31%; /*40*/
		padding-bottom: 10.45783%; /*13.4939*/
		margin: 0 0.3%;
	}

	#kmubx2 {
		margin: 15px auto 10px;
	}
	#kmubx2 a {
		padding-bottom: 35px;
	}

	.k2mu_1 {
		width: 120px;
	}
	.k2mu_2 {
		width: 120px;
	}
	.k2mu_3 {
		width: 80px;
	}
	.k2mu_4 {
		width: 100px;
	}
	#kmubx.km2_4 a {
		width: 18%;
		padding-bottom: 18.269%;
		margin: 0 -1px 2px;
	}
	.rc,
	.rc1,
	.rc2,
	.rc3,
	.rc4,
	.rc5 {
		font-size: 3vw;
	}
}
@media only screen and (max-width: 450px) {
	/* .txt {
		padding-bottom: 18%;
		background-size: auto 100%;
		margin: 15px auto 20px;
	} */
	#imubx2 a {
		width: 45%;
		padding-bottom: 12%;
		margin: 1% 0.4%;
	}
	#kmubx {
		width: 98%;
		/*padding-bottom:10%;*/
	}
	#kmubx a {
		width: 24%;
		padding-bottom: 24.269%;
		margin: 0 -1px 2px;
	}
}
@media only screen and (max-width: 390px) {
	.actbx img {
		width: 100%;
	}
}
@media only screen and (max-width: 320px) {
	#kmubx2 a {
		padding-bottom: 26px;
	}
	.k2mu_1 {
		width: 98px;
	}
	.k2mu_2 {
		width: 78px;
	}
	.k2mu_3 {
		width: 89px;
	}
	.k2mu_3 {
		width: 120px;
	}
}

@keyframes pham {
	0% {
		background-size: 100% auto;
	}
	100% {
		background-size: 118% auto;
	}
}
@keyframes pham2 {
	0% {
		background-size: auto 100%;
	}
	100% {
		background-size: auto 108%;
	}
}
