/*讀入思源黑體*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face {
    /*讀入辰宇落雁手寫體*/
    font-family: 'Chenyuluoyan';
    src: url('../fonts/ChenYuluoyan-Thin-Monospaced.ttf') format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    color: #4D4D4D;
}

img {
    max-width: 100%;
}

a {
    color: #4D4D4D;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #A184C1;
    text-decoration: none;
    transition: 0.5s;
}

a:active {
    color: #A184C1;
}

img,
svg {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}




/************************************/


/*以下為各區塊設定*/


/************************************/


/*****#header 區*/
@media (min-width: 992px) {
    #header {
        height: 115px;
    }

    #header .navbar {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 5px solid #BE95CF;
    }

    .collapse.navbar-collapse {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #4D4D4D;
    }

    .collapse.navbar-collapse ul.navbar-nav {
        padding-left: 8%;
        padding-right: 8%;
        letter-spacing: 0.05em;
        width: calc(100% - 168px);
        justify-content: space-between;
    }

    .collapse.navbar-collapse ul.navbar-nav li.nav-item {
        position: relative;
    }

    .collapse.navbar-collapse ul.navbar-nav li.nav-item:before {
        font-family: "Font Awesome 6 Pro";
        content: "\f004";
        font-weight: 900;
        position: absolute;
        font-size: 12px;
        line-height: 12px;
        color: #BE95CF;
        left: calc(50% - 6px);
        top: 10px;
        opacity: 0;
        transition: 0.5s;
    }

    .collapse.navbar-collapse ul.navbar-nav li.nav-item:hover:before,
    .collapse.navbar-collapse ul.navbar-nav li.nav-item.active:before {
        top: -5px;
        opacity: 1;
        transition: 0.5s;
    }

    .collapse.navbar-collapse ul.navbar-nav li.nav-item a {
        color: #4D4D4D;
    }

    .collapse.navbar-collapse ul.navbar-nav li.nav-item:hover a,
    .collapse.navbar-collapse ul.navbar-nav li.nav-item.active a {
        color: #A184C1;
    }

    .collapse.navbar-collapse .btn-login {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #A184C1;
        border: 1px solid #A184C1;
        padding: 13px 18px;
        border-radius: 100px;
    }

    .collapse.navbar-collapse .btn-login a {
        color: #A184C1;
        letter-spacing: 0.05em;
    }

    .collapse.navbar-collapse .btn-login:hover {
        background-color: #E074AA;
        border: none;
        color: #fff;
        transition: 0.5s;
    }

    .collapse.navbar-collapse .btn-login:hover a {
        color: #fff;
        transition: 0.5s;
    }
}

@media (max-width: 1399px) {
    .collapse.navbar-collapse ul.navbar-nav {
        padding: 0 2%;
        letter-spacing: normal;
    }
}

@media (max-width: 1199px) {
    .collapse.navbar-collapse ul.navbar-nav li.nav-item {
        font-size: 18px;
    }

    .collapse.navbar-collapse .btn-login {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    #header {
        height: 75px;
    }

    #header nav.navbar {
        background-color: #fff;
        border-bottom: 5px solid #BE95CF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

}

/***offcanvas 行動選單滑出塊的設定**/
.offcanvas-header {}

.offcanvas-body ul.navbar-nav li.nav-item.active a,
.offcanvas-body ul.navbar-nav li.nav-item:hover a {
    color: #BE95CF;
}

.offcanvas-body .d-flex {
    justify-content: center;
    margin-top: 1em;
}

.offcanvas-body .d-flex .btn-login {
    color: #A184C1;
    border: 1px solid #A184C1;
    padding: 13px 18px;
    border-radius: 100px;
}

.offcanvas-body .d-flex .btn-login a {
    color: #A184C1;
    letter-spacing: 0.05em;
}

.offcanvas-body .d-flex .btn-login:hover {
    background-color: #E074AA;
    border: none;
    color: #fff;
    transition: 0.5s;
}

.offcanvas-body .d-flex .btn-login:hover a {
    color: #fff;
    transition: 0.5s;
}

/*****如果已經登入的狀況**/
.d-flex .member_menu {
    display: none;
}

.d-flex.active .btn-login {
    display: none;
}

.d-flex.active .member_menu {
    display: block;
}

.d-flex .member_menu .menu_icon {
    position: relative;
}

.d-flex .member_menu .menu_icon>img {
    cursor: pointer;
}


.d-flex .member_menu .menu_icon .sub-menu {
    position: absolute;
    right: 0;
    display: none;
    background-color: transparent;
}

.d-flex .member_menu:hover .menu_icon .sub-menu {
    display: block;
}

.d-flex .member_menu .menu_icon ul.menu_list {
    list-style: none;
    width: 193px;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 15%);
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #4D4D4D;
}

.d-flex .member_menu .menu_icon ul.menu_list>li {
    margin-bottom: 1px;
}

.d-flex .member_menu .menu_icon ul.menu_list>li>a {
    display: block;
    padding: 10px 0px;
    border-radius: 10px;
}

ul.menu_list>li:hover>a,
ul.menu_list>li.active>a {
    background-color: #F6EBFF;
    color: #896BA5;
}

.offcanvas .d-flex .member_menu {
    width: 100%;
    text-align: center;
}

.offcanvas .d-flex .member_menu .menu_icon .sub-menu {
    width: 100%;
}

.offcanvas .d-flex .member_menu .menu_icon ul.menu_list {
    width: 100%;
}

/**** modal 互動視窗區*/
.modal-backdrop {
    background: rgba(246, 235, 255, 1);
}

.modal-backdrop.show {
    opacity: .87;
}

.modal-content {
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.15);
    border: none;
}

.modal-header {
    border-bottom: none;
}

.modal-header h5.modal-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #896BA5;
    width: 100%;
}

.modal-header button.btn-close {
    background-image: url(../images/modal-btn-close.svg);
    opacity: 1;
    background-size: initial;
    margin-right: 10px;
}

.modal-body .form_body {
    padding: 0 20px;
    font-size: 18px;
}



.modal-body .form_body .forget-register {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.modal-body .form_body .forget-register>a {
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #896BA5;
    display: inline-block;
}

.help-block.with-errors {
    font-size: 16px;
    line-height: 26px;
    color: #D65757;
}

.modal-footer {
    border-top: none;
}

/**** 表單設定 */
.form_body .form-group {
    margin-bottom: 1em;
    min-height: 60px;
}

.form_body input,
.form_body select {
    font-weight: 100;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #C6C6C6;
    padding: 15px 20px;
    border: 1px solid #6C6E70;
    border-radius: 20px;
}

.form_body select {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 20px 20px;
    color: #4D4D4D;
}

.form_body .form-group.has-danger input {
    border: 2px solid #D65757;
}

.form_body input.btn.btn-block,
.form_body button.btn.btn-block {
    opacity: 1;
    background: #E074AA;
    color: #fff;
    width: 100%;
    border: 1px solid #E074AA;
    font-size: 28px;
    line-height: 28px;
    margin-top: 1em;
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: 400;

}

.form_body input.btn.btn-block:hover,
.form_body button.btn.btn-block:hover {
    background-color: #fff;
    border: 1px solid #E074AA;
    color: #E074AA;
}

.form_body .button {
    text-align: center;
}

.form_body .button button {
    max-width: 425px;
}

.form_body label.title {
    color: #85697E;
    margin-right: 35px;
}

.form_body input[type="radio"] {
    display: none;
}

.form_body input[type="radio"]+span {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: #4D4D4D;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 100px;
}

.form_body input[type="radio"]:hover+span {
    background-color: #fff;
    border: 1px solid #896BA5;
    color: #896BA5;
}

.form_body input[type="radio"]:checked+span {
    background-color: #896BA5;
    color: #fff;
}

.form_body input[type="checkbox"] {
    position: relative;
    margin-right: 10px;
}

.form_body input[type="checkbox"]:after {
    content: url(../images/checkbox_no-checked.svg);
    display: inline-block;
    width: 26px;
    height: 20px;
    position: absolute;
    top: -3px;
    left: -3px;
}

.form_body input[type="checkbox"]:checked:after {
    content: url(../images/checkbox_checked.svg);
}


.form_body .help-block {
    margin-left: 20px;
}

.form_body .agree_member {
    color: #896BA5;
}

.form_body .agree_member a {
    text-decoration: underline;
    color: #896BA5;
}

.form_body .goto_login {
    text-align: right;
    color: #896BA5;
}

.form_body .goto_login a {
    text-decoration: underline;
    color: #896BA5;
}

.form_body button.verify {
    border: none;
    background-color: #A184C1;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    line-height: 58px;
}

/***#slidershow 滑塊區*/
.big_banner img {
    width: 100%;
}


/***#main_services 主要服務區*/
#main {
    background-color: #fbf7ff;
}

#main_services {
    min-height: 650px;
    background-image: url(../images/main_service_bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

#main_services .service {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    height: 458px;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    transition: transform .2s;
}

#main_services .service:hover {
    transform: scale(1.05, 1.05);
}


#main_services .service h2 {
    padding-top: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.05em;
}

#main_services .service .slogin {
    font-family: 'Chenyuluoyan';
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    line-height: 39px;
    color: #4D4D4D;
    margin-bottom: 26px;
}

#main_services .service a.service_href {
    display: inline-block;
    background: #F6EBFF;
    border-radius: 100px;
    width: 221px;
    padding: 11px 0px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #896BA5;
    position: relative;
}


#main_services .service:hover a.service_href {
    background-color: #E074AA;
    color: #fff;
}

#main_services .service a.service_href:after {
    content: "\f105";
    font-family: "Font Awesome 6 Pro";
    font-weight: 100;
    position: absolute;
    right: 24px;
}

#main_services .service01 {
    background-image: url(../images/main_service01_bg.png);
}

#main_services .service02 {
    background-image: url(../images/main_service02_bg.png);
}

#main_services .service03 {
    background-image: url(../images/main_service03_bg.png);
}

@media (max-width: 991px) {
    #main_services {
        padding: 65px 0px;
    }

    #main_services .service {
        margin-bottom: 30px;
        height: 458px;
    }
}

@media (max-width: 575px) {
    #main_services .service .slogin {
        font-size: 24px;
    }

    #main_services .service {}

}

/***#main_project 脫單計畫區*/

#main_project {
    background-image: url(../images/main_project_bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

}

#main_project>.row {
    padding: 110px 0px;
    margin: 0px;
}

#main_project .project_txt {
    text-align: right;
    color: #896BA5;
    font-family: 'Microsoft JhengHei';
    font-weight: 400;
}

#main_project .project_txt h1 {
    font-size: 86px;
    line-height: 114px;
    letter-spacing: 0.03em;
    position: relative;
}

#main_project .project_txt h1:before {
    content: "";
    border-bottom: 1px solid #896BA5;
    width: 100%;
    display: inline-block;
    position: absolute;
    right: 6.8em;
    top: 50%;
}

#main_project .project_txt .slogin {
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 0.05em;
}

#main_project .project_txt a.project_href {
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: inline-block;
    padding: 4px 30px;
    background: #A184C1;
    border-radius: 20px;
    margin-right: 2.5em;
    margin-top: 14px;
}

#main_project .project_pics {}

#main_project .project_pic {
    position: relative;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

#main_project .project_pic img {
    border-radius: 45px;
    box-shadow: 8px 8px 4px rgb(0 0 0 / 25%);
}

#main_project .project_pic.before:after {
    content: "Before";
    bottom: 20px;
    left: 40px;
    position: absolute;
}

#main_project .project_pic.after:after {
    content: "After";
    bottom: 20px;
    left: 40px;
    position: absolute;
}

@media (min-width: 992px) {
    #main_project>.row {
        display: flex;
        align-items: center;
    }

    #main_project .project_pics {
        margin-right: 20%;
    }
}

@media (max-width: 1420px) {

    #main_project .project_txt h1 {
        font-size: 4em;
        line-height: initial;
        letter-spacing: normal;
    }

    #main_project .project_txt .slogin {
        font-size: 2em;
        letter-spacing: -0.1em;
    }

    #main_project .project_txt a.project_href {
        font-size: 1.8em;
        letter-spacing: normal;
    }

    #main_project .project_pics {
        margin-right: 0px;
    }
}

@media (max-width: 991px) {
    #main_project .project_txt {
        text-align: center;
        margin-bottom: 3em;
    }

    #main_project .project_txt h1:before {
        right: calc(50% + 3.5em);
    }

    #main_project .project_pic {
        text-align: center;
    }

    #main_project .project_pics {
        margin: 0px;
    }

}

@media (max-width: 575px) {
    #main_project>.row {
        padding: 75px 0px;
    }

    #main_project .project_txt {
        text-align: right;
        padding: 0 10px;
    }

    #main_project .project_txt h1 {
        font-size: 56px;
    }

    #main_project .project_txt h1:before {
        right: -23%;
        top: unset;
        bottom: -10px;
    }

    #main_project .project_txt .slogin {
        font-size: 1.4em;
        letter-spacing: 0;
        line-height: 30px;
        margin-top: 25px;
    }

    #main_project .project_txt .slogin>span {
        display: block;
    }

    #main_project .project_txt a.project_href {
        font-size: 1.6em;
        letter-spacing: normal;
        margin-right: unset;
    }

    #main_project .project_pic img {
        border-radius: 25px;
    }
}

/***.home_photo-video 照片及影片區**/
#photo-video {
    background-color: #fbf7ff;
}

.home_photo-video {
    text-align: center;
    padding: 100px 0px;
}

.photo-video_wrap {
    position: relative;
    padding: 8px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.photo-video_wrap.photo {
    background-image: url(../images/photo-video_wrap-photo_bg.jpg);
}

.photo-video_wrap.video {
    background-image: url(../images/photo-video_wrap-video_bg.jpg);
}

.photo-video_wrap::before {
    content: "";
    display: block;
    height: 100%;
    background-color: rgba(246, 235, 255, 0);
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    transition: 0.5s;
}

.photo-video_wrap:hover::before {
    background-color: rgba(246, 235, 255, 0.71);

}

.photo-video {
    border: 2px solid #fff;
    height: 100%;
}

a.photo-video_href {
    display: block;
    height: 100%;
    position: relative;

}

a.photo-video_href h3 {
    position: absolute;
    font-family: 'Microsoft JhengHei';
    display: inline-block;
    background-color: #A184C1;
    color: #fff;
    border-radius: 25px;
    font-size: 56px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 2px;
    padding: 3px 45px;
    top: -40px;
    left: calc(50% - 161px);
    transition: 0.5s;
}

.photo-video_wrap:hover a.photo-video_href h3 {
    top: calc(50% - 40px);
}

@media (max-width: 991px) {
    .photo-video_wrap {
        margin-bottom: 3em;
        height: 207px;
    }
}

@media (max-width: 575px) {
    a.photo-video_href h3 {
        font-size: 42px;
        left: calc(50% - 133px);
    }
}

/***#footer 頁底區域 */
#footer {
    background-color: #FBDCEC;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    padding: 40px 0px;
}

.footer-info {}

.footer-info .copyright {
    font-size: 14px;
    line-height: 20px;
    color: #D79EB5;
    text-align: right;
}

.footer-info .contact {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #83636D;
}

.footer-info .social,
.footer-info .mail {
    margin-bottom: 8px;
}

.footer-info .social>a {
    display: inline-block;
    margin-right: 12px;
}

#footer .line_link {
    position: fixed;
    bottom: 20px;
    right: 20px
}

#footer .line_link img {
    width: 78px;
}

@media (min-width: 992px) {
    .footer-info {
        align-items: flex-end;
    }
}

@media (max-width: 991px) {
    .footer-info .copyright {
        text-align: left;
        margin-top: 18px;
    }
}

/************************************/

/*********以下是 page-line_couple LINE速配頁面的設定*/
body.page-line_couple {}

body.page-line_couple #main #section_02 {
    padding: 150px 0px 100px;
    text-align: center;
}

body.page-line_couple #main #section_02 .txt {
    font-family: 'Chenyuluoyan';
    font-style: normal;
    font-weight: 100;
    font-size: 42px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #4D4D4D;
}

@media (max-width: 991px) {
    body.page-line_couple #main #section_02 .txt {
        font-size: 2em;
        line-height: 1.3em;
    }
}

body.page-line_couple #section_03 {
    position: relative;
}

body.page-line_couple #section_03 .section_con {
    position: absolute;
    bottom: 70px;
    right: 130px;
}

body.page-line_couple #section_03 .section_con ul {
    margin: 0px;
    list-style-image: url(../images/line_couple/section_03_ul.svg);
}

body.page-line_couple #section_03 .section_con ul>li {
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.08em;
}

@media (max-width: 1320px) {
    body.page-line_couple #section_03 .section_con {
        right: 5%;
        bottom: 7%;
    }

    body.page-line_couple #section_03 .section_con ul>li {
        font-size: 20px;
        line-height: 40px;
    }
}

@media (max-width: 991px) {
    body.page-line_couple #section_03 .section_bg img.only_pc {
        display: none;
    }

    body.page-line_couple #section_03 .section_bg img.only_mobile {
        display: inline-block;
    }

    body.page-line_couple #section_03 {
        background-image: url(../images/line_couple/section_03_mobile-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        padding: 300px 10% 50px 10%;
    }

    body.page-line_couple #section_03 .section_bg {
        text-align: center;
    }

    body.page-line_couple #section_03 .section_con {
        position: relative;
        padding: 20px;
        background-color: #fadfeba3;
        border-radius: 20px;
    }

    body.page-line_couple #section_03 .section_con ul {
        padding-left: 20px;
    }

    body.page-line_couple #section_03 .section_con ul>li {
        list-style: none;
        line-height: 30px;
        font-size: 18px;
    }

    body.page-line_couple #section_03 .section_con ul>li:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 25px;
        background-image: url(../images/line_couple/section_03_ul.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        position: absolute;
        left: 9px;
    }

}

body.page-line_couple #section_04 {
    padding: 110px 0px;
    background-image: url(../images/line_couple/section_04_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.feature_section .title {
    text-align: center;
    margin-bottom: 100px;
}

.feature_section .title h3 {
    display: inline-block;
    font-family: 'Microsoft JhengHei';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 1em;
    letter-spacing: 0.05em;
    padding: 18px 28px;
    background-color: #BE95CF;
    color: #fff;
    position: relative;
    margin-bottom: 0px;
}

.feature_section .title h3:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 100%;
    background-image: url(../images/line_couple/section_04_title_h3after.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    position: absolute;
    top: 0;
    right: -24px;
    background-size: contain;
}

.feature_section .feature_items {
    text-align: center;
}

.feature_section .feature_items .item_wrap {
    width: 290px;
    max-width: 100%;
    background-color: #fff;
    border: 3px solid #C7A961;
    border-radius: 30px;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}

.feature_section .feature_items .item_wrap .number {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: #E074AA;
    color: #fff;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    position: absolute;
    left: calc(50% - 38px);
    top: -38px;
}

.feature_section .feature_items .item_wrap .icon {
    margin-top: 58px;
    margin-bottom: 14px
}

.feature_section .feature_items .item_wrap .txt h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #B14D89;
}

.feature_section .feature_items .item_wrap .txt p {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

.feature_section .slogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.feature_section .slogin .icon {
    margin: 0 50px;
}

.feature_section .slogin .txt h3 {
    font-size: 62px;
    line-height: 90px;
    letter-spacing: 0.2em;
    color: #3E417C;
}

.feature_section .slogin .txt h3 span {
    font-size: 40px;
    line-height: 58px;
}

.feature_section .slogin .txt p {
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.2em;
    color: #A4519B;
}

@media (max-width: 1200px) {
    .feature_section .slogin .txt h3 span {
        display: block;
    }
}

@media (max-width: 991px) {
    .feature_section .slogin {
        display: block;
        text-align: center;
    }

    .feature_section .slogin .txt p span {
        display: block;
    }

}

@media (max-width: 575px) {
    .feature_section .slogin .txt h3 {
        font-size: 50px;
        letter-spacing: 0;
        line-height: 1.5em;
    }

    .feature_section .slogin .txt h3 span {
        font-size: 30px;
    }

    .feature_section .slogin .txt p {
        font-size: 30px;
        line-height: 1.5em;
    }

}


/*********以下是 page-clause 會員條款及其他條款類頁面的設定*/
body.page-clause {}

#page_menu {
    background-color: #F6EBFF;
}

#page_menu ul.menu_list {
    list-style: none;
    padding: 0px;
}

#page_menu ul.menu_list>li {
    display: inline-block;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #896BA5;
}

#page_menu ul.menu_list>li>a {
    display: inline-block;
    padding: 30px 60px;
    border-bottom: 4px solid transparent;
}

#page_menu ul.menu_list>li a:hover,
#page_menu ul.menu_list>li.active a {
    color: #896BA5;
    border-bottom: 4px solid #BE95CF;
}

@media (max-width: 1320px) {
    #page_menu ul.menu_list {
        text-align: center;
        padding-top: 10px;
    }

    #page_menu ul.menu_list>li>a {
        padding: 30px 30px;
    }

}

@media (max-width: 991px) {
    #page_menu ul.menu_list>li>a {
        padding: 10px 20px;
        font-size: 20px;
    }

}

@media (max-width: 767px) {
    #page_menu ul.menu_list {
        position: relative;
    }

    #page_menu ul.menu_list:before {
        content: "\f106";
        font-family: "Font Awesome 6 Pro";
        font-size: 30px;
        padding: 20px;
        color: #896BA5;
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 5px;
    }

    #page_menu ul.menu_list>li {
        display: none;
    }

    #page_menu ul.menu_list>li.active {
        display: block;
    }

    #page_menu ul.menu_list:hover>li {
        display: block;
    }

    #page_menu ul.menu_list>li>a {
        font-size: 24px;
        line-height: 45px;
        font-weight: 400;
        color: #4D4D4D;
        width: 100%;
    }

    #page_menu ul.menu_list>li a:hover,
    #page_menu ul.menu_list>li.active a {
        color: #896BA5;
        font-weight: 500;
        width: 100%;
        max-width: 360px;
        border-bottom: 1px solid #DECEEB;
    }
}

#text_content {}

#text_content .clause {
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 80px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    position: relative;
}

#text_content .clause .title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: -2em;
    left: 0px;
}

#text_content .clause .title h3 {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-color: #BE95CF;
    display: inline-block;
    border-radius: 25px;
    padding: 13px 65px;
    font-weight: 400;
}

#text_content .clause .clause_content h4 {
    font-weight: 500;
    font-size: 22px;
    color: #896BA5;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

ol.cjk {
    list-style-type: cjk-ideographic;
}

@media (max-width: 767px) {
    #text_content .clause {
        padding: 30px;
        font-size: 1em;
        line-height: inherit;
        box-shadow: unset;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: transparent;
    }

    #text_content .clause .title {
        position: relative;
        margin-bottom: 1em;
        top: initial;
    }

    #text_content .clause .title h3 {
        padding: 13px 30px;
    }

    #text_content .clause .title h3>span {
        display: block;
    }
}

/*********以下是 page-party 派對聯誼頁面的設定*/
body.page-party.party-list {}

.unit_title {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 100px;
}

.unit_title h2 {
    display: inline-block;
    font-family: 'Microsoft JhengHei';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 101px;
    padding-bottom: 22px;
    padding-right: 96px;
    padding-left: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-image: url(../images/unit_title_bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

.unit_title h2:before {
    content: url(../images/unit_title_icon.svg);
    display: inline-block;
    margin-right: 25px;
}

@media (max-width: 575px) {
    .unit_title h2 {
        zoom: 0.65;
    }

    .unit_title {
        padding-top: 40px;
        margin-bottom: 40px
    }

    #party-list .county {
        margin-top: 30px;
    }
}


#party-list select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/party/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 7px 80px 7px 30px;
    border: 1.5px solid #A184C1;
    border-radius: 100px;
    color: #A184C1;
    font-size: 18px;
    line-height: 30px;
}

#party-list select:focus {
    border: 1.5px solid #A184C1;
    outline: 1.5px solid #A184C1;
}

#party-list .county {
    margin-top: 45px;
    padding-bottom: 90px;
}

#party-list .county .county-item {
    margin-bottom: 60px;
    border: 1px solid #DFDFDF;
}

#party-list .county .county-item .des {
    padding: 22px 18px;
}

#party-list .county-item .local-time {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #896BA5;
    margin-bottom: 15px;

}

#party-list .county-item .local-time .local {
    padding: 5px 20px;
    background-color: #BE95CF;
    border-radius: 20px;
    color: #fff;
}

#party-list .county-item .txt {
    font-size: 18px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

#party-list .county-item .join {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

#party-list .county-item .join>a.male {
    margin-right: 35px;
}

#party-list .county-item .join>a>span {
    background-color: #E074AA;
    border-radius: 8px;
    color: #fff;
    padding: 4px 10px;
}

#party-list .county-item .join>a>i {
    font-size: 20px;
    color: #E074AA;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
}

#party-list .county-item .join>a:hover>span {
    background-color: #A184C1;
}

#party-list .county-item .join>a:hover>i {
    color: #A184C1
}

#party-list .county-item .join>a.full {
    cursor: auto;
    pointer-events: none;
}

#party-list .county-item .join>a.full>span {
    background-color: #C2C2C2;
}

#party-list .county-item .join>a.full>i {
    color: #C2C2C2;
}

@media (min-width: 576px) and (max-width: 768px) {
    #party-list .county-item .local-time .time {
        display: block;
        margin-top: 0.8em;
    }

    #party-list .county-item .join>a {
        display: block;
        margin-bottom: 0.6em;
    }
}

@media (max-width: 575px) {
    #party-list .county-item .local-time {
        margin-bottom: 25px;
    }

    #party-list .county-item .txt {
        white-space: unset;
    }
}

.pagination_wrap {
    margin-bottom: 100px;
    text-align: center;
}

ul.pagination {
    font-size: 18px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(237, 225, 248, 0) 0%, #EDE1F8 49.72%, rgba(237, 225, 248, 0) 100%);
}

ul.pagination>li.page-item {
    display: inline-block;
    position: relative;
}

.page-link {
    color: #4D4D4D;
    border: none;
    background-color: transparent;
}

.page-item.active .page-link {
    z-index: 3;
    color: #A184C1;
    ;
    background-color: transparent;
    border-color: transparent;
}

li.page-item:before {
    font-family: "Font Awesome 6 Pro";
    content: "\f004";
    font-weight: 900;
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    color: #BE95CF;
    left: calc(50% - 6px);
    top: 10px;
    opacity: 0;
    transition: 0.5s;
    z-index: 4;
}

li.page-item:hover:before,
li.page-item.active:before {
    top: -15px;
    opacity: 1;
    transition: 0.5s;
}

li.page-item.pre_next:before {
    content: unset;
}

/*********以下是 party-detail 派對聯誼內容頁面的設定*/
#party-detail {
    padding: 50px 0px 150px 0px;
}


.detail_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.detail_title h2 {
    font-family: 'Microsoft JhengHei';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 0.05em;
    color: #896BA5;
}

@media (max-width: 991px) {
    .detail_title {
        display: block;
    }

    .share_list {
        text-align: right;
    }

    .detail_title h2 {
        font-size: 30px;
        line-height: initial;
    }
}

.info_detail {
    margin-top: 100px;
}

.info_detail .tab-wrap {
    text-align: center;
}

ul.tab-title {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: #F6EBFF;
    border-radius: 100px;
    margin-bottom: 35px;
}

ul.tab-title>li {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #BE95CF;
    padding: 13px 0px;
}

ul.tab-title>li>a {
    color: #BE95CF;
    padding: 0px 40px;
    display: inline-block;
    border-right: 1px solid #BE95CF;
}

ul.tab-title>li:last-child>a {
    border-right: none;
}

ul.tab-title>li.active a {
    font-weight: 700;
    color: #896BA5;
}

.tab-inner {
    text-align: left;
}

/*滑塊設定*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: url(../images/party/detail/swiper-button-next.svg);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: url(../images/party/detail/swiper-button-prev.svg);
}

.info_image_wrap .swiper .swiper-button-next,
.info_image_wrap .swiper .swiper-button-prev {
    opacity: 0;
}

.info_image_wrap .swiper .swiper-button-next.swiper-button-disabled,
.info_image_wrap .swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}


.info_image_wrap .swiper:hover .swiper-button-next,
.info_image_wrap .swiper:hover .swiper-button-prev {
    opacity: 1
}

.info_image_wrap {
    position: relative;
    padding: 43px 28px;
}

.info_image_wrap:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/party/detail/info_image_wrap.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}


.info_image_wrap .swiper {
    position: relative;
}

/*滑塊設定結束*/
.info_con_wrap {
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #4D4D4D;
    padding: 10px;
    line-height: 30px;
}

.info_con_wrap>div {
    margin-bottom: 15px;
}

.info_con_wrap>div span.title {
    font-weight: 500;
    color: #896BA5;
    position: relative;
}

.info_con_wrap>div span.title::before {
    content: "";
    background-color: #BE95CF;
    border-radius: 100px;
    width: 3px;
    display: inline-block;
    height: 22px;
    position: absolute;
    top: 4px;
    left: -10px;
}

a.google_link {
    color: #BE95CF;
    font-size: 14px;
    display: inline-block;
    padding: 4px 25px;
    border: 1px solid #BE95CF;
    border-radius: 100px;
}

a.google_link i {
    font-size: 15px;
    margin-right: 3px;
}

.tab-list button {
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #83636D;
    background-color: #FFE1F0;
    border-radius: 100px;
    padding: 5px 25px;
    border: none;
}

@media (min-width: 768px) {
    .apply_info .row {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 575px) {
    .tab-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
        margin-top: 35px;
    }
}

ul.process_list {
    padding-top: 5px;
    list-style-type: none;
    padding-left: 1em;

}

ul.process_list>li::before {
    content: "\f004";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    color: #BE95CF;
    font-size: 12px;
    padding-right: 10px;
    margin-right: 5px;

}

ul.process_list span.time {
    font-weight: 600;
    font-size: 20px;
    color: #896BA5;
}

/************************************/
/*pc 和 mobile行動瀏覽的硬設定*/

.only_pc {}

.only_mobile {}

@media (min-width: 768px) {

    .only_pc {}

    .only_mobile {
        display: none;
    }
}

@media (max-width: 767px) {

    .only_pc {
        display: none;
    }

    .only_mobile {}
}

@media (max-width: 575px) {
    .row {
        margin: 0px;
    }
}