

/*--↓步驟_star↓--*/
.pay_step_zone{
	position: relative;
	width: 100%;
	height: auto;
}

.pay_step_main_box {
	position: relative;
	width: 90%;
	height: auto;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.ps_1{
    width: 451px;
    height: 169px;
	background-image: url(../images/pay_page/pay_step_1_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.s_num{
	display: block;
	margin: 0;
	padding: 0;
	color: #fff;
    font-size: 25px;
	line-height: 35px;
}

.s_tit{
	display: block;
	margin: 0;
	padding: 0;
	color: #fff;
    font-size: 35px;
	line-height: 50px;
    font-weight: 500;
	text-align: center;
}

.ps_2{
    width: 451px;
    height: 169px;
	background-image: url(../images/pay_page/pay_step_2_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



@media (max-width:780px) {

	.ps_1{
		height: 140px;
	}
	.ps_2{
		height: 140px;
	}	
}

@media (max-width:550px) {

	.ps_1{
		height: 70px;
	}
	.ps_2{
		height: 70px;
	}	
	.s_num{
		font-size: 15px;
		line-height: 21px;
	}
	.s_tit{
		font-size: 21px;
		line-height: 25px;
	}	
	

}
/*--↑步驟_end↑--*/



/*--↓pay_star↓--*/
.LV2_zone_pay {
	position: relative;
	width: 100%;
	height: auto;
    padding: 0;
	margin: 0;
	background-color: rgba(192, 38, 38, 0);
	/*顏色標記*/
	overflow: hidden;
}

.pay_main_box {
	width: 90%;
	height: auto;
	margin: 3% auto;
	padding: 1% 0;
	background-color: #f2f6fc;
	/*顏色標記*/
    z-index: 59;
}

/*pay_big_title*/
.pay_top_title{
	width: 100%;
	height: auto;
	padding: 3% 0 0 0;
	margin: 0 auto;
	display: block;
	font-size: 42px;
	font-weight: 600;
	text-align: center;
	color: #606266;
}
@media (max-width:780px) {
	.pay_main_box {
		padding: 5% 0;
		}

	}

@media (max-width:500px) {
	.pay_main_box {
		padding: 5% 0;
		}
	.pay_top_title{
		font-size: 30px;
		}
		
	}

/*--↓ step_1_zone_star ↓--*/
.pay_step_1_box {
    width: 90%;
    height: auto;
	margin: 2% auto;
	background-color: rgba(241, 78, 214, 0);	/*顏色標記*/
	/*顏色標記*/
	z-index: 72;
}

/*--↓ step_1 大標題_star ↓--*/
.pay_big_title{
    width: 100%;
    height: auto;
	margin: 2% 0;
	background-color: rgba(127, 236, 26, 0);	/*顏色標記*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.pay_big_title .num{
	width: 35px;
    height: 35px;
	margin: 0 10px 0 0;
}

.pay_big_title .MT{
	color: #606266;
	font-size: 25px;
	line-height: 30px;
	display: block;
	margin: auto 0;
	padding: 0;
}


@media (max-width:780px) {
	.pay_big_title{
		margin: 5% 0;
	}
	}

@media (max-width:700px) {
	.pay_big_title{
		margin: 30px 0 0 0;
	}
	.pay_big_title .num{
		width: 25px;
		height: 25px;
	}		
	.pay_big_title .MT{
		font-size: 18px;
		line-height: 25px;
	}
	}

/*--↓ 遊戲名稱_star ↓--*/
.pay_step_1_box .step_line_1{
    width: 100%;
    min-height: 60px;
	background-color: rgba(127, 236, 26, 0);	/*顏色標記*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	margin: 10px auto;
    padding: 0;
}

.step_line_1 .MT{
	width: 150px;
	margin: 0 10px 0 0;
	color: #606266;
    font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}


@media (max-width:700px) {
	.step_line_1 .MT{
		width: auto;
		color: #606266;
		font-size: 16px;
		font-weight: 300;
	}
}

/*白框*/
.game_name_box{
    /*width: 15%;*/
    height: auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 6px rgba(121, 167, 235, 0.16);
	border: 1px solid #bcbfc4;
}

.game_name_box p{
    color: #606266;
	width: 300px;
	height: 60px;
	display: block;
	margin: 0 auto;
	padding: 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_re_btn{
	min-width: 100px;
	width: auto;
    height: auto;
    margin: 0 0 0 1%;
	padding: 0.5% 1%;
    border-radius: 40px;
    background-color: #a7e01f;	/*顏色標記*/
	box-shadow: 0px 3px 6px rgba(121, 167, 235, 0.16);
}

.game_re_btn p{
    color: #606266;
    font-size: 18px;
    text-align: center;
}



@media (max-width:700px) {
	.pay_step_1_box .step_line_1{
		flex-direction: column;
		align-items: flex-start;
	}	
	.game_re_btn{
		margin: 20px 0;
	}
	.game_re_btn p{
		color: #606266;
		font-size: 14px;
		text-align: center;
	}
	.game_name_box{
		width: 300px;
	}
		
	}

/*--↑ 遊戲名稱_end ↑--*/


.pay_step_1_box .step_line_2{
    width: 100%;
    height: auto;
	background-color: rgba(127, 236, 26, 0);	/*顏色標記*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 10px 0;
    padding: 0;
}

/*--↓ 遊戲伺服器_star ↓--*/
.pay_step_1_box .step_line_201{
    width: auto;
    min-height: 60px;
	background-color: rgba(127, 236, 26, 0);	/*顏色標記*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0;
    padding: 0;
}

.step_line_201 .MT{
	width: 150px;
	margin: 0 10px 0 0;
	color: #606266;
    font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}


@media (max-width:700px) {
	.step_line_201 .MT{
		font-size: 16px;
	}
}

.cp_ipselect {
	overflow: hidden;
	width: auto;
	text-align: center;
}
.cp_ipselect select {
	font-size: 18px;
	text-align: center;
	width: 300px;
	height: 60px;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 1.5em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}


/*--↑ 遊戲伺服器_end ↑--*/


/*--↓ 遊戲角色_star ↓--*/
.pay_step_1_box .step_line_202{
    width: auto;
    min-height: 60px;
	background-color: rgba(127, 236, 26, 0);	/*顏色標記*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0;
    padding: 0;
}

.step_line_202 .MT{
	width: 150px;
	margin: 0 10px 0 0;
	color: #606266;
    font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}


@media (max-width:700px) {
	.step_line_202 .MT{
		font-size: 16px;
	}
}

/*--↑ 遊戲角色_end ↑--*/
/*--↑ step_1_zone_end ↑--*/


/*--↓ step_2_zone_star ↓--*/
.pay_step_2_box{
    width: 90%;
    height: auto;
	margin: 0 auto;
	background-color: rgba(241, 78, 214, 0);	/*顏色標記*/
	/*顏色標記*/
	z-index: 72;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}


.pay_step_2_box .pay_big_title{
    width: 100%;
    height: auto;
	background-color: rgba(127, 236, 26, 0);	/*顏色標記*/
	display: flex;
	justify-content: flex-start;
}

.pay_step_2_box .pay_big_title .num{
	width: 35px;
    height: 35px;
	margin: 0 10px 0 0;
	background-color: #60626600;	/*顏色標記*/
}

.pay_for_tab{
	width: 100%;
    height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
    justify-content:flex-start;
	margin: 0 0 2% 0;
	background-color: rgba(222, 236, 26, 0);	/*顏色標記*/
}

.pp_inner_tab {
    width: 16%;
	min-width: 180px;
	height: 60px;
	padding: 1%;
	margin: 1%;
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 3px 6px rgba(121, 167, 235, 0.16);
	display: flex;
	align-items: center;
	justify-content: center;
}

.pp_inner_tab.now{
	background-color: #a7e01f;
}

.PW_select {
	width: auto;
    height: auto;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background-color: rgba(241, 78, 214, 0);/*顏色標記*/
    color: #606266;
	text-align: center;
}
.PW_select p{
	display: block;
	margin: 0 auto;
	padding: 0;
}


/*--↓ 付款方式按鈕內容_star ↓--*/
.PW_icon{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	float: left;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
    background-image: url(../images/deposit/icon_pay01.png);
    background-size: 100%;
    background-repeat: no-repeat;
	background-color: #12c8ff00;	/*顏色標記*/
}

.PW_icon_2{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
    background-image: url(../images/deposit/icon_pay02.png);
    background-size: 100%;
    background-repeat: no-repeat;
	background-color: #12c8ff00;	/*顏色標記*/
}

.PW_icon_3{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
    background-image: url(../images/deposit/icon_pay04.png);
    background-size: 100%;
    background-repeat: no-repeat;
	background-color: #12c8ff00;	/*顏色標記*/
}

.PW_icon_4{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
    background-image: url(../images/deposit/icon_pay01-08.png);
    background-size: 100%;
    background-repeat: no-repeat;
	background-color: #12c8ff00;	/*顏色標記*/
}

.PW_icon_5{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
    background-image: url(../images/deposit/icon_pay01-08.png);
    background-size: 100%;
    background-repeat: no-repeat;
	background-color: #12c8ff00;	/*顏色標記*/
}

@media (max-width:500px) {
	.PW_icon{
		width: 35px;
		height: 35px;
	}
	
	.PW_icon_2{
		width: 35px;
		height: 35px;
	}
	
	.PW_icon_3{
		width: 35px;
		height: 35px;
	}
	
	.PW_icon_4{
		width: 35px;
		height: 35px;
	}
	
	.PW_icon_5{
		width: 35px;
		height: 35px;
	}
	}

/*--↑ 付款方式按鈕內容_end ↑--*/


.pay_big_title .num{
    width: 35px;
	height: 35px;
	margin: 0 10px 0 0;
    background-color: #60626600;  /*顏色標記*/
}


.pay_big_title .ST{
    width: 50%;
    height: auto;
	display: block;
	color: #606266;
    font-size: 14px;
	line-height: 18px;
    font-weight: 300;
	margin: 0 0 0 20px;
	padding: 0;
}


.price_content{
    width: 100%;
	margin: 0 0 2% 0;
    height: auto;
	background-color: #e7ebf0;
	overflow: auto;
}

.pp_inner_con{
	width: 98%;
	height: auto;
	padding: 1%;
	margin: 0 auto;
	background-color: #e7ebf0;
	overflow: auto;
	display: none;
}

.pp_inner_con.now{
	display:  block;
}

/*--↓ 儲值金額內容_star ↓--*/
.pp_inner_con ul{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	background-color: #90d9ec00;/*顏色標記*/
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.pp_icon {
    width: 48%;
	height: auto;
	padding: 0.5%;
	margin: 1% 0;
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 3px 6px rgba(121, 167, 235, 0.16);
}

.pp_icon li{
	min-height: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
@media (max-width:700px) {
	.pay_for_tab{
		margin: 30px 0 0 0;
	}
	.pp_inner_tab{
		width: 100%;
	}
	.pp_icon {
		width: 100%;
	}
	.price_content{
		margin: 30px 0 0 0;
	}
	}

.pp_content_1{
	width: 45%;
	min-width: 100px;
    height: auto;
    float: left;
	background-color: rgba(241, 78, 214, 0);/*顏色標記*/
    color: #606266;
    font-size: 21px;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

.pp_content_2{
	width: auto;
    height: auto;
	color: #606266;
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

.pp_content_3{
	width: auto;
    height: auto;
    color: #606266;
	font-size: 25px;
	font-weight: 300;
    line-height: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

.pp_content_4{
	width: auto;
    height: auto;
    color: #606266;
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
	text-align: center;
	margin: 0 10px 0 0;
	padding: 0;
	display: block;
}

/*MyCard點數卡儲值 特殊*/
.pp_content_5{
	width: 100%;
    height: auto;
    padding-bottom: 0%;
    float: left;
	background-color: rgba(241, 78, 214, 0);/*顏色標記*/
	
    color: #606266;
    font-size: 1vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 177%;
    margin-left: 0%;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

.pp_now{
	background-color: #a7e01f;
}

/*--↑ 儲值金額內容_end ↑--*/
/*--↑ step_2_zone_end ↑--*/


/*--↓ next_btn_star ↓--*/
.pay_next_zone{
    width: 100%;
    height: auto;
    background-color: rgba(189, 37, 235, 0);/*顏色標記*/
}

.PC_btn{
    width: 30%;
	min-width: 250px;
    height: auto;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #a7e01f;
    padding-bottom: 0%;
	margin: 5% auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	box-shadow: 0px 3px 6px rgba(121, 167, 235, 0.16);
}

.PC_btn p{
	width: 100%;
    color: #606266;
	text-align: center;
    font-size: 18px;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media (max-width:500px) {
	.pp_content_1{
		width: 40%;
	}	
	.PC_btn{
		margin: 15% auto;
	}
		}
/*--↑ next_btn_end ↑--*/
/*--↑pay_end↑--*/

