@charset "utf-8";

.slide-container {
  margin: auto;
  width: 100%;
  background-color: #dd202000;/*顏色標記*/
}

.wrapper {
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #7fd62e00;/*顏色標記*/
}

.clash-card {
  width: 100%;
  display: inline-block;
  margin: auto;
  position: relative;
  box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, 0); /*陰影*/
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: auto;
  padding-bottom: 31.3%;
  margin-bottom: 0px;
}

/*01*/
.clash-card__image--barbarian {
  background-image: url(../images/banner/banner_01.png);
  background-size: 100%;
}

.clash-card__image--barbarian img {
  width: 35%;
  height: auto;
  position: absolute;
  top: -21%;
  left: 6%;

}

/*02*/
.clash-card__image_02 {
  background-image: url(../images/banner/banner_02.jpg);
  background-size: 100%;
}

.clash-card__image_02 img {
  width: 21%;
  height: auto;
  position: absolute;
  top: -21%;
  left: 14%;
}

/*03*/
.clash-card__image_03 {
  background-image: url(../images/banner/banner_03.jpg);
  background-size: 100%;
}

.clash-card__image_03 img {
  width: 40%;
  height: auto;
  position: absolute;
  top: -21%;
  left: 6%;
}

/*04*/
.clash-card__image_04 {
  background-image: url(../images/banner/banner_04.jpg);
  background-size: 100%;
}

.clash-card__image_04 img {
  width: 40%;
  height: auto;
  position: absolute;
  top: -21%;
  left: 6%;
}


.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}


.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
    color: green; /* hover時の色を変更 */
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    /* 元のcontentプロパティの値だとfont-sizeを変更した際に位置がずれてしまうので値を変更 */
    /* content: '•'; */
    content: '●';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: green; /* active時の色を変更 */
}