@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700;800&display=swap');

html {
  font-family: "Helvetica", "Noto Sans TC", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "spHelvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

html {
  background: #ffffff;
}

body{
  font-family: "Helvetica", "Noto Sans TC", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "spHelvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  background: #1b1b25;
}

.wrapper{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background: #1b1b25;
}

a,
button{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

button{
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  -webkit-tap-highlight-color: transparent;
}

.sp{
  display: none;
}

@media (max-width: 768px) {
  .sp{
    display: block;
  }

  .pc{
    display: none;
  }
}

@keyframes show {
  0%{
    opacity: 0;
    transform: translateY(-40px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toLeft {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }

  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes scare-12 {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes run {
  0% {
    right: -200%;
    filter: brightness(1);
  }

  50% {
    right: 300%;
    filter: brightness(1.5);
  }

  100% {
    right: -200%;
    filter: brightness(1);
  }
}

@keyframes rightmove {
  0% {
    right: 6.5vw;
  }

  50% {
    right: 6vw;
  }

  100% {
    right: 6.5vw;
  }
}

.main{
  position: relative;
  margin: auto;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: url("../img/PC_bg_01.jpg") no-repeat;
  background-size: 100% auto;
  background-color: #1b1b25;
}

@media (max-width: 768px) {
  .main {
    background: url("../img/SP_bg_01.jpg") no-repeat;
    background-size: 100% auto;
    background-color: #1b1b25;
    /*   margin-top: -78vw; */
    /*   padding-top: 73vw; */
  }
}

header {
}

@media (max-width: 768px) {
  header {
  }
}

footer{
  display: none;
}

@media (max-width: 768px) {
  footer{
    position: sticky;
    z-index: 30;
    margin: 0px;
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
    background: url("../img/SP_nav_bg.png") no-repeat;
    background-size: 100% auto;
  }

  footer:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vw;
    background-color: #131320;
  }

  footer .sp_login{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 20vw;
  }

  footer .sp_login a{
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */
    margin-top: 10vw;
    font-size: 3.2vw;
  }

  footer .sp_login a:hover {
    color: #f7d4af;
  }

  footer .sp_login span::after{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    content: "";
    display: flex;
    width: 1px;
    height: 4vw;
    background-color: #6e6e6e;
  }

  footer .sp_login .active {
    color: #f7d4af;
  }

  footer .sp_login .img {
    /* @apply relative; */
    background: url("../img/SP_deposip.png") no-repeat;
    background-size: 100% auto;
    text-align: center;
    margin-top: -4.5vw;
    width: 23vw;
  }

  footer .sp_login .img .user-img{
    margin: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vw;
  }

  footer .sp_login .img .user-img h5 {
    color: rgba(0,0,0,0);
  }

  footer .sp_login .img .user-img h6{
    margin-left: auto;
    margin-right: auto;
    color: #000;
  }

  footer .sp_login .img .user-img h6:nth-child(1){
    margin-top: 1.5vw;
  }

  footer .sp_unlogin{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: url("../img/SP_nav_bg.png") no-repeat;
    background-size: 100% auto;
    /* background-color: #1b1b25; */
    height: 20vw;
    margin-bottom: 0;
  }

  footer .sp_unlogin a{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 10vw;
    font-size: 3.2vw;
  }

  footer .sp_unlogin a:hover {
    color: #f7d4af;
  }

  footer .sp_unlogin span::after{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    content: "";
    display: flex;
    width: 1px;
    height: 4vw;
    background-color: #6e6e6e;
  }

  footer .sp_unlogin .active {
    color: #f7d4af;
  }

  footer .sp_unlogin .img {
    background: url("../img/SP_nav_unlogin.png") no-repeat;
    background-size: 100% auto;
    margin-top: -4.5vw;
    width: 23vw;
  }
}

.kv{
  position: relative;
}

.kv .title {
  /* @apply absolute mx-auto; */
  background: url("../img/KV_title.png") no-repeat;
  background-size: 100% auto;
  position: relative;
  width: 40vw;
  height: 25vw;
  margin:  12vw 0 6vw 0;
}

.kv .title div{
    position: absolute;
    font-size: 1.3vw;
}

.kv .title a div{
    position: absolute;
}

.kv .title a .login{
    bottom: 5vw;
    right: 3vw;
    border-radius: 20% / 100% ;
    text-align: center;
    font-size: 1.3vw;
    font-weight: bolder;
    width: 8vw;
    background-color: #f7d4b0;
}

.kv .title a .logout{
    bottom: 5vw;
    right: 3vw;
    border-radius: 20% / 100% ;
    text-align: center;
    font-size: 1.3vw;
    width: 8vw;
    border: 2px solid;
}

.kv .title a .logout:hover{
    filter: brightness(1.5);
}

.kv .title .text{
    bottom: 6.2vw;
    left: 3vw;
    color: #F8F8F8;
}

.kv .title .money{
    bottom: 4.5vw;
    left: 3vw;
}

.kv .copper {
    background: url("../img/KV_copper.png") no-repeat;
    background-size: 100% auto;
}

.kv .silver {
    background: url("../img/KV_silver.png") no-repeat;
    background-size: 100% auto;
}

.kv .gold {
    background: url("../img/KV_gold.png") no-repeat;
    background-size: 100% auto;
}

.kv .black {
    background: url("../img/KV_black.png") no-repeat;
    background-size: 100% auto;
}

.kv .platinum {
    background: url("../img/KV_platinum.png") no-repeat;
    background-size: 100% auto;
}

@media (max-width: 768px) {
  .kv {
    margin-bottom: 18vw;
  }

  .kv .title{
    margin: 0px;
    width: 85vw;
    margin-top: 32vw;
    height: 48vw;
  }

  
  .kv .title a .login {
    width: 20vw;
    right: 5vw;
    font-size: 4vw;
  }

  .kv .title .text {
    bottom: 7.2vw;
    left: 5vw;
    font-size: 2.3vw;
  }

  .kv .title .money {
    bottom: 3.5vw;
    left: 5vw;
    font-size: 2.3vw;
  }

  .kv .title a .logout {
    width: 20vw;
    right: 5vw;
    font-size: 4vw;
  }
}

.nav{
  position: absolute;
  z-index: 10;
  width: 16.666667%;
  top: 50vw;
  left: 15vw;
}

.nav .login{
  position: relative;
  background: url("../img/nav_login.png") no-repeat;
  background-size: 100% auto;
  width: 15vw;
  height: 50vw;
}

.nav .login :nth-child(1) {
  color: #0000;
  height: 2.5vw;
  width: 7.4vw;
  top: 11.9vw;
  left: 3.7vw;
}

.nav .login .logout:hover {
    color: #0000;
  }

.nav .login .img_link{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #f7d4af;
  width: 3.3vw;
  margin: auto;
  left: auto;
  right: auto;
}

.nav .login .img_link span{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f7d4af;
    width: 3.5vw;
    font-size: .8vw;
    letter-spacing: 0;
  }

.nav .login :nth-child(5) {
  font-size: 0.8vw;
  top: 16.5vw;
  left: 3.6vw;
}

.nav .login :nth-child(6) {
  font-size: 0.8vw;
  top: 16.5vw;
  right: 3.6vw;
}

.nav .login :nth-child(7) {
  font-size: 0.8vw;
  top: 21vw;
  left: 3.6vw;
}

.nav .login :nth-child(8) {
  font-size: 0.8vw;
  top: 21vw;
  right: 3.6vw;
}

.nav .login a{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4vw;
  letter-spacing: .3vw;
}

.nav .login a:hover {
  color: #f7d4af;
}

.nav .login :nth-child(9) {
  top: 32vw;
  left: 4.1vw;
}

.nav .login :nth-child(10) {
  top: 35.3vw;
  left: 4.1vw;
}

.nav .login :nth-child(11) {
  top: 38.5vw;
  left: 4.1vw;
}

.nav .login :nth-child(12) {
  top: 41.8vw;
  left: 4.1vw;
}

.nav .login .active {
  color: #f7d4af;
}

.nav .unlogin{
  display: flex;
  background: url("../img/nav_unlogin.png") no-repeat;
  background-size: 100% auto;
  width: 15vw;
  height: 50vw;
}

.nav .unlogin a{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4vw;
  letter-spacing: .3vw;
}

.nav .unlogin a:hover {
  color: #f7d4af;
}

.nav .unlogin :nth-child(1) {
  top: 12.4vw;
  left: 4.4vw;
  color: rgba(0,0,0,0);
}

.nav .unlogin :nth-child(1):hover {
  color: rgba(0,0,0,0);
}

.nav .unlogin :nth-child(2) {
  top: 20.5vw;
  left: 4.1vw;
}

.nav .unlogin :nth-child(3) {
  top: 23.8vw;
  left: 4.1vw;
}

.nav .unlogin :nth-child(4) {
  top: 27.2vw;
  left: 4.1vw;
}

.nav .unlogin :nth-child(5) {
  top: 30.5vw;
  left: 4.1vw;
}

.nav .unlogin .active {
  color: #f7d4af;
}

@media (max-width: 768px) {
  .nav{
    display: none;
  }
}

.content{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  width: 62vw;
}

.content .title{
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  margin-top: 1.8vw;
  margin-bottom: 1.2vw;
}

.content .deposit{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5vw;
  width: 55%;
}

.content .deposit img {
  width: 22.5%;
}

.content .member{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5vw;
  width: 55%;
}

.content .member img {
  width: 22.5%;
}

.content .list{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding-left: .2vw;
  /* & .bones_list { */
  /*     @apply p-0; */
  /*     background: url("../img/VIP_bones_list.png") no-repeat; */
  /*     background-size: 100% auto; */
  /*     height: 44vw; */
  /*         filter: drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.3)) drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.06)); */
  /* } */
}

.content .list .bones_list{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2e2e3c;
  margin-bottom: 2.5vw;
  filter: drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.3)) drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.06));
}

.content .list .bones_list div{
  display: flex;
  flex-direction: row;
}

.content .list .bones_list div .item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content .list .bones_list div .item h3{
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 1.3vw;
  padding-top: 0.5vw;
  font-weight: bolder;
}

.content .list .bones_list div .item span{
  text-align: left;
  font-size: 0.8vw;
  margin-bottom: 0.5vw;
}

.content .list .bones_list div .item:nth-child(1){
  display: flex;
  align-items: center;
  width: 40%;
  font-size: 1.5vw;
}

.content .list .bones_list div .item:nth-child(2){
  display: flex;
  flex-direction: column;
  width: 60%;
}
.content .list .bones_list div.v4{
  padding-bottom: 0.5vw;
}

.content .list .bones_list div.v5 .item{
  padding-bottom: 0.5vw;
}

.content .list .bones_list .v_title{
  color: #f7d4af;
  height: 5vw;
}

.content .list .bones_list .v_title .item:nth-child(1){
  font-size: 1.7vw;
}

.content .list .bones_list .v_title .item:nth-child(2){
  font-size: 1.7vw;
}

.content .list .bones_list .v_title .item:nth-child(2):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 2.5%;
  background-color: #2e2e3c;
  border-radius: 0 100% 0 0;
  z-index: -1;
}

.content .list .bones_list .v_title .item:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 2.5%;
  background-color: #1b1b25;
  z-index: -1;
}

.content .list .bones_list .img_list:nth-child(even){
  background-color: #23232e;
}

.content .list .bones_list .v1{
  position: relative;
}

.content .list .bones_list .v1 .item:nth-child(1){
  z-index: 10;
  background: linear-gradient(to right, #2e2e3c 50%, #23232e 50%);
}

.content .list .bones_list .v1 .item:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2vw;
  width: 18%;
  height: 100%;
  background-color: #23232e;
  border-radius: 100% 0 0 100%;
  z-index: -1;
}

.content .list .bones_list .v5{
  position: relative;
}

.content .list .bones_list .v5 .item:nth-child(2){
  z-index: 10;
  background: linear-gradient(to right, #23232e 85%, #2e2e3c 15%);
}

.content .list .bones_list .v5 .item:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 1vw;
  width: 10%;
  height: 100%;
  background-color: #23232e;
  border-radius: 0 100% 100% 0;
  z-index: -1;
}

.content .list .bones_list .special .item:nth-child(1) span{
  text-align: center;
}

.content .list .bones_list .special .item:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 2.5%;
  background-color: #2e2e3c;
  border-radius: 0 0 0 100%;
  z-index: -1;
}

.content .list .bones_list .special .item:nth-child(1):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 2.5%;
  background-color: #16161e;
  z-index: -1;
}

.content .list .bones_list .bones_list_img{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  background-color: #f7d4b0;
  color: #222;
  border-radius: 1vw;
  font-size: 1.4vw;
  top: 1.4vw;
  left: -1.8vw;
  width: 4vw;
  height: 2.2vw;
  padding-right: 0.1vw;
}

.content .list h3 {
  /* padding: 0 .8vw 0 0; */
  font-size: .80vw;
  margin-bottom: .8vw;
}

.content .list a.back{ 
  display: block;
  margin-left: auto;
  width: 15%;
}
.content .list a .text{
  z-index: 10;
  margin-left: auto;
  margin-bottom: 2vw;
  color: rgba(0,0,0,0);
  background: url("../img/VIP_bones_btn_back_off.png") no-repeat;
  background-size: 100% auto;
  height: 5vw;
}

.content_record{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  width: 62vw;
}

.content_record .title{
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  margin-top: 1.8vw;
  margin-bottom: 1.2vw;
}

.content_record .list{
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  padding-left: .2vw;
}

.content_record .list .record_list{
  position: relative;
  padding: 0px;
  /* background: url("../img/VIP_record_list.png") no-repeat; */
  background-size: 100% auto;
  height: 55.7vw;
  margin-top: 3vw;
}

.content_record .list .record_list .text_list{
  margin-left: auto;
  margin-right: auto;
  --tw-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  text-align: center;
  width: 98%;
  height: 98%;
  filter: drop-shadow(0 1vw 2vw rgba(0, 0, 0, 0.7)) drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.06));
}

.content_record .list .record_list .text_list tr th {
  height: 6.4vw;
}

.content_record .list .record_list .text_list tr th:nth-child(1) {
  width: 32%;
}

.content_record .list .record_list .text_list tr th:nth-child(2) {
  width: 22%;
}

.content_record .list .record_list .text_list tr th:nth-child(4) {
  border-top-right-radius: 15%;
}

.content_record .list .record_list .text_list tr th:nth-child(5){
  display: none;
}

.content_record .list .record_list .text_list tr td {
  font-size: 1vw;
  align-items: center;
}

.content_record .list .record_list .text_list tr td:not(:nth-child(3)) {
  color: #f7d4af;
}

.content_record .list .record_list .text_list tr td:nth-child(5){
  display: none;
}

.content_record .list .record_list .text_list tr:last-child td:first-child {
  position: relative;
  z-index: 1;
}

.content_record .list .record_list .text_list tr:last-child td:first-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2vw;
  height: 2vw;
  background-color: #2e2e3c;
  border-radius: 0 0 0 100%;
  z-index: -1;
}

.content_record .list .record_list .text_list tr:last-child td:first-child:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2vw;
  height: 2vw;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
}

.content_record .list .record_list .text_list tr:nth-child(odd) {
  background-color: #2e2e3c;
}

.content_record .list .record_list .text_list tr:nth-child(even) {
  background-color: #23232f;
}

.content_record .list .record_list .text_list tr:last-child td{
  padding-bottom: 1vw;
}

.content_record .list div.back{
    display: flex;
    justify-content: center;
    margin: 2vw 0;

}
.content_record .list .back a{
    display: flex;
    margin: 1vw .2vw 2vw;
    margin: auto .2vw;
    padding: 0 0.6vw;
    border: 2px solid;
    border-radius: 20%;
    font-weight: bolder;
    font-size: 1.4vw;
}

.content_record .list .back .active{
    background-color: #f7d4b0;
}

.content_record .list .back a:hover{
    background-color: #f7d4b0;
}

.content_record .list .back a:first-child{
    background: url("../img/record-btn-off.png") no-repeat;
    background-size: 100% auto;  
    color: #0000;
}

.content_record .list .back a:first-child:hover{
    background: url("../img/record-btn-on.png") no-repeat;
    background-size: 100% auto;  
}

.content_record .list .back a:last-child{
    background: url("../img/record-btn-off.png") no-repeat;
    background-size: 100% auto;  
    color: #0000;
    transform: rotate(180deg);
}

.content_record .list .back a:last-child:hover{
    background: url("../img/record-btn-on.png") no-repeat;
    background-size: 100% auto;  
    transform: rotate(180deg);
}

.content_record .list .back .point{
    display: flex;
    margin: auto 0 ;
}

.content_record .list .back .point img{
    margin: auto;
}

.content_record .list a .text{
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin: -2vw 1.5vw 2vw auto;
  color: rgba(0,0,0,0);
  background: url("../img/VIP_activity_btn_off.png") no-repeat;
  background-size: 100% auto;
  height: 2.5vw;
}

.content_record .list a .text:hover {
  background: url("../img/VIP_activity_btn_on.png") no-repeat;
  background-size: 100% auto;
}

.content_activity{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  width: 62vw;
}

.content_activity .title{
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}

.content_activity .list{
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  padding-left: .2vw;
}

.content_activity .list .activity_list{
  position: relative;
  padding: 0px;
}

.content_activity .list .activity_list .activity_card{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  background: url("../img/VIP_activity_list_bg.png") no-repeat;
  background-size: 100% auto;
  height: 10.7vw;
  filter: drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.7)) drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.06));
}

.content_activity .list .activity_list .activity_card .img{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  width: 42.5%;
}

.content_activity .list .activity_list .activity_card .img img{
  width: 100%;
}

.content_activity .list .activity_list .activity_card .text{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 42.5%;
  text-align: center;
  font-size: 1.3vw;
}

.content_activity .list .activity_list .activity_card .text h5 {
  color: #f7d4af;
}

.content_activity .list .activity_list .comingsoon{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background: url("../img/VIP_activity_comingsoon.png") no-repeat;
  background-size: 100% auto;
  height: 10.7vw;
}


.content_activity .list a.back {
  display: block;
  width: 9vw;
  margin-left: auto;
}
.content_activity .list a .text{
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin: -1vw 1.5vw 2vw auto;
  color: rgba(0,0,0,0);
  background: url("../img/VIP_activity_btn_off.png") no-repeat;
  background-size: 100% auto;
  height: 5vw;
}

.content_activity .list a .text:hover {
  background: url("../img/VIP_activity_btn_on.png") no-repeat;
  background-size: 100% auto;
}

.content_gift{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  right: 0;
  left: 0;
  width: 42vw;
  padding-bottom: 5vw;
  /* swiper */
  .swiper{
    position: relative;
  }
  .swiper{
    overflow: hidden;
  }
  .swiper {
    width: 100%;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .mySwiper2 {
    height: 30vw;
    width: 40vw;
    margin: -2vw auto;
  }
  .mySwiper2 img {
    filter: drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.3)) drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.06));
  }
  .swiper-pagination{
    display: none;
  }
  .mySwiper {
    height: 9vw;
    margin-top: 3vw;
    box-sizing: border-box;
  }
  .mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 73%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.content_gift .swiper-pagination{
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  top: 21.2vw;
}

.content_gift .swiper-pagination .swiper-pagination-bullet{
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  width: 1vw;
  height: 1vw;
  margin: 0 0.2vw;
  background-color: #343547;
}

.content_gift .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #8b8ba5;
}

.content_gift .title{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: -5.5vw;
  margin-bottom: 2.5vw;
}

.content_gift .list{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content_gift .list .gift_list{
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.content_gift .list .gift_list .card_list{
  margin: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
}

.content_gift .list .gift_list .card_list .card{
  cursor: pointer;
}

.content_gift .list .gift_list .card_list .card:hover{
  filter: brightness(1.5);
}

.content_gift .list a .back{
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin: -1vw 1.5vw 2vw auto;
  color: rgba(0,0,0,0);
  background: url("../img/VIP_activity_btn_off.png") no-repeat;
  background-size: 100% auto;
  width: 20%;
  height: 5vw;
}

.content_gift .list a .back:hover {
  background: url("../img/VIP_activity_btn_on.png") no-repeat;
  background-size: 100% auto;
}

@media (max-width: 768px) {
  .content{
    margin: 0px;
    width: 100%;
  }

  .content .title{
    width: 100%;
    margin-top: 5vw;
  }

  .content .deposit {
    width: 86%;
    font-size: 3.3vw;
  }

  .content .member {
    width: 86%;
    font-size: 3.3vw;
  }

  .content .list{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .content .list .bones_list{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    width: 85%;
  }

  .content .list .bones_list .img_list .item h3{
    font-size: 4vw;
    padding-top: 1.5vw;
  }

  .content .list .bones_list div.v5 .item {
    padding-bottom: 1.5vw;
}

.content .list .bones_list div .item span {
  margin-bottom: 1.5vw;
}
.content .list .bones_list div .item:nth-child(2) {
  padding-right: 3vw;
}

  .content .list .bones_list .img_list .item span{
    font-size: 2.5vw;
  }

  .content .list .bones_list .img_list .item:nth-child(1) h3{
    text-align: center;
  }

  .content .list .bones_list .v_title{
    height: 12vw;
  }

  .content .list .bones_list .v_title .item:nth-child(1){
    font-size: 4vw;
  }

  .content .list .bones_list .v_title .item:nth-child(2){
    font-size: 4vw;
  }

  .content .list .bones_list .v1 .item:nth-child(1):after{
    left: 5vw;
    width: 25%;
  }

  .content .list .bones_list .bones_list_img{
    position: absolute;
    display: flex;
    justify-content: center;
    font-style: italic;
    background-color: #f7d4b0;
    border-radius: 15% / 50%;
    padding: 1vw;
    font-size: 4vw;
    top: 3vw;
    left: -3.8vw;
    width: 11vw;
    height: 6vw;
  }

  .content .list h3{
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    font-size: 2vw;
    margin-bottom: 3vw;
    padding-right: 1.2vw;
  }

  .content .list a.back{ 
    width: 25%;
  }

  .content .list a .text {
    margin-bottom: 4vw;
    margin-right: 8vw;
    height: 8vw;
  }

  .content_record{
    width: 100%;
  }

  .content_record .title{
    width: 100%;
    margin-top: 5vw;
  }

  .content_record .list{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 8vw;
  }

  .content_record .list .record_list{
    position: relative;
    padding: 0px;
    background-size: 100% auto;
    height: 265vw;
    margin-top: 3vw;
  }

  .content_record .list .record_list .text_list{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    height: 98%;
  }

  .content_record .list .record_list .text_list tr th {
    padding: 3vw 0;
  }

  .content_record .list .record_list .text_list tr th:nth-child(1) {
    width: 40%;
  }

  .content_record .list .record_list .text_list tr th:nth-child(2) {
    width: 30%;
  }

  .content_record .list .record_list .text_list tr th:nth-child(3){
    display: none;
  }

  .content_record .list .record_list .text_list tr th:nth-child(4){
    display: none;
  }

  .content_record .list .record_list .text_list tr th:nth-child(5){
    display: table-cell;
    position: relative;
    z-index: 1;
  }

  .content_record .list .record_list .text_list tr th:nth-child(5):after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2vw;
    height: 2vw;
    background-color: #2e2e3c;
    border-radius: 0 100% 0 0;
    z-index: -1;
  }

  .content_record .list .record_list .text_list tr th:nth-child(5):before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2vw;
    height: 2vw;
    background-color: #1b1b25;
    z-index: -1;
  }

  .content_record .list .record_list .text_list tr td {
    font-size: 3.5vw;
    padding: 1.5vw 0;
    /* color: #f7d4af; */
  }

  .content_record .list .record_list .text_list tr td span {
    color: rgba(107, 114, 128, var(--tw-text-opacity));
  }

  .content_record .list .record_list .text_list tr td:nth-child(3){
    display: none;
  }

  .content_record .list .record_list .text_list tr td:nth-child(4){
    display: none;
  }

  .content_record .list .record_list .text_list tr td:nth-child(5){
    display: table-cell;
  }

  .content_record .list .record_list .text_list:nth-child(1) {
    height: 17.5vw;
  }

  .content_record .list div.back{
    margin: auto;
    width: 60%;
    padding: 11vw 0 10vw;
    /* padding-bottom: 8vw; */
  }

  .content_record .list .back a{
    padding: 0 2.5vw;
    height: 8vw;
    align-items: center;
    font-size: 4vw;
  }
  .content_record .list .back a:last-child {
    height: 9vw;
}
.content_record .list .back a:first-child {
    height: 9vw;
}

  .content_record .list a .text{
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: -11vw;
    margin-bottom: 10vw;
    background: url("../img/SP-VIP_activity_btn_off.png") no-repeat;
    background-size: 100% auto;
    height: 10vw;
  }

  .content_record .list a .text:hover {
    background: url("../img/SP-VIP_activity_btn_on.png") no-repeat;
    background-size: 100% auto;
  }

  .content_activity{
    width: 100%;
  }

  .content_activity .title{
    width: 100%;
    margin-top: 5vw;
  }

  .content_activity .list{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 8vw;
  }

  .content_activity .list .activity_list{
    position: relative;
    padding: 0px;
    background-size: 100% auto;
    height: 200vw;
    margin-top: 3vw;
  }

  .content_activity .list .activity_list .activity_card{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url("../img/SP-VIP_activity_list_bg.png") no-repeat;
    background-size: 100% auto;
    height: 50vw;
  }

  .content_activity .list .activity_list .activity_card .img{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 0;
  }

  .content_activity .list .activity_list .activity_card .img img{
    width: 100%;
    margin-top: 3vw;
  }

  .content_activity .list .activity_list .activity_card .text{
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    font-size: 3.5vw;
    width: 85%;
  }

  .content_activity .list .activity_list .activity_card .text h5{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-start;
    width: 36%;
  }

  .content_activity .list .activity_list .activity_card .text span{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 67%;
  }

  .content_activity .list .activity_list .comingsoon{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    background: url("../img/SP-VIP_activity_comingsoon.png") no-repeat;
    background-size: 100% auto;
    height: 50vw;
  }

  .content_activity .list a.back {
    display: block;
    width: 60%;
    margin: auto;
}

  .content_activity .list a .text{
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18vw;
    margin-bottom: 7vw;
    background: url("../img/SP-VIP_activity_btn_off.png") no-repeat;
    background-size: 100% auto;
    height: 10vw;
  }

  .content_activity .list a .text:hover {
    background: url("../img/SP-VIP_activity_btn_on.png") no-repeat;
    background-size: 100% auto;
  }

  .content_gift{
    width: 100%;
    padding-bottom: 10vw;
  }

  .content_gift .swiper {
    height: 83vw;
  }

  .content_gift .swiper .mySwiper2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 90vw;
    height: 50vw;
    margin-top: 8vw;
  }

  .content_gift .swiper .mySwiper {
    width: 90vw;
    height: 20vw;
  }

  .content_gift .swiper .swiper-pagination{
    display: block;
    width: 100%;
    top: 27vw;
  }

  .content_gift .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 2vw;
    height: 2vw;
    margin: 0 1.5vw;
  }

  .content_gift .swiper .swiper-slide img {
    height: 100%;
  }

  .content_gift .title{
    width: 100%;
    margin-top: 5vw;
  }

  .content_gift .list{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 8vw;
  }

  .content_gift .list .gift_list{
    position: relative;
    padding: 0px;
    height: 100vw;
    margin-top: 3vw;
  }

  .content_gift .list .gift_list .card_list{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    width: 95%;
  }
}

/*彈窗*/

.popup{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: 9999;
}

.popup .popup_wrapper{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 25vw;
}

.popup .popup_wrapper .content{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  margin: auto;
  overflow: hidden;
  width: 25vw;
  height: 25vw;
}

.popup .popup_wrapper .popup_comingsoon{
  margin: auto;
  width: 25vw;
  height: 25vw;
  background: url("../img/popup_comingsoon.png") no-repeat;
  background-size: 100% auto;
}

.popup .popup_wrapper .popup_gift_success{
  margin: auto;
  width: 25vw;
  height: 25vw;
  background: url("../img/popup_gift_success.png") no-repeat;
  background-size: 100% auto;
}

.popup .popup_wrapper .popup_gift_done{
  margin: auto;
  width: 25vw;
  height: 25vw;
  background: url("../img/popup_gift_done.png") no-repeat;
  background-size: 100% auto;
}

.popup .popup_wrapper .popup_incorrect{
  margin: auto;
  width: 25vw;
  height: 25vw;
  background: url("../img/popup_incorrect.png") no-repeat;
  background-size: 100% auto;
}

.popup .popup_overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.85;
}

.popup .popup_close{
  position: absolute;
  z-index: 20;
  left: 56vw;
  width: 3.3vw;
  height: 3.3vw;
  top: 2vw;
}

@media (max-width: 768px) {
  /*彈窗*/

  .popup .popup_wrapper {
    height: 70vw;
  }

  .popup .popup_wrapper .content {
    width: 70vw;
    height: 70vw;
  }

  .popup .popup_wrapper .popup_comingsoon{
    width: 70vw;
    height: 70vw;
  }

  .popup .popup_wrapper .popup_gift_success{
    width: 70vw;
    height: 70vw;
  }

  .popup .popup_wrapper .popup_gift_done{
    width: 70vw;
    height: 70vw;
  }

  .popup .popup_wrapper .popup_incorrect{
    width: 70vw;
    height: 70vw;
  }

  .popup .popup_wrapper .popup_close {
    left: 67vw;
    width: 10vw;
    height: 10vw;
    top: 4vw;
  }

  .popup .popup_wrapper .content{
    height: 100%;
    width: 100%;
    overflow: visible;
  }

}

header{
  display: none;
  position: absolute;
  top: 0px;
  z-index: 40;
  margin: auto;
  width: 100%;
}

header .hamburger{
  display: none;
}

header nav{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 0.5vw;
  height: 3.5vw;
}

header nav .logo {
  margin-left: 1vw;
}

header nav .logo img {
  width: 6.3vw;
}

header nav .icon-link{
  display: flex;
  align-items: center;
}

header nav .icon-link a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2vw;
}

header nav .icon-link a div img {
  width: 1.1vw;
}

header nav .icon-link a span {
  font-size: 0.8vw;
}

@media (max-width: 768px) {
  header {
      display: block;
  }
  header nav{
    display: flex;
    position: fixed;
    z-index: 10;
    --tw-bg-opacity: 0.9;
    padding-left: 5vw;
    padding-right: 2vw;
    height: 12vw;
  }

  header nav .logo img {
    width: 16vw;
  }

  header nav .hamburger{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    height: 4.5vw;
    width: 7vw;
    margin-right: 2vw;
    margin-left: auto;
    transition: all 0.3s;
  }

  header nav .hamburger span{
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    height: 0.5vw;
  }

  header nav .hamburger.active span {
    opacity: 0;
  }

  header nav .icon-link .active {
      background: url("../img/record-btn-cancel.png") no-repeat;
      background-size: 100% auto;
      position: absolute;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;
      top: 5vw;
      right: 2vw;
      width: 18vw;
      height: 18vw;
    }

  header nav .icon-link{
    position: absolute;
    left: 0px;
    width: 100%;
    flex-direction: column;
    background: url("../img/hamburger_bg_login.jpg") no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    display: none;
    opacity: 0;
    padding: 3vw 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    top: 0;
    height: 100vh;
  }

  header nav .icon-link a{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 8vw;
    flex-direction: column;
    margin: 2.5vw 0;
  }

  header nav .icon-link a div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 45vw;
  }

  header nav .icon-link a div img {
    width: 16vw;
  }

  header nav .icon-link a span{
    display: block;
    font-size: 7.5vw;
    margin-top: 1vw;
    color: #f7d4b0;
  }

  header nav .icon-link .logout{
      border-radius: 15% / 50%;
      background-color: #f7d4b0;
      padding: .5vw 0 ;
      filter: drop-shadow(0 2vw 1vw rgba(0, 0, 0, 0.3)) drop-shadow(0 2vw 1vw rgba(0, 0, 0, 0.06));
    }

    header nav .icon-link .logout span{
      color: #414050;
      font-weight: bolder;
    }

    header nav .login .bear {
        width: 40vw;
        margin-bottom: 5vw;
}

header nav .login {
    justify-content: center;
    padding-bottom: 35vh;
}

header nav .login a .logout {
    width: 50vw;
}
  
}