@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600;700&display=swap');

*,
a,
span {
    font-family: 'Noto Serif TC', Arial, Helvetica, 微軟正黑體, Microsoft JhengHei, sans-serif;
}


html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #15161c;
    height: auto;
    position: relative;
}

body {
    height: auto;
    overflow: visible;
}

section {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.wrapper {
    position: relative;
}



/*--↓主視覺區域↓--*/
.kv_zone {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 48%;
    background: url(../images/KV_PC.jpg) no-repeat;
    background-size: 100%;
    padding-top: 30px;
    background-color: #0d192f;
    /*顏色分隔*/
    z-index: 50;
    overflow: hidden;
}

/*壓底*/
.KV_down {
    position: absolute;
    width: 100%;
    height: auto;
    padding-bottom: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 60;
    pointer-events: none;
}

/*logo*/
.KV_logo {
    position: absolute;
    width: 12.72%;
    height: auto;
    padding-bottom: 0%;
    top: 20%;
    left: 43%;
    z-index: 63;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}


/*slogan*/
.slogan {
    position: absolute;
    width: 33.80%;
    height: auto;
    padding-bottom: 0%;
    top: 28%;
    left: 32%;
    z-index: 63;

    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}




/*影片背景*/
.videoArea {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: block;
}

.videoArea video {
    object-fit: cover;
    object-position: left top;
    height: 100%;
    width: 100%;
}

@media (max-width:1024px) {
    .kv_zone {
        position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 120%;
        background: url(../images/KV_IPAD.jpg) no-repeat;
        background-size: cover;
    }

    .KV_logo {
        width: 28%;
        top: 42%;
        left: 36%;
    }
 
    .videoArea {
        display: none;
    }
}

@media (max-width:767px) {
    .kv_zone {
        width: 100%;
        height: auto;
        padding-bottom: 142%;
        background: url(../images/KV_MOB.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
    }

     .KV_logo {
        width: 35%;
        top: 40%;
        left: 33%;
    }  
}



/*--↑主視覺區域↑--*/


/* canvas */
canvas {
  display: block;
  vertical-align: bottom;
  width: 100%;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height:1080px;
  z-index: 100;
  pointer-events: none;
}

@media screen and (max-width: 960px){
    #particles-js {
        max-height: 1000px;
    }
}

/*-- news+角色 --*/
.CON {
    position: relative;
    width: 100%;
    height: auto;
    background: url(../images/bg1.jpg) no-repeat;
    background-size: 100%;
    padding-top: 0;
    z-index: 50;
    overflow: hidden;
}


/*-- SEC2 --*/
.SEC2 {
    display: block;
    z-index: 5;
}

.tit1{
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    z-index: 8;
    position: relative;
}

.tit1 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.outa {
    background-position: 50% 0;
    background-image: url(../images/outa.png);
    background-size: 100%;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding-top: 95px;
    z-index: 5;
}
.outa2 {
    background-position: 50% 0;
    background-image: url(../images/outa2.png);
    background-size: 100%;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding-top: 95px;
    z-index: 5;
}
.outb {
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-image: url(../images/outb.png);
    background-size: 100%;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    z-index: 3;
    padding-top: 0.5%;
}
.outc {
    background-position: 50% 0;
    background-image: url(../images/outc.png);
    background-size: 100%;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding-bottom: 30px;
    z-index: 5;
}

.outd {
    background-position: 50% 0;
    background-image: url(../images/outd.png);
    background-size: 100%;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding-bottom: 95px;
    z-index: 5;
}

.se2con{
    display: table;
    width: 90%;
    height: 0;
    margin: 0 auto;
    clear: both;
    padding-top: 1%;
}
.pt1{
    display: inline-block;
    float: left;
    width: 40%;
    margin:0.5% 5%;
}
.pt2{
    display: block;
    width: 80%;
    margin:-5% auto 0;
}
.pt3{
    display: block;
    width: 80%;
    margin:0 auto;
}
.pt1 img,.pt2 img,.pt3 img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.pt1 p,.pt2 p,.pt3 p{
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #f1e2c8;
    text-align: center;
}
.not1{
    color: #d1d2d8;
    font-size: 1.2rem;
    text-align: center;
    margin: 2% auto;
}
.gift {
    z-index: 8;
    position: relative;
}

.gift img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 960px){
 .se2con{
    width: 96%;
}
.outa {
    background-position: center top;
    max-width: 96%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 9%;
    z-index: 5;
}
.outa2 {
    background-position: center top;
    max-width: 96%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 9%;
    z-index: 5;
}
.outb {
    max-width: 96%;
    background-repeat: repeat-y;
    z-index: 5;
    padding-top: 5%;
}
.outc {
    background-position: 50% 0;
    max-width: 96%;
    margin: 0 auto;
    padding-bottom: 2.8%;
    z-index: 5;
}
.outd {
    background-position: 50% 0;
    max-width: 96%;
    margin: 0 auto;
    padding-bottom: 5%;
    z-index: 5;
}
.pt1,.pt2,.pt3{
    display: inline-block;
    float: left;
    width: 92%;
    margin:0.5% 5%;
}
.pt1 img,.pt2 img,.pt3 img{
    max-width: 60%;
}
.pt1 p,.pt2 p,.pt3 p{
    font-size: 1rem;
    line-height: 1.2rem;
}
.not1{
    font-size: 0.8rem;
    margin: 2% 0;
}

}

/*-- SEC3 --*/
.SEC3,.SEC4 {
    display: block;
    z-index: 5;
    margin-top: 1%;
}


.schedule{
    margin-bottom: 1%;
    z-index: 8;
    position: relative;
}


.schedule img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}
@media only screen and (max-width: 960px){
  .schedule img {
        max-width: 100%;
    }  
}
.pt1 p.list1{
    display: block;
    width: 100%;
    margin:0 auto 4%;
    text-align: left;
    font-size: 1rem;
    line-height: 1.4rem;
}

.pt3 p.list1{
    display: block;
    width: 70%;
    margin:0 auto 4%;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

@media only screen and (max-width: 960px){
.pt1 p.list1,.pt3 p.list1{
        width: 100%;
        margin:0 auto 4%;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
}



/*-- SEC_NOT --*/
.SEC_NOT{
    display: block;
    z-index: 5;
    margin-top: 1%;
}

.not_tit {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    z-index: 8;
    position: relative;
}
.not_tit img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.not_con{
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 1% auto 5%;
    color: #d0d2df;
    font-size: 1rem;
    line-height: 1.4rem;
}
@media only screen and (max-width: 960px){
    .not_tit {
    margin-top: 4%;
    margin-bottom: 5%;
}
    .not_con{
        font-size: 0.8rem;
        line-height: 1.0rem;
    }
}

/*-- footer --*/
footer {
    padding: 50px 0 60px 0;
    width: 100%;
    text-align: center;
    color: #e2edf3;
    background-color: #000000;
}

footer>div>div,
footer>div>div>div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.footer-left {
    font-size: 14px;
}

.all-right {
    margin-left: 5px;
}

.logos {
    margin: 0 20px;
}

.footer-right {
    font-size: 12px;
    line-height: 1.5;
}

.classTxt {
    margin-left: 10px;
}

.goTop {
    position: fixed;
    width: 3.6%;
    height: auto;
    bottom: 22px;
    right: 34px;
    display: none;
    z-index: 99;
}

@media (max-width:1200px) {
    .footer-right {
        margin-top: 20px;
    }
    .goTop {
        position: fixed;
        width: 7.6%;
        height: auto;
        bottom: 101px;
        right: 12px;
        display: none;
        z-index: 99;
    }
}

@media (max-width:768px) {
    footer {
        padding: 40px 0 80px 0;
    }

    .footer-left {
        width: 90%;
        text-align: center;
        margin-bottom: 15px;
        font-size: 2.8vw;
    }

    .logos {
        display: inline-block;
        margin-bottom: 20px;
    }

    .logos>img {
        width: 100%;
    }

    .footer-right {
        width: 80%;
        text-align: center;
        margin-top: 0;
    }

    .classLevel>img {
        width: 30px;
    }

    .classTxt {
        width: calc(100% - 80px);
        box-sizing: border-box;
        text-align: justify;
    }

    .classTxt>br {
        display: block;
    }

    .goTop {
        position: fixed;
        width: 7%;
        height: auto;
        bottom: 87px;
        right: 10px;
        display: none;
        z-index: 99;
    }
}

@media (max-width:414px) {
    .goTop {
        width: 10%;
        bottom: 11%;
        right: 2%;
    }
}    
/*-- footer --*/

