@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
/* .matchcss{padding-top: 8px;} */
#main #content{float:none}
#taro-content{
	width: 100%;
	height: 100%;
    margin: 0 auto;
	display:block;
    position: relative;
    z-index: 1000;
	background: #5a0d6b;
}
/* Chrome, Safari, Edge, Opera */
#taro-content input[type=number]::-webkit-outer-spin-button,
#taro-content input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#taro-content a{text-decoration: none;}
/* Firefox */
#taro-content input[type=number] {
  -moz-appearance: textfield;
}
#taro-content button{cursor: pointer;}
#taro-content img{width: 100%;height: auto;}

#taro-content .loadingMask{
position: fixed;
width: 100%;
height: 100%;
top: 0;left: 0;right: 0;bottom: 0;
background-color: rgba(255,255,255,0.8);
z-index: 9999;	
display: flex;
justify-content: center;
align-items: center;
}
#taro-content .loadingMask img{
	width: 200px;
}


#taro-content .tarotMain{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 850px;
	position: relative;
	display: inline-block;
}

#taro-content .tarotMain1{	
	position: absolute;
	z-index: -1;
	width: 100%;
	min-height: 667px;
	background: url('../images/tarot/web-use1.webp') top -25px center no-repeat;	
	background-size: cover;	
	transition:all 1s;
}

#taro-content .tarotMain2{
	position: absolute;
	z-index: -1;
	width: 100%;
	min-height: 667px;
	background: url('../images/tarot/web-use2.webp') top -25px center no-repeat;
	background-size: cover;
	transition:all 1s;
}

#taro-content  .slogan{
	padding:0 15px;
	max-width: 650px;
	margin: 0 auto ;
}

#taro-content .slogan img{width: 100%;height: auto;}

#taro-content .title1,.title2{ 
	position: relative;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 23px;
	letter-spacing: 1px;
	text-shadow: 0 0 8px #f700b4, 0 0 12px #ce0097;
	line-height: 30px;
	font-weight: bold;
	/* padding: 0 25px; */
}

#taro-content .bubblePlz{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-around;

}



#taro-content .bubblePlz img{
	height: auto;
	-webkit-animation: bounce-down 3s linear infinite;
	animation: bounce-down 3s linear infinite;
	transition: all 0.5s;
	cursor: pointer;
}

#taro-content .bubblePlz img:hover{
	-webkit-filter:brightness(1.2);
}

#taro-content .bubblePl2{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 370px;
	transition: all 0.5s;
}

#taro-content .bubblePl2 .bubble1-2 img{
	position: absolute;
	width: 80px;
	left: calc( 50% - 45px ) ;
	height: auto;
	-webkit-animation: bounce-down 3s linear infinite;
	animation: bounce-down 3s linear infinite;
	transition: all 0.5s;
}
#taro-content .bubblePl2 .bubble2-2 img{
	position: absolute;
	width: 80px;
	left: calc( 50% - 45px ) ;
	height: auto;
	-webkit-animation: bounce-down 3s linear infinite;
	animation: bounce-down 3s linear infinite;
	transition: all 0.5s;
}

@-webkit-keyframes bounce-down {
	25% {
		-webkit-transform: translateY(-10px);
	}
	50%,
	100% {
		-webkit-transform: translateY(0);
	}
	75% {
		-webkit-transform: translateY(10px);
	}
}

@keyframes bounce-down {
	25% {
		transform: translateY(-10px);
	}
	50%,
	100% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(10px);
	}
}





#taro-content .girl-txt{
	color: #ff6565;
	margin-bottom: 5px;
	font-size: 17px;
	display: none;
}
#taro-content .p1Txt{
	position: relative;
	width: 100%;	
	box-sizing: border-box;
	max-width: 600px;
	margin: 0 auto;
}

#taro-content .formBox{
	position: relative;
	display: block;
	width: 100%;
	height: auto;	
	background: url('../images/tarot/formBG.jpg') top center repeat-y;
	background-size:100% auto;	 
	border-top: #ffb846 1px solid;
	border-bottom: #ffb846 1px solid;
	box-sizing: border-box;
}
#taro-content .formBox::before{
	content: '';	
	display: block;
	background-color: #ffb846;
	position: relative;
	width: 100%;
	top: -7px;
	border-top: 3px #ffb846 solid;
}
#taro-content .formBox::after{
	content: '';	
	display: block;
	background-color: #ffb846;
	position: relative;
	width: 100%;
	bottom: -7px;
	border-top: 3px #ffb846 solid;
}
#taro-content .formBox .mid{
	max-width: 350px;
	margin: 0 auto;
	min-height: 350px;
	position: relative;
	padding: 8px;
	display: flex;
	align-content:flex-start;
	justify-content:center;
	flex-wrap: wrap;
	/* padding-top: 20px; */
}
#taro-content .formBox .mid .formG{
	width: 100%;
	margin: 2px 0;
	position: relative;
}


#taro-content .formBox .mid .formG label{
	font-size: 15px;
	display: block;
	white-space: nowrap;
	padding: 0 0 7px 0;
	color: #ffffff;
	text-shadow: 0 0 8px #f700b4, 0 0 12px #ce0097;
	min-width: 80px;
	position: relative;
	top: 3px;
	
}
#taro-content .formBox .mid .formG input,
#taro-content .formBox .mid .formG select{
	box-sizing: border-box;
	width: 100%;
	padding: 7px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 15px;
}


#taro-content .formG2{
	position: absolute;
	right: 0;
	top: 31px;
}

#taro-content .formG2 button{
	white-space: nowrap;
	font-size: 15px;
	padding: 7px;
	margin-left: 3px;
	border-radius: 5px;
	border: 1px solid #6626ea;
	background-color: #6626ea;
	color: #ffffff;
	transition: all 0.5s;
}
#taro-content .formG2 button:hover{
	border: 1px solid #8649ff;
	background-color: #8649ff;
}


#taro-content .formBox .mid .formG label.error{
	font-size: 12px;
	color: #e066c6;
	display: block;
	padding: 0;
	transition: all 0.5s;
}

#taro-content .downBtn{
	width: 100%;
	text-align: center;
	color: #ffe1a0;
	margin-top: 15px;
}
#taro-content .remark{
	text-align: right;
	font-size: 13px;
	width: 100%;
	color: #e066c6;
	position: absolute;
	right: 15px;
	bottom: 0;
}

#taro-content .downBtn button{
	color: #ffb948;
	border: 1px solid #ffb948;
	font-size: 15px;
	padding: 5px 8px;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	min-width: 80px;
	transition: all 0.5s;
}
#taro-content .downBtn button:hover{
	color: #ffffff;
	background-color:#ffc466
}
#taro-content .downBtn button.submit{
	color: #ffffff;
	border: 1px solid #ff66d6;
	background-color: #f700b4;
}
#taro-content .downBtn button:hover.submit{
	color: #ffffff;
	border: 1px solid #ff66d6;
	background-color: #ff2ec7;
}

#taro-content .downBtn a{
	color: #ff4e6c;
	font-weight: bold;
}
#taro-content .downBtn a:hover{
	color: #ff6a82;
}


#taro-content .cardStartHide{
	text-align: center;
	width: 100%;
	position: absolute;
	top:350px;
	display: none;
}

#taro-content .cardStartHide img{
	position: relative;
	left: -5px;
	width: 40px;
	-webkit-filter:brightness(1.9);
}
#taro-content .cardPlc{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	width: 0%;
	transition:all 0.5s;
	padding: 15px 0;
	opacity:0;
	background: url('../images/tarot/formBG.jpg') top center repeat-y;
	background-size: 100% auto;	
}
#taro-content .cardPlc::before{
	content: '';	
	display: block;
	background-color: #d4a150;
	position: relative;
	width: 100%;
	top: -22px;
	border-top: 3px #d4a150 solid;
}
#taro-content .cardPlc::after{
	content: '';	
	display: block;
	background-color: #d4a150;
	position: relative;
	width: 100%;
	bottom: -22px;
	border-top: 3px #d4a150 solid;
}

#taro-content .cardPlc a{
	display: inline-block;
	cursor: auto;
	background-color: transparent;
	border: 0
}

#taro-content .cardPlc img{
	transition:all 0.5s;
	cursor: pointer;
}


/*翻牌特效*/
#taro-content .flip-card{
	max-width: 180px;	
	perspective: 1000px;
	cursor: pointer;
	transition: all 0.8s;
	position: relative;
	z-index: 6;
	margin-bottom: 5px;
}


#taro-content .flip-card h3{
	text-align: center;
	margin-top: 15px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	display: none;
	text-shadow: 0 0 8px #f700b4, 0 0 12px #ce0097;
}

#taro-content .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 0.6s;
	transform-style: preserve-3d;
	/* -webkit-animation: flip 3s ease forwards;
	animation: flip 3s ease forwards; */
	-webkit-animation-name: flip;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
		
}
#taro-content .flip-card-inner img{
	width: 100%;
	height: auto;
	position: relative;
	transform: scale(1.05);
	
}

#taro-content .flip-card-front {	
	border-radius: 17px;
	position: absolute;
	z-index: 96;
	box-shadow: 0px 2px 14px 3px #f53ab7;
	-webkit-box-shadow: 0px 2px 14px 3px #f53ab7;
	-moz-box-shadow: 0px 2px 14px 3px #f53ab7;
	-o-box-shadow: 0px 2px 14px 3px #f53ab7;
	border: 1px solid #f53ab7;
	overflow: hidden;
}
#taro-content .flip-card-front img{
	width: 100%;
	height: auto;
}

#taro-content .flip-card-back {
	border-radius: 17px;
	/* position: absolute; */
	z-index: 95;
	box-shadow: 0px 2px 14px 3px #f53ab7;
	-webkit-box-shadow: 0px 2px 14px 3px #f53ab7;
	-moz-box-shadow: 0px 2px 14px 3px #f53ab7;
	-o-box-shadow: 0px 2px 14px 3px #f53ab7;
	border: 1px solid #f53ab7;
	overflow: hidden;
	transform: rotateY(180deg);
	display: block;
}
#taro-content .flip-card-back img{
	width: 100%;
	height: auto;
}

#taro-content .flip-card:hover {
	-webkit-filter:brightness(1.2);
}
@-webkit-keyframes flip {
	0% {-webkit-transform: rotateY(0)}
	100% {-webkit-transform: rotateY(180deg)}
}

@keyframes flip {
	0% {-webkit-transform: rotateY(0)}
	100% {-webkit-transform: rotateY(180deg)}
}
/*翻牌特效*/



	

  
#taro-content .cardResult{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 25px auto;	
	position: relative;	
}


#taro-content .cardResult-txt{
	width: 100%;
	text-align: center;
	padding: 0 25px;	
	transition: all 0.6s;
	position: relative;
	z-index: 5;
}

#taro-content .cardResult-txt h2{
	font-size: 21px;
	width: 100%;
	font-weight: bold;
	margin: 5px 0 18px 0;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 0 8px #f700b4, 0 0 12px #ce0097;
}
#taro-content .cardResult-txt h2 span{
	font-size: 30px;
}

#taro-content .cardResult-txt .txt-r{
	max-width: 500px;
	margin: 0 auto;
	letter-spacing: 1.5px;
	line-height: 25px;
	color: #ffffff;
	font-size: 16px;
	text-shadow: 0 0 8px #f700b4, 0 0 12px #272727;
}

#taro-content .cardResult-txt .txt-r p{
	margin-bottom:15px ;
}


#taro-content .tarotBG{
	width: 100%;
	height: 100%;
	position: absolute;
	top: -20px;
	background: url('../images/tarot/tarot-bg.png') center center no-repeat;
	background-size:contain;	
	z-index: 1;
	-webkit-animation: tarotBG 5s  infinite linear;
	animation: tarotBG 5s  infinite linear;
}

@-webkit-keyframes tarotBG {
	0% {-webkit-filter:brightness(0.7);}
	50% {-webkit-filter:brightness(1.1);}
	100% {-webkit-filter:brightness(0.7);}
}

@keyframes tarotBG {
	0% {-webkit-filter:brightness(0.7);}
	50% {-webkit-filter:brightness(1.1);}
	100% {-webkit-filter:brightness(0.7);}
}

#taro-content .cardResult2{
	max-width: 800px;
	margin: 25px auto 35px auto;	
	position: relative;	
	z-index: 5;
}

#taro-content .cardResult2 .txt-title{
	width: 100%;
	border-left: 2px solid #ffb846;
	border-right: 2px solid #ffb846;
	box-sizing: border-box; 
	background-color: #ffb846;
}

#taro-content .cardResult2 .txt-title img{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	position: relative;
	top: 3px;
}

#taro-content .cardResult2 .txt-r h1{
	font-size: 65px;
	margin: 35px 0 45px 0;
	font-weight: bolder;
	color: #f00e77;
	text-align: center;
}


#taro-content .cardResult2 .txt-r{
	width: 100%;
	text-align: left;
	margin: 0 auto;
	line-height: 25px;
	font-size: 16px;
	color: #c00b5f;
	padding: 13px;
	border: 2px solid #ffb846;
	border-top: 0;
	background: url('../images/tarot/form-paper.jpg') top center no-repeat;
	background-size:cover;	
	box-sizing: border-box;
}

#taro-content .cardResult2 .txt-r p{
	margin-bottom: 15px;
}
#taro-content .cardResult2 .txt-r p.remark2{
	
	color: #ff88bf;
}

#taro-content .cardResult2 .txt-r p:last-child{
	margin-bottom: 0;
}

#taro-content .d4banner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	max-width: 800px;
    margin:  50px auto;
	position: relative;
	z-index: 4;
}
#taro-content .d4banner a{
	transition: all 0.5s;
}
#taro-content .d4banner a:hover{
	-webkit-filter:brightness(1.2);
}
#taro-content .d4banner a img{
	width: 150px;
	height: auto;
}


#taro-content .p1Title{
	text-align: center;
	font-size: 21px;
	margin: 35px auto;
	color: #ffffff;
	letter-spacing: 1.5px;
	text-shadow: 0 0 1px rgb(199, 0, 146),0 0 3px #cf0098,0 0 5px #cf0098, 0 0 12px #ff21c4, 0 0 32px #ff21c4, 0 0 42px #ffffff, 0 0 80px #ffffff;
}
#taro-content .p1Title p{
	margin: 15px auto;
}



#taro-content .downTxt{
	max-width: 450px;
    margin: 15px auto 0 auto;
	padding:15px 25px;
	border:1px dashed  #ff4e6c;
	text-align: center;
	color: #533300;
}
#taro-content .downTxt i{
	color: #ff853e;
}
#taro-content .downTxt h3{
	color: #311e00;
	font-size: 19px;
	margin-bottom: 15px;
	font-weight: bold;
}
#taro-content .downTxt a{
	white-space: nowrap;
	color: #ff4e6c;
	
	transition: color 0.5s;
}
#taro-content .downTxt a:hover{color: #ff6a82;}
#taro-content .downTxt ul{
	/* list-style-type:disc; */
	/* padding-left: 25px; */
}
#taro-content .downTxt ul li{
	/* text-indent: -8px; */
	line-height: 25px;
	margin-bottom: 10px;
	font-weight: bold;

}



@media screen and (min-width: 1200px) {
	#taro-content .bubble1 img,
	#taro-content .bubble2 img{
		max-width: 180px;
		max-height: 181.44px;
		position: absolute;
	}

	#taro-content .bubble1 img{		
		left: 150px;
	}
	#taro-content .bubble2 img{
		right: 150px;
	}
	#taro-content .bubble1 img:hover,
	#taro-content .bubble2 img:hover{
		max-width: 190px;
		max-height: 191.52px;
	}

	#taro-content .bubble1 img:hover{
		left: 145px;
	}
	#taro-content .bubble2 img:hover{
		right: 145px;
	}

	#taro-content .cardPlc{
		margin-top: 220px;;
	}
	#taro-content .cardPlc a{
		width: 12.5%;
		height:180px;
		text-align: center;
	}

	#taro-content .cardPlc img{
		width: 100px;
	}
	#taro-content .cardPlc a:hover img{
		width: 105px;
		-webkit-filter:brightness(1.9);
		
	}

	#taro-content .p1Txt{margin-top: 280px;}

	#taro-content .formBox{margin-top: 220px;}



}

@media screen and (min-width: 800px)and (max-width: 1200px) {
	#taro-content .bubble1 img,
	#taro-content .bubble2 img{
		max-width: 170px;
		max-height: 171.36px;
		position: absolute;
	}

	#taro-content .bubble1 img{left: 120px}
	#taro-content .bubble2 img{right: 120px}
	#taro-content .bubble1 img:hover,
	#taro-content .bubble2 img:hover{
		max-width: 180px;
		max-height: 181.44px;
	}
	#taro-content .bubble1 img:hover{left: 115px;}
	#taro-content .bubble2 img:hover{right: 115px}

	#taro-content .cardPlc{
		margin-top: 220px;
	}
	#taro-content .cardPlc a{
		width: 12.5%;
		height:180px;
		text-align: center;
	}

	#taro-content .cardPlc img{
		width: 100px;
	}
	#taro-content .cardPlc a:hover img{
		width: 105px;
		-webkit-filter:brightness(1.9);
		
	}

	#taro-content .p1Txt{margin-top: 280px;}

	#taro-content .formBox{margin-top: 220px;}

}
@media screen and (max-width: 800px) {

	#taro-content .tarotMain{
		min-height: 667px;
	}

	#taro-content .tarotMain{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		min-height: 667px;
		position: relative;
		/* overflow: hidden; */
	}


	#taro-content .cardStartHide{
		top:280px;
	}

	#taro-content .bubble1 img,
	#taro-content .bubble2 img{
		max-width: 110px;
		max-height: 110.88px;
		position: absolute;
	}

	#taro-content .bubble1 img{left: 20px;}
	#taro-content .bubble2 img{right: 20px;}
	#taro-content .bubble1 img:hover,
	#taro-content .bubble2 img:hover{
		max-width: 120px;
		max-height: 120.96px;
	}

	#taro-content .bubble1 img:hover{left: 15px;}
	#taro-content .bubble2 img:hover{right: 15px;}

	#taro-content .bubblePl2{
		top: 300px;
	}

	#taro-content .cardPlc{
		margin-top: 220px;
	}
	#taro-content .cardPlc a{
		width: 16.6666%;
		height:90px;
		text-align: center;
	}

	#taro-content .cardPlc img{
		width: 60px;
	}
	#taro-content .cardPlc a:hover img{
		width: 65px;
		-webkit-filter:brightness(1.9);
		
	}

	#taro-content .p1Txt{margin-top: 180px;}

	#taro-content .formBox{margin-top: 220px;}


}

