@charset "utf-8";

/*action*/

@-webkit-keyframes updown {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}

@keyframes updown {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}

.updown {
    animation-name: updown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes shine {
    from {
        opacity: 1.0;
        transform: scale(1.0);
    }

    50% {
        opacity: 0.8;
        transform: scale(0.6);
    }

    to {
        opacity: 1.0;
        transform: scale(1.0);
    }
}

.shine {
    animation-name: shine;
    animation-iteration-count: infinite;
}

@keyframes fadeA {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

.fadeA {
    animation-name: fadeA;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fadeB {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.8;
    }
}

.fadeB {
    animation-name: fadeB;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fadeC {
    0% {
        opacity: 0.8;
        transform: translateY(3%);

    }

    50% {
        opacity: 0.2;
        transform: translateY(-5%);

    }

    100% {
        opacity: 0.8;
        transform: translateY(3%);

    }
}

.fadeC {
    animation-name: fadeC;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@-webkit-keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}

@keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}


/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,a {
	display: block;
}

section {
	display: inline-block;
}

body {
	line-height: 1;
}

/*action*/
@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

