html {
  font-family: "Helvetica", "Noto Sans TC", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "spHelvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background: #ffffff;
}

body {
  @apply flex flex-col w-full h-full bg-gray-500 text-gray-500;
  font-family: "Helvetica", "Noto Sans TC", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "spHelvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background: #1b1b25;
}

.wrapper {
  @apply relative flex flex-col justify-center w-full h-full;
  background: #1b1b25;
}

a,
button {
  @apply transition-all duration-500;
}

button {
  @apply outline-none cursor-pointer;
  -webkit-tap-highlight-color: transparent;
}

.sp {
  @apply hidden;
}

@media (max-width: 768px) {
  .sp {
    @apply block;
  }
  .pc {
    @apply hidden;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes show {
  0% {
    @apply opacity-0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    @apply opacity-100;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes toLeft {
  0% {
    @apply opacity-0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    @apply opacity-100;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes scare-12 {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes run {
  0% {
      right: -200%;
      filter: brightness(1);
  }

  50% {
      right: 300%;
      filter: brightness(1.5);
  }

  100% {
      right: -200%;
      filter: brightness(1);
  }
}
@keyframes rightmove {
  0% {
    right: 6.5vw;
  }

  50% {
    right: 6vw;
  }

  100% {
    right: 6.5vw;
  }
}