footer {
    @apply hidden;
}

@media (max-width: 768px) {
    footer {
        @apply m-0 flex sticky w-full z-30;
        left: 0;
        bottom: 0;
        background: url("../img/SP_nav_bg.png") no-repeat;
        background-size: 100% auto;

        & .sp_login {
            @apply flex justify-evenly mx-0 my-auto w-full;
            height: 18vw;

            & a {
                @apply mx-2;
                margin-top: 10vw;
                font-size: 3.2vw;

                &:hover {
                    color: #f7d4af;
                }

            }

            & span::after {
                @apply mx-auto;
                margin-top: 10vw;
                content: "";
                display: flex;
                width: 1px;
                height: 4vw;
                background-color: #6e6e6e;
            }

            & .active {
                color: #f7d4af;
            }

            & .img {
                // @apply relative;
                background: url("../img/SP_nav_login.png") no-repeat;
                background-size: 100% auto;
                text-align: center;
                margin-top: -2.5vw;
                width: 22vw;

                & .user-img {
                    @apply m-0 w-full h-full flex flex-col justify-center;
                    font-size: 2.5vw;

                    & h5 {
                        color: #0000;
                    }

                    & h6 {
                        @apply mx-auto;
                        color: #000;
                    }
                }
            }
        }

        & .sp_unlogin {
            @apply flex justify-between mx-0 my-auto w-full;
            background: url("../img/SP_nav_bg.png") no-repeat;
            background-size: 100% auto;
            background-color: #1b1b25;
            height: 18vw;
            margin-bottom: 0;

            & a {
                @apply mx-3;
                margin-top: 10vw;
                font-size: 3.2vw;

                &:hover {
                    color: #f7d4af;
                }
            }

            & span::after {
                @apply mx-auto;
                margin-top: 10vw;
                content: "";
                display: flex;
                width: 1px;
                height: 4vw;
                background-color: #6e6e6e;
            }

            & .active {
                color: #f7d4af;
            }

            & .img {
                background: url("../img/SP_nav_unlogin.png") no-repeat;
                background-size: 100% auto;
                margin-top: -2.5vw;
                // margin-bottom: 0;
                width: 22vw;
            }
        }
    }
}