.nav {
    @apply absolute w-1/6 z-10;
    top: 50vw;
    left: 15vw;

    & .login {
        @apply relative;
        background: url("../img/nav_login.png") no-repeat;
        background-size: 100% auto;
        width: 15vw;
        height: 50vw;

        & :nth-child(1) {
            background: url("../img/nav_logout.png") no-repeat;
            background-size: 100% auto;
            height: 2.5vw;
            width: 4vw;
            top: 7.3vw;
            left: 1vw;
        }

        & span {
            @apply absolute flex flex-col text-center;
            color: #f7d4af;
            font-size: 1.1vw;
            left: auto;
            right: auto;
        }

        & :nth-child(2) {
            font-size: 1.5vw;
            top: 10vw;
            left: 3.8vw;
        }

        & :nth-child(3) {
            font-size: 1.25vw;
            top: 12.5vw;
            left: 5.3vw;
        }

        & :nth-child(4) {
            font-size: 0.8vw;
            top: 14vw;
            left: 4.3vw;
        }

        & :nth-child(5) {
            font-size: 0.8vw;
            top: 19vw;
            left: 3.6vw;
        }

        & :nth-child(6) {
            font-size: 0.8vw;
            top: 19vw;
            right: 3.6vw;
        }

        & :nth-child(7) {
            font-size: 0.8vw;
            top: 23.5vw;
            left: 3.6vw;
        }

        & :nth-child(8) {
            font-size: 0.8vw;
            top: 23.5vw;
            right: 3.6vw;
        }

        & a {
            @apply absolute flex flex-col text-center;
            font-size: 1.4vw;
            letter-spacing: .3vw;

            &:hover {
                color: #f7d4af;
            }
        }

        & :nth-child(9) {
            top: 32vw;
            left: 4.1vw;
        }

        & :nth-child(10) {
            top: 35.3vw;
            left: 4.1vw;
        }

        & :nth-child(11) {
            top: 38.5vw;
            left: 4.1vw;
        }

        & :nth-child(12) {
            top: 41.8vw;
            left: 4.1vw;
        }

        & .active {
            color: #f7d4af;
        }
    }

    & .unlogin {
        @apply flex;
        background: url("../img/nav_unlogin.png") no-repeat;
        background-size: 100% auto;
        width: 15vw;
        height: 50vw;

        & a {
            @apply absolute flex flex-col text-center;
            font-size: 1.4vw;
            letter-spacing: .3vw;

            &:hover {
                color: #f7d4af;
            }
        }

        & :nth-child(1) {
            top: 12.4vw;
            left: 4.4vw;
            color: #0000;

            &:hover {
                color: #0000;
            }
        }

        & :nth-child(2) {
            top: 20.5vw;
            left: 4.1vw;
        }

        & :nth-child(3) {
            top: 23.8vw;
            left: 4.1vw;
        }

        & :nth-child(4) {
            top: 27.2vw;
            left: 4.1vw;
        }

        & :nth-child(5) {
            top: 30.5vw;
            left: 4.1vw;
        }

        & .active {
            color: #f7d4af;
        }
    }

}

@media (max-width: 768px) {
    .nav {
        @apply hidden;
    }
}