/*彈窗*/
.popup {
    @apply fixed w-full h-full top-0 bottom-0 left-0 right-0 m-auto hidden;
    @apply justify-center items-center transition-all duration-500 opacity-0;
    z-index: 9999;

    & .popup_wrapper {
        @apply relative w-full z-10;
        height: 25vw;

        & .content {
            @apply absolute top-0 bottom-0 left-0 right-0 m-auto z-10 overflow-hidden;
            width: 25vw;
            height: 25vw;
        }
        & .popup_comingsoon{
            @apply m-auto;
            width: 25vw;
            height: 25vw;
            background: url("../img/popup_comingsoon.png") no-repeat;
            background-size: 100% auto;
        }
        & .popup_gift_success{
            @apply m-auto;
            width: 25vw;
            height: 25vw;
            background: url("../img/popup_gift_success.png") no-repeat;
            background-size: 100% auto;
        }
        & .popup_gift_done{
            @apply m-auto;
            width: 25vw;
            height: 25vw;
            background: url("../img/popup_gift_done.png") no-repeat;
            background-size: 100% auto;
        }
        & .popup_incorrect{
            @apply m-auto;
            width: 25vw;
            height: 25vw;
            background: url("../img/popup_incorrect.png") no-repeat;
            background-size: 100% auto;
        }
    }

    & .popup_overlay {
        @apply absolute w-full h-full;
        @apply bg-black;
        --tw-bg-opacity: 0.85;
    }
}

.popup .popup_close{
    position: absolute;
    z-index: 20;
    left: 56vw;
    width: 3.3vw;
    height: 3.3vw;
    top: 2vw;
  }

@media (max-width: 768px) {

    /*彈窗*/
    .popup {
        & .popup_wrapper {
            height: 70vw;

            & .content {
                width: 70vw;
                height: 70vw;
            }
            & .popup_comingsoon{
                width: 70vw;
                height: 70vw;
            }
            & .popup_gift_success{
                width: 70vw;
                height: 70vw;
            }
            & .popup_gift_done{
                width: 70vw;
                height: 70vw;
            }
            & .popup_incorrect{
                width: 70vw;
                height: 70vw;
            }

            & .popup_close {
                left: 67vw;
                width: 10vw;
                height: 10vw;
                top: 4vw;
            }

            & .content {
                @apply overflow-visible w-full h-full;
            }
        }
    }
}